In [471]:
import pandas as pd
import numpy as np
import time
from time import sleep

In [472]:
df = pd.read_excel ("C:\\Users\\Kofi\\Desktop\\Train.xlsx")
time.sleep(2)
#"C:\Users\Kofi\Downloads\Train.csv"
#C:\Users\Kofi\Desktop\Train.xlsx

In [473]:
df.head()

,ID,country,age_group,travel_with,total_female,total_male,purpose,main_activity,info_source,tour_arrangement,...,package_transport_tz,package_sightseeing,package_guided_tour,package_insurance,night_mainland,night_zanzibar,payment_mode,first_trip_tz,most_impressing,total_cost
0,tour_0,SWIZERLAND,45-64,Friends/Relatives,1.0,1.0,Leisure and Holidays,Wildlife tourism,"Friends, relatives",Independent,...,No,No,No,No,13,0,Cash,No,Friendly People,674602.5
1,tour_10,UNITED KINGDOM,25-44,NaN,1.0,0.0,Leisure and Holidays,Cultural tourism,others,Independent,...,No,No,No,No,14,7,Cash,Yes,"Wonderful Country, Landscape, Nature",3214906.5
2,tour_1000,UNITED KINGDOM,25-44,Alone,0.0,1.0,Visiting Friends and Relatives,Cultural tourism,"Friends, relatives",Independent,...,No,No,No,No,1,31,Cash,No,Excellent Experience,3315000.0
3,tour_1002,UNITED KINGDOM,25-44,Spouse,1.0,1.0,Leisure and Holidays,Wildlife tourism,"Travel, agent, tour operator",Package Tour,...,Yes,Yes,Yes,No,11,0,Cash,Yes,Friendly People,7790250.0
4,tour_1004,CHINA,2022-01-24 00:00:00,NaN,1.0,0.0,Leisure and Holidays,Wildlife tourism,"Travel, agent, tour operator",Independent,...,No,No,No,No,7,4,Cash,Yes,No comments,1657500.0

In [474]:
ctry = df['country']

In [475]:
type(ctry)

pandas.core.series.Series

In [476]:
ctry.describe()

count                         4809
unique                         105
top       UNITED STATES OF AMERICA
freq                           695
Name: country, dtype: object

In [477]:
unique, counts = np.unique(ctry, return_counts=True)

In [478]:
ctrys = np.asarray((unique, counts)).T

In [479]:
import time
from time import sleep
from selenium import webdriver
from selenium.webdriver.common.keys import Keys
from webdriver_manager.chrome import ChromeDriverManager
driver = webdriver.Chrome(ChromeDriverManager().install())

====== WebDriver manager ======
Current google-chrome version is 101.0.4951
Get LATEST chromedriver version for 101.0.4951 google-chrome
Driver [C:\Users\Kofi\.wdm\drivers\chromedriver\win32\101.0.4951.41\chromedriver.exe] found in cache
C:\Users\Kofi\AppData\Local\Temp/ipykernel_13564/2674708284.py:6: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = webdriver.Chrome(ChromeDriverManager().install())

In [480]:
driver.get("https://au.int/en/member_states/countryprofiles2")  
time.sleep(15)

In [481]:
driver.maximize_window()

In [482]:
i = driver.find_element_by_xpath("(//tbody)[1]")

C:\Users\Kofi\AppData\Local\Temp/ipykernel_13564/1135680224.py:1: DeprecationWarning: find_element_by_xpath is deprecated. Please use find_element(by=By.XPATH, value=xpath) instead
  i = driver.find_element_by_xpath("(//tbody)[1]")

In [483]:
text = i.text
#(//tbody)[1]

In [484]:
type(text)

str

In [485]:
rep = text.replace("\n", ". ")

In [486]:
import re
expression = re.compile(r'([A-Z][^\.!?]*[\.!?])')
new_list = re.findall(expression, rep)

In [487]:
new_list

['Member State  Abbreviation Date of joining.',
 'OAU or AU.',
 'Republic of Burundi  Burundi 25 May 1963.',
 'Republic of Cameroon  Cameroon 25 May 1963.',
 'Central African Republic  Central African Republic 25 May 1963 .',
 'Republic of Chad  Chad 25 May 1963.',
 'Republic of the Congo  Congo Republic 25 May 1963.',
 'Democratic Republic of Congo  DR Congo 25 May 1963.',
 'Republic of Equatorial Guinea  Equatorial Guinea 12 October 1968.',
 'Gabonese Republic  Gabon 25 May 1963.']

In [488]:
converted_list = [x.upper() for x in new_list]

In [489]:
converted_list

['MEMBER STATE  ABBREVIATION DATE OF JOINING.',
 'OAU OR AU.',
 'REPUBLIC OF BURUNDI  BURUNDI 25 MAY 1963.',
 'REPUBLIC OF CAMEROON  CAMEROON 25 MAY 1963.',
 'CENTRAL AFRICAN REPUBLIC  CENTRAL AFRICAN REPUBLIC 25 MAY 1963 .',
 'REPUBLIC OF CHAD  CHAD 25 MAY 1963.',
 'REPUBLIC OF THE CONGO  CONGO REPUBLIC 25 MAY 1963.',
 'DEMOCRATIC REPUBLIC OF CONGO  DR CONGO 25 MAY 1963.',
 'REPUBLIC OF EQUATORIAL GUINEA  EQUATORIAL GUINEA 12 OCTOBER 1968.',
 'GABONESE REPUBLIC  GABON 25 MAY 1963.']

In [490]:
list1 = ctrys.tolist()

In [491]:
list1

[['ALGERIA', 2],
 ['ANGOLA', 1],
 ['ARGENTINA', 1],
 ['AUSTRALIA', 186],
 ['AUSTRIA', 18],
 ['BELGIUM', 49],
 ['BERMUDA', 1],
 ['BRAZIL', 10],
 ['BURGARIA', 2],
 ['BURUNDI', 64],
 ['CANADA', 114],
 ['CAPE VERDE', 1],
 ['CHILE', 2],
 ['CHINA', 65],
 ['COLOMBIA', 3],
 ['COMORO', 1],
 ['CONGO', 11],
 ['COSTARICA', 1],
 ['CROATIA', 2],
 ['CYPRUS', 1],
 ['CZECH REPUBLIC', 11],
 ['DENMARK', 41],
 ['DJIBOUT', 3],
 ['DOMINICA', 1],
 ['DRC', 30],
 ['EGYPT', 10],
 ['ESTONIA', 1],
 ['ETHIOPIA', 6],
 ['FINLAND', 8],
 ['FRANCE', 280],
 ['GEORGIA', 1],
 ['GERMANY', 223],
 ['GHANA', 2],
 ['GREECE', 7],
 ['HUNGARY', 2],
 ['INDIA', 87],
 ['INDONESIA', 3],
 ['IRAN', 2],
 ['IRAQ', 1],
 ['IRELAND', 29],
 ['ISRAEL', 16],
 ['ITALY', 393],
 ['IVORY COAST', 1],
 ['JAPAN', 53],
 ['KENYA', 235],
 ['KOREA', 12],
 ['KUWAIT', 2],
 ['LATVIA', 2],
 ['LEBANON', 3],
 ['LESOTHO', 1],
 ['LITHUANIA', 4],
 ['LUXEMBOURG', 2],
 ['MADAGASCAR', 1],
 ['MALAWI', 20],
 ['MALAYSIA', 23],
 ['MALT', 3],
 ['MAURITIUS', 2],
 ['MEXICO', 2],
 ['MONTENEGRO', 1],
 ['MORROCO', 1],
 ['MOZAMBIQUE', 8],
 ['MYANMAR', 1],
 ['NAMIBIA', 2],
 ['NEPAL', 2],
 ['NETHERLANDS', 112],
 ['NEW ZEALAND', 18],
 ['NIGER', 1],
 ['NIGERIA', 4],
 ['NORWAY', 21],
 ['OMAN', 35],
 ['PAKISTAN', 6],
 ['PHILIPINES', 2],
 ['POLAND', 16],
 ['PORTUGAL', 10],
 ['QATAR', 8],
 ['ROMANIA', 2],
 ['RUSSIA', 8],
 ['RWANDA', 40],
 ['SCOTLAND', 4],
 ['SERBIA', 6],
 ['SINGAPORE', 7],
 ['SLOVAKIA', 2],
 ['SLOVENIA', 1],
 ['SOUTH AFRICA', 235],
 ['SPAIN', 165],
 ['SRI LANKA', 3],
 ['SUDAN', 4],
 ['SWAZILAND', 4],
 ['SWEDEN', 37],
 ['SWIZERLAND', 64],
 ['TAIWAN', 9],
 ['THAILAND', 2],
 ['TRINIDAD TOBACCO', 1],
 ['TUNISIA', 1],
 ['TURKEY', 5],
 ['UAE', 33],
 ['UGANDA', 159],
 ['UKRAIN', 2],
 ['UNITED ARAB EMIRATES', 13],
 ['UNITED KINGDOM', 533],
 ['UNITED STATES OF AMERICA', 695],
 ['URUGUAY', 1],
 ['YEMEN', 2],
 ['ZAMBIA', 191],
 ['ZIMBABWE', 274]]

In [492]:
type(list1)

list

In [493]:
li = str(list1)

In [494]:
co = str(converted_list)

In [495]:
from itertools import chain

In [496]:
check = ' '.join(str(v) for v in list1)

In [497]:
m = check.replace("[", "")
mo = m.replace("]", "")
mov = mo.replace("'", "")
move = mov.replace(".", "")
movi = move.replace(",", "")

In [498]:
type(movi)

str

In [499]:
movi

'ALGERIA 2 ANGOLA 1 ARGENTINA 1 AUSTRALIA 186 AUSTRIA 18 BELGIUM 49 BERMUDA 1 BRAZIL 10 BURGARIA 2 BURUNDI 64 CANADA 114 CAPE VERDE 1 CHILE 2 CHINA 65 COLOMBIA 3 COMORO 1 CONGO 11 COSTARICA 1 CROATIA 2 CYPRUS 1 CZECH REPUBLIC 11 DENMARK 41 DJIBOUT 3 DOMINICA 1 DRC 30 EGYPT 10 ESTONIA 1 ETHIOPIA 6 FINLAND 8 FRANCE 280 GEORGIA 1 GERMANY 223 GHANA 2 GREECE 7 HUNGARY 2 INDIA 87 INDONESIA 3 IRAN 2 IRAQ 1 IRELAND 29 ISRAEL 16 ITALY 393 IVORY COAST 1 JAPAN 53 KENYA 235 KOREA 12 KUWAIT 2 LATVIA 2 LEBANON 3 LESOTHO 1 LITHUANIA 4 LUXEMBOURG 2 MADAGASCAR 1 MALAWI 20 MALAYSIA 23 MALT 3 MAURITIUS 2 MEXICO 2 MONTENEGRO 1 MORROCO 1 MOZAMBIQUE 8 MYANMAR 1 NAMIBIA 2 NEPAL 2 NETHERLANDS 112 NEW ZEALAND 18 NIGER 1 NIGERIA 4 NORWAY 21 OMAN 35 PAKISTAN 6 PHILIPINES 2 POLAND 16 PORTUGAL 10 QATAR 8 ROMANIA 2 RUSSIA 8 RWANDA 40 SCOTLAND 4 SERBIA 6 SINGAPORE 7 SLOVAKIA 2 SLOVENIA 1 SOUTH AFRICA 235 SPAIN 165 SRI LANKA 3 SUDAN 4 SWAZILAND 4 SWEDEN 37 SWIZERLAND 64 TAIWAN 9 THAILAND 2 TRINIDAD TOBACCO 1 TUNISIA 1 TURKEY 5 UAE 33 UGANDA 159 UKRAIN 2 UNITED ARAB EMIRATES 13 UNITED KINGDOM 533 UNITED STATES OF AMERICA 695 URUGUAY 1 YEMEN 2 ZAMBIA 191 ZIMBABWE 274'

In [500]:

result = ''.join([i for i in movi if not i.isdigit()])
result

'ALGERIA  ANGOLA  ARGENTINA  AUSTRALIA  AUSTRIA  BELGIUM  BERMUDA  BRAZIL  BURGARIA  BURUNDI  CANADA  CAPE VERDE  CHILE  CHINA  COLOMBIA  COMORO  CONGO  COSTARICA  CROATIA  CYPRUS  CZECH REPUBLIC  DENMARK  DJIBOUT  DOMINICA  DRC  EGYPT  ESTONIA  ETHIOPIA  FINLAND  FRANCE  GEORGIA  GERMANY  GHANA  GREECE  HUNGARY  INDIA  INDONESIA  IRAN  IRAQ  IRELAND  ISRAEL  ITALY  IVORY COAST  JAPAN  KENYA  KOREA  KUWAIT  LATVIA  LEBANON  LESOTHO  LITHUANIA  LUXEMBOURG  MADAGASCAR  MALAWI  MALAYSIA  MALT  MAURITIUS  MEXICO  MONTENEGRO  MORROCO  MOZAMBIQUE  MYANMAR  NAMIBIA  NEPAL  NETHERLANDS  NEW ZEALAND  NIGER  NIGERIA  NORWAY  OMAN  PAKISTAN  PHILIPINES  POLAND  PORTUGAL  QATAR  ROMANIA  RUSSIA  RWANDA  SCOTLAND  SERBIA  SINGAPORE  SLOVAKIA  SLOVENIA  SOUTH AFRICA  SPAIN  SRI LANKA  SUDAN  SWAZILAND  SWEDEN  SWIZERLAND  TAIWAN  THAILAND  TRINIDAD TOBACCO  TUNISIA  TURKEY  UAE  UGANDA  UKRAIN  UNITED ARAB EMIRATES  UNITED KINGDOM  UNITED STATES OF AMERICA  URUGUAY  YEMEN  ZAMBIA  ZIMBABWE '

In [501]:
converted_list

['MEMBER STATE  ABBREVIATION DATE OF JOINING.',
 'OAU OR AU.',
 'REPUBLIC OF BURUNDI  BURUNDI 25 MAY 1963.',
 'REPUBLIC OF CAMEROON  CAMEROON 25 MAY 1963.',
 'CENTRAL AFRICAN REPUBLIC  CENTRAL AFRICAN REPUBLIC 25 MAY 1963 .',
 'REPUBLIC OF CHAD  CHAD 25 MAY 1963.',
 'REPUBLIC OF THE CONGO  CONGO REPUBLIC 25 MAY 1963.',
 'DEMOCRATIC REPUBLIC OF CONGO  DR CONGO 25 MAY 1963.',
 'REPUBLIC OF EQUATORIAL GUINEA  EQUATORIAL GUINEA 12 OCTOBER 1968.',
 'GABONESE REPUBLIC  GABON 25 MAY 1963.']

In [502]:
coming = ' '.join(str(v) for v in converted_list)

In [503]:
coming

'MEMBER STATE  ABBREVIATION DATE OF JOINING. OAU OR AU. REPUBLIC OF BURUNDI  BURUNDI 25 MAY 1963. REPUBLIC OF CAMEROON  CAMEROON 25 MAY 1963. CENTRAL AFRICAN REPUBLIC  CENTRAL AFRICAN REPUBLIC 25 MAY 1963 . REPUBLIC OF CHAD  CHAD 25 MAY 1963. REPUBLIC OF THE CONGO  CONGO REPUBLIC 25 MAY 1963. DEMOCRATIC REPUBLIC OF CONGO  DR CONGO 25 MAY 1963. REPUBLIC OF EQUATORIAL GUINEA  EQUATORIAL GUINEA 12 OCTOBER 1968. GABONESE REPUBLIC  GABON 25 MAY 1963.'

In [504]:
come = coming.replace(".", "")
com = come.replace("REPUBLIC", "")
come= com.replace("OF", "")

In [505]:
come

'MEMBER STATE  ABBREVIATION DATE  JOINING OAU OR AU   BURUNDI  BURUNDI 25 MAY 1963   CAMEROON  CAMEROON 25 MAY 1963 CENTRAL AFRICAN   CENTRAL AFRICAN  25 MAY 1963    CHAD  CHAD 25 MAY 1963   THE CONGO  CONGO  25 MAY 1963 DEMOCRATIC   CONGO  DR CONGO 25 MAY 1963   EQUATORIAL GUINEA  EQUATORIAL GUINEA 12 OCTOBER 1968 GABONESE   GABON 25 MAY 1963'

In [506]:
# i need to get the intersection of countries

## Central Africa

In [507]:
#movi
#come

read = set(result.split()) & set(come.split())

In [508]:
readd = list(read)

In [509]:
type(read)

set

In [510]:
readd.append("DRC")

In [511]:
readd

['BURUNDI', 'CONGO', 'DRC']

In [512]:
matches = []
i = len(read)
for match in list1:
    if readd[i-2] in match:
        matches.append(match)
        i-=1

In [513]:
matches

[['BURUNDI', 64], ['DRC', 30]]

In [514]:
type(matches)

list

In [515]:
readd[i-2]

'CONGO'

In [516]:
type(df)

pandas.core.frame.DataFrame

In [517]:
df['upcountry'] = list(df['country'])

In [518]:
df.upcountry.replace(readd, 'Central Africa', inplace=True)

In [519]:
cen = df['upcountry'] == 'Central Africa' 
#i=df[df[‘Name’]==’Will’]
#print(i)

In [520]:
cen.value_counts()

False    4704
True      105
Name: upcountry, dtype: int64

## Eastern africa

In [521]:
i = driver.find_element_by_xpath("(//tbody)[2]")

C:\Users\Kofi\AppData\Local\Temp/ipykernel_13564/2948023138.py:1: DeprecationWarning: find_element_by_xpath is deprecated. Please use find_element(by=By.XPATH, value=xpath) instead
  i = driver.find_element_by_xpath("(//tbody)[2]")

In [522]:
text = i.text
#(//tbody)[1]

In [523]:
type(text)

str

In [524]:
rep = text.replace("\n", ". ")

In [525]:
import re
expression = re.compile(r'([A-Z][^\.!?]*[\.!?])')
new_list = re.findall(expression, rep)

In [526]:
new_list

['Member State  Abbreviation  Date of joining.',
 'OAU or AU.',
 'Union of the Comoros   Comoros 18 July 1975.',
 'Republic of Djibouti   Djibouti 27 June 1977.',
 'State of Eritrea   Eritrea 24 May 1993.',
 'Federal Democratic Republic of Ethiopia  Ethiopia 25 May 1963.',
 'Republic of Kenya  Kenya 25 May 1963.',
 'Republic of Madagascar  Madagascar 25 May 1963.',
 'Republic of Mauritius   Mauritius August 1968.',
 'Republic of Rwanda  Rwanda 25 May 1963.',
 'Republic of Seychelles   Seychelles 29 June 1976.',
 'Federal Republic of Somalia  Somalia 25 May 1963.',
 'Republic of South Sudan  South Sudan 27 July 2011.',
 'Republic of the Sudan  Sudan 25 May 1963.',
 'United Republic of Tanzania  Tanzania 25 May 1963.']

In [527]:
converted_list = [x.upper() for x in new_list]

In [528]:
converted_list

['MEMBER STATE  ABBREVIATION  DATE OF JOINING.',
 'OAU OR AU.',
 'UNION OF THE COMOROS   COMOROS 18 JULY 1975.',
 'REPUBLIC OF DJIBOUTI   DJIBOUTI 27 JUNE 1977.',
 'STATE OF ERITREA   ERITREA 24 MAY 1993.',
 'FEDERAL DEMOCRATIC REPUBLIC OF ETHIOPIA  ETHIOPIA 25 MAY 1963.',
 'REPUBLIC OF KENYA  KENYA 25 MAY 1963.',
 'REPUBLIC OF MADAGASCAR  MADAGASCAR 25 MAY 1963.',
 'REPUBLIC OF MAURITIUS   MAURITIUS AUGUST 1968.',
 'REPUBLIC OF RWANDA  RWANDA 25 MAY 1963.',
 'REPUBLIC OF SEYCHELLES   SEYCHELLES 29 JUNE 1976.',
 'FEDERAL REPUBLIC OF SOMALIA  SOMALIA 25 MAY 1963.',
 'REPUBLIC OF SOUTH SUDAN  SOUTH SUDAN 27 JULY 2011.',
 'REPUBLIC OF THE SUDAN  SUDAN 25 MAY 1963.',
 'UNITED REPUBLIC OF TANZANIA  TANZANIA 25 MAY 1963.']

In [529]:
co = str(converted_list)

In [530]:
from itertools import chain

In [531]:
coming = ' '.join(str(v) for v in converted_list)

In [532]:
coming

'MEMBER STATE  ABBREVIATION  DATE OF JOINING. OAU OR AU. UNION OF THE COMOROS   COMOROS 18 JULY 1975. REPUBLIC OF DJIBOUTI   DJIBOUTI 27 JUNE 1977. STATE OF ERITREA   ERITREA 24 MAY 1993. FEDERAL DEMOCRATIC REPUBLIC OF ETHIOPIA  ETHIOPIA 25 MAY 1963. REPUBLIC OF KENYA  KENYA 25 MAY 1963. REPUBLIC OF MADAGASCAR  MADAGASCAR 25 MAY 1963. REPUBLIC OF MAURITIUS   MAURITIUS AUGUST 1968. REPUBLIC OF RWANDA  RWANDA 25 MAY 1963. REPUBLIC OF SEYCHELLES   SEYCHELLES 29 JUNE 1976. FEDERAL REPUBLIC OF SOMALIA  SOMALIA 25 MAY 1963. REPUBLIC OF SOUTH SUDAN  SOUTH SUDAN 27 JULY 2011. REPUBLIC OF THE SUDAN  SUDAN 25 MAY 1963. UNITED REPUBLIC OF TANZANIA  TANZANIA 25 MAY 1963.'

In [533]:
come = coming.replace(".", "")
com = come.replace("REPUBLIC", "")
come= com.replace("OF", "")

In [534]:
come

'MEMBER STATE  ABBREVIATION  DATE  JOINING OAU OR AU UNION  THE COMOROS   COMOROS 18 JULY 1975   DJIBOUTI   DJIBOUTI 27 JUNE 1977 STATE  ERITREA   ERITREA 24 MAY 1993 FEDERAL DEMOCRATIC   ETHIOPIA  ETHIOPIA 25 MAY 1963   KENYA  KENYA 25 MAY 1963   MADAGASCAR  MADAGASCAR 25 MAY 1963   MAURITIUS   MAURITIUS AUGUST 1968   RWANDA  RWANDA 25 MAY 1963   SEYCHELLES   SEYCHELLES 29 JUNE 1976 FEDERAL   SOMALIA  SOMALIA 25 MAY 1963   SOUTH SUDAN  SOUTH SUDAN 27 JULY 2011   THE SUDAN  SUDAN 25 MAY 1963 UNITED   TANZANIA  TANZANIA 25 MAY 1963'

In [535]:
# i need to get the intersection of countries

In [536]:
#movi
#come

read = set(result.split()) & set(come.split())

In [537]:
readd = list(read)

In [538]:
readd.append("UGANDA")
readd.append("DJIBOUT")
readd.append("COMORO")
readd.append("BURUNDI")

In [539]:
readd

['RWANDA',
 'UNITED',
 'SUDAN',
 'ETHIOPIA',
 'MADAGASCAR',
 'MAURITIUS',
 'KENYA',
 'SOUTH',
 'UGANDA',
 'DJIBOUT',
 'COMORO',
 'BURUNDI']

In [540]:
i = len(readd)

In [541]:
matches = []

for match in list1:
    if readd[i-1] in match:
        matches.append(match)
        i-=1

In [542]:
type(matches)

list

In [543]:
i = len(readd)

In [544]:
i

12

In [545]:
readd[i-1]

'BURUNDI'

In [546]:
type(df)

pandas.core.frame.DataFrame

In [547]:
df.upcountry.replace(readd, 'East Africa', inplace=True)

In [548]:
east = df[df['upcountry'] == 'East Africa' ]
#i=df[df[‘Name’]==’Will’]
#print(i)

In [549]:
east

,ID,country,age_group,travel_with,total_female,total_male,purpose,main_activity,info_source,tour_arrangement,...,package_sightseeing,package_guided_tour,package_insurance,night_mainland,night_zanzibar,payment_mode,first_trip_tz,most_impressing,total_cost,upcountry
15,tour_102,RWANDA,65+,Alone,1.0,0.0,Leisure and Holidays,Beach tourism,"Friends, relatives",Independent,...,No,No,No,0,2,Cash,Yes,"Wonderful Country, Landscape, Nature",331500.0,East Africa
19,tour_1026,KENYA,25-44,NaN,1.0,0.0,Business,Mountain climbing,"Friends, relatives",Independent,...,No,No,No,4,0,Cash,No,Friendly People,377520.0,East Africa
21,tour_1028,KENYA,45-64,NaN,0.0,1.0,Business,Wildlife tourism,"Friends, relatives",Independent,...,No,No,No,4,0,Cash,Yes,No comments,497250.0,East Africa
37,tour_1045,KENYA,45-64,Alone,1.0,0.0,Scientific and Academic,Mountain climbing,inflight magazines,Package Tour,...,No,No,No,5,0,Credit Card,No,Wildlife,3812250.0,East Africa
51,tour_1060,UGANDA,25-44,Spouse and Children,2.0,1.0,Meetings and Conference,Beach tourism,"Friends, relatives",Independent,...,No,No,No,12,5,Cash,No,Friendly People,1000000.0,East Africa
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4749,tour_922,KENYA,25-44,NaN,1.0,0.0,Business,Wildlife tourism,others,Independent,...,No,No,No,2,0,Cash,No,Friendly People,1657500.0,East Africa
4771,tour_951,KENYA,25-44,Spouse and Children,4.0,3.0,Leisure and Holidays,Beach tourism,"Travel, agent, tour operator",Independent,...,No,No,No,7,0,Credit Card,Yes,Good service,502000.0,East Africa
4776,tour_956,RWANDA,2022-01-24 00:00:00,NaN,1.0,0.0,Visiting Friends and Relatives,Beach tourism,Trade fair,Independent,...,No,No,No,3,0,Cash,Yes,No comments,165750.0,East Africa
4788,tour_975,KENYA,25-44,NaN,0.0,1.0,Meetings and Conference,Wildlife tourism,"Friends, relatives",Package Tour,...,No,No,No,6,0,Cash,No,Friendly People,1657500.0,East Africa
4802,tour_99,KENYA,45-64,Friends/Relatives,2.0,2.0,Leisure and Holidays,Wildlife tourism,"Travel, agent, tour operator",Independent,...,No,No,No,10,5,Cash,Yes,No comments,6464250.0,East Africa

## Northern Africa

In [550]:
i = driver.find_element_by_xpath("(//tbody)[3]")

C:\Users\Kofi\AppData\Local\Temp/ipykernel_13564/3376065246.py:1: DeprecationWarning: find_element_by_xpath is deprecated. Please use find_element(by=By.XPATH, value=xpath) instead
  i = driver.find_element_by_xpath("(//tbody)[3]")

In [551]:
text = i.text
#(//tbody)[1]

In [552]:
type(text)

str

In [553]:
rep = text.replace("\n", ". ")

In [554]:
import re
expression = re.compile(r'([A-Z][^\.!?]*[\.!?])')
new_list = re.findall(expression, rep)

In [555]:
new_list

['Member State  Abbreviation Date of joining.',
 'OAU or AU.',
 'People’s Democratic Republic of Algeria Algeria 25 May 1963.',
 'Arab Republic of Egypt Egypt 25 May 1963.',
 'Libya Libya 25 May 1963.',
 'Islamic Republic of Mauritania Mauritania 25 May 1963.',
 'Kingdom of Morocco Morocco 1963/31 January 2017.',
 'Sahrawi Arab Democratic Republic Sahrawi Republic 22 February 1982.']

In [556]:
converted_list = [x.upper() for x in new_list]

In [557]:
converted_list

['MEMBER STATE  ABBREVIATION DATE OF JOINING.',
 'OAU OR AU.',
 'PEOPLE’S DEMOCRATIC REPUBLIC OF ALGERIA ALGERIA 25 MAY 1963.',
 'ARAB REPUBLIC OF EGYPT EGYPT 25 MAY 1963.',
 'LIBYA LIBYA 25 MAY 1963.',
 'ISLAMIC REPUBLIC OF MAURITANIA MAURITANIA 25 MAY 1963.',
 'KINGDOM OF MOROCCO MOROCCO 1963/31 JANUARY 2017.',
 'SAHRAWI ARAB DEMOCRATIC REPUBLIC SAHRAWI REPUBLIC 22 FEBRUARY 1982.']

In [558]:
co = str(converted_list)

In [559]:
from itertools import chain

In [560]:
coming = ' '.join(str(v) for v in converted_list)

In [561]:
coming

'MEMBER STATE  ABBREVIATION DATE OF JOINING. OAU OR AU. PEOPLE’S DEMOCRATIC REPUBLIC OF ALGERIA ALGERIA 25 MAY 1963. ARAB REPUBLIC OF EGYPT EGYPT 25 MAY 1963. LIBYA LIBYA 25 MAY 1963. ISLAMIC REPUBLIC OF MAURITANIA MAURITANIA 25 MAY 1963. KINGDOM OF MOROCCO MOROCCO 1963/31 JANUARY 2017. SAHRAWI ARAB DEMOCRATIC REPUBLIC SAHRAWI REPUBLIC 22 FEBRUARY 1982.'

In [562]:
come = coming.replace(".", "")
com = come.replace("REPUBLIC", "")
come= com.replace("OF", "")

In [563]:
come

'MEMBER STATE  ABBREVIATION DATE  JOINING OAU OR AU PEOPLE’S DEMOCRATIC   ALGERIA ALGERIA 25 MAY 1963 ARAB   EGYPT EGYPT 25 MAY 1963 LIBYA LIBYA 25 MAY 1963 ISLAMIC   MAURITANIA MAURITANIA 25 MAY 1963 KINGDOM  MOROCCO MOROCCO 1963/31 JANUARY 2017 SAHRAWI ARAB DEMOCRATIC  SAHRAWI  22 FEBRUARY 1982'

In [564]:
# i need to get the intersection of countries

In [565]:
#movi
#come

read = set(result.split()) & set(come.split())

In [566]:
readd = list(read)

In [567]:
readd.append("SWAZILAND")
readd.append("TUNISIA")
readd.append("MORROCO")

In [568]:
readd

['EGYPT', 'KINGDOM', 'ARAB', 'ALGERIA', 'SWAZILAND', 'TUNISIA', 'MORROCO']

In [569]:
i = len(readd)

In [570]:
matches = []

for match in list1:
    if readd[i-1] in match:
        matches.append(match)
        i-=1

In [571]:
type(matches)

list

In [572]:
i = len(readd)

In [573]:
i

7

In [574]:
readd[i-1]

'MORROCO'

In [575]:
type(df)

pandas.core.frame.DataFrame

In [576]:
df.upcountry.replace(readd, 'North Africa', inplace=True)

In [577]:
north = df[df['upcountry'] == 'North Africa' ]
#i=df[df[‘Name’]==’Will’]
#print(i)

In [578]:
north

,ID,country,age_group,travel_with,total_female,total_male,purpose,main_activity,info_source,tour_arrangement,...,package_sightseeing,package_guided_tour,package_insurance,night_mainland,night_zanzibar,payment_mode,first_trip_tz,most_impressing,total_cost,upcountry
23,tour_103,ALGERIA,25-44,Spouse,1.0,1.0,Leisure and Holidays,Beach tourism,"Radio, TV, Web",Independent,...,No,No,No,0,11,Cash,Yes,Wildlife,3734347.5,North Africa
33,tour_1040,EGYPT,2022-01-24 00:00:00,Alone,0.0,1.0,Visiting Friends and Relatives,Bird watching,"Travel, agent, tour operator",Package Tour,...,No,No,No,2,0,Cash,Yes,No comments,2320500.0,North Africa
242,tour_1305,EGYPT,45-64,Alone,0.0,1.0,Leisure and Holidays,Wildlife tourism,Tanzania Mission Abroad,Independent,...,No,No,No,4,0,Cash,No,No comments,994500.0,North Africa
290,tour_1360,SWAZILAND,25-44,NaN,0.0,1.0,Leisure and Holidays,Beach tourism,"Travel, agent, tour operator",Independent,...,No,No,No,12,3,Cash,Yes,"Wonderful Country, Landscape, Nature",15912000.0,North Africa
297,tour_1369,TUNISIA,25-44,Alone,0.0,1.0,Business,Beach tourism,"Friends, relatives",Package Tour,...,No,No,No,36,0,Cash,No,Good service,15746250.0,North Africa
488,tour_1601,EGYPT,25-44,Alone,1.0,0.0,Leisure and Holidays,Wildlife tourism,"Friends, relatives",Independent,...,No,No,No,7,7,Cash,Yes,No comments,4143750.0,North Africa
548,tour_1681,ALGERIA,25-44,Friends/Relatives,5.0,0.0,Visiting Friends and Relatives,Wildlife tourism,"Friends, relatives",Independent,...,No,No,No,15,10,Cash,No,"Wonderful Country, Landscape, Nature",828750.0,North Africa
768,tour_194,EGYPT,25-44,Alone,1.0,0.0,Visiting Friends and Relatives,Beach tourism,"Friends, relatives",Independent,...,No,No,No,1,0,Cash,Yes,Friendly People,3315000.0,North Africa
778,tour_195,EGYPT,25-44,NaN,1.0,1.0,Leisure and Holidays,Wildlife tourism,"Newspaper, magazines,brochures",Independent,...,No,No,No,23,3,Cash,Yes,Wildlife,5304000.0,North Africa
1031,tour_2266,EGYPT,25-44,Friends/Relatives,0.0,2.0,Leisure and Holidays,Conference tourism,"Travel, agent, tour operator",Package Tour,...,Yes,Yes,No,14,0,Cash,Yes,Good service,10856625.0,North Africa
1396,tour_2718,EGYPT,25-44,Spouse,2.0,0.0,Meetings and Conference,Conference tourism,"Friends, relatives",Package Tour,...,No,Yes,No,10,0,Cash,No,"Wonderful Country, Landscape, Nature",3978000.0,North Africa
1510,tour_2856,SWAZILAND,25-44,Spouse,1.0,1.0,Leisure and Holidays,Wildlife tourism,"Travel, agent, tour operator",Package Tour,...,No,No,No,7,6,Cash,Yes,No comments,828750.0,North Africa
1577,tour_2938,SWAZILAND,2022-01-24 00:00:00,Friends/Relatives,1.0,1.0,Leisure and Holidays,Wildlife tourism,others,Independent,...,No,No,No,14,0,Cash,Yes,"Wonderful Country, Landscape, Nature",4889625.0,North Africa
2042,tour_3482,EGYPT,25-44,NaN,0.0,1.0,Leisure and Holidays,Conference tourism,"Travel, agent, tour operator",Independent,...,No,No,No,14,0,Cash,Yes,"Wonderful Country, Landscape, Nature",4143750.0,North Africa
2852,tour_4473,EGYPT,25-44,Spouse,1.0,1.0,Leisure and Holidays,Beach tourism,"Friends, relatives",Independent,...,No,No,No,0,6,Cash,Yes,"Wonderful Country, Landscape, Nature",3315000.0,North Africa
3762,tour_5565,MORROCO,25-44,Spouse,1.0,1.0,Leisure and Holidays,Wildlife tourism,"Travel, agent, tour operator",Package Tour,...,Yes,Yes,No,5,5,Cash,Yes,Wildlife,1491750.0,North Africa
4688,tour_847,SWAZILAND,25-44,Alone,0.0,1.0,Meetings and Conference,Bird watching,"Travel, agent, tour operator",Independent,...,No,No,No,6,0,Cash,No,Good service,1657500.0,North Africa
4753,tour_928,EGYPT,25-44,Alone,1.0,0.0,Leisure and Holidays,Wildlife tourism,"Friends, relatives",Independent,...,No,No,No,5,5,Cash,Yes,Excellent Experience,1657500.0,North Africa

## Southern Africa

In [579]:
i = driver.find_element_by_xpath("(//tbody)[4]")

C:\Users\Kofi\AppData\Local\Temp/ipykernel_13564/954712956.py:1: DeprecationWarning: find_element_by_xpath is deprecated. Please use find_element(by=By.XPATH, value=xpath) instead
  i = driver.find_element_by_xpath("(//tbody)[4]")

In [580]:
text = i.text
#(//tbody)[1]

In [581]:
type(text)

str

In [582]:
rep = text.replace("\n", ". ")

In [583]:
import re
expression = re.compile(r'([A-Z][^\.!?]*[\.!?])')
new_list = re.findall(expression, rep)

In [584]:
new_list

['Member State  Abbreviation Date of joining.',
 'OAU or AU.',
 'Republic of Angola   Angola 11 February 1975.',
 'Republic of Botswana   Botswana 31 October 1966.',
 'Kingdom of Eswatini   Eswatini 24 September 1968.',
 'Kingdom of Lesotho   Lesotho 31 October 1966.',
 'Republic of Malawi   Malawi 13 July 1964.',
 'Republic of Mozambique   Mozambique 18 July 1975.',
 'Republic of Namibia   Namibia June 1990.',
 'Republic of South Africa  South Africa 6 June 1994.',
 'Republic of Zambia   Zambia 16 December 1964.']

In [585]:
converted_list = [x.upper() for x in new_list]

In [586]:
converted_list

['MEMBER STATE  ABBREVIATION DATE OF JOINING.',
 'OAU OR AU.',
 'REPUBLIC OF ANGOLA   ANGOLA 11 FEBRUARY 1975.',
 'REPUBLIC OF BOTSWANA   BOTSWANA 31 OCTOBER 1966.',
 'KINGDOM OF ESWATINI   ESWATINI 24 SEPTEMBER 1968.',
 'KINGDOM OF LESOTHO   LESOTHO 31 OCTOBER 1966.',
 'REPUBLIC OF MALAWI   MALAWI 13 JULY 1964.',
 'REPUBLIC OF MOZAMBIQUE   MOZAMBIQUE 18 JULY 1975.',
 'REPUBLIC OF NAMIBIA   NAMIBIA JUNE 1990.',
 'REPUBLIC OF SOUTH AFRICA  SOUTH AFRICA 6 JUNE 1994.',
 'REPUBLIC OF ZAMBIA   ZAMBIA 16 DECEMBER 1964.']

In [587]:
co = str(converted_list)

In [588]:
from itertools import chain

In [589]:
coming = ' '.join(str(v) for v in converted_list)

In [590]:
coming

'MEMBER STATE  ABBREVIATION DATE OF JOINING. OAU OR AU. REPUBLIC OF ANGOLA   ANGOLA 11 FEBRUARY 1975. REPUBLIC OF BOTSWANA   BOTSWANA 31 OCTOBER 1966. KINGDOM OF ESWATINI   ESWATINI 24 SEPTEMBER 1968. KINGDOM OF LESOTHO   LESOTHO 31 OCTOBER 1966. REPUBLIC OF MALAWI   MALAWI 13 JULY 1964. REPUBLIC OF MOZAMBIQUE   MOZAMBIQUE 18 JULY 1975. REPUBLIC OF NAMIBIA   NAMIBIA JUNE 1990. REPUBLIC OF SOUTH AFRICA  SOUTH AFRICA 6 JUNE 1994. REPUBLIC OF ZAMBIA   ZAMBIA 16 DECEMBER 1964.'

In [591]:
come = coming.replace(".", "")
com = come.replace("REPUBLIC", "")
come= com.replace("OF", "")

In [592]:
come

'MEMBER STATE  ABBREVIATION DATE  JOINING OAU OR AU   ANGOLA   ANGOLA 11 FEBRUARY 1975   BOTSWANA   BOTSWANA 31 OCTOBER 1966 KINGDOM  ESWATINI   ESWATINI 24 SEPTEMBER 1968 KINGDOM  LESOTHO   LESOTHO 31 OCTOBER 1966   MALAWI   MALAWI 13 JULY 1964   MOZAMBIQUE   MOZAMBIQUE 18 JULY 1975   NAMIBIA   NAMIBIA JUNE 1990   SOUTH AFRICA  SOUTH AFRICA 6 JUNE 1994   ZAMBIA   ZAMBIA 16 DECEMBER 1964'

In [593]:
# i need to get the intersection of countries

In [594]:
#movi
#come

read = set(result.split()) & set(come.split())

In [595]:
readd = list(read)

In [596]:
#SOUTH AFRICA

In [597]:

readd.append("SOUTH AFRICA")
readd.append("ZIMBABWE")

In [598]:
readd

['ANGOLA',
 'AFRICA',
 'SOUTH',
 'NAMIBIA',
 'KINGDOM',
 'MOZAMBIQUE',
 'LESOTHO',
 'ZAMBIA',
 'MALAWI',
 'SOUTH AFRICA',
 'ZIMBABWE']

In [599]:
i = len(readd)

In [600]:
matches = []

for match in list1:
    if readd[i-1] in match:
        matches.append(match)
        i-=1

In [601]:
type(matches)

list

In [602]:
i = len(readd)

In [603]:
i

11

In [604]:
readd[i-1]

'ZIMBABWE'

In [605]:
type(df)

pandas.core.frame.DataFrame

In [606]:
df.upcountry.replace(readd, 'Southern Africa', inplace=True)

In [607]:
south = df[df['upcountry'] == 'Southern Africa' ]
#i=df[df[‘Name’]==’Will’]
#print(i)

In [608]:
south

,ID,country,age_group,travel_with,total_female,total_male,purpose,main_activity,info_source,tour_arrangement,...,package_sightseeing,package_guided_tour,package_insurance,night_mainland,night_zanzibar,payment_mode,first_trip_tz,most_impressing,total_cost,upcountry
6,tour_1007,SOUTH AFRICA,45-64,Alone,0.0,1.0,Business,Mountain climbing,"Friends, relatives",Independent,...,No,No,No,9,0,Cash,Yes,Friendly People,466140.0,Southern Africa
14,tour_1018,MOZAMBIQUE,25-44,Alone,0.0,1.0,Visiting Friends and Relatives,Beach tourism,"Friends, relatives",Independent,...,No,No,No,2,0,Cash,Yes,Wildlife,497250.0,Southern Africa
36,tour_1043,MOZAMBIQUE,2022-01-24 00:00:00,Alone,1.0,0.0,Visiting Friends and Relatives,Hunting tourism,"Friends, relatives",Independent,...,No,No,No,3,0,Cash,Yes,Excellent Experience,663000.0,Southern Africa
39,tour_1047,MALAWI,25-44,Alone,0.0,1.0,Meetings and Conference,Beach tourism,"Friends, relatives",Independent,...,No,No,No,21,0,Credit Card,No,Friendly People,3000000.0,Southern Africa
70,tour_1081,SOUTH AFRICA,25-44,Friends/Relatives,0.0,2.0,Meetings and Conference,Mountain climbing,"Travel, agent, tour operator",Independent,...,No,No,No,3,0,Cash,Yes,No comments,331500.0,Southern Africa
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4744,tour_916,SOUTH AFRICA,45-64,NaN,0.0,1.0,Meetings and Conference,Mountain climbing,"Friends, relatives",Independent,...,No,No,No,5,0,Cash,Yes,Friendly People,828750.0,Southern Africa
4748,tour_920,SOUTH AFRICA,45-64,Friends/Relatives,2.0,2.0,Leisure and Holidays,Wildlife tourism,"Travel, agent, tour operator",Package Tour,...,Yes,No,No,5,9,Cash,No,Wildlife,34807500.0,Southern Africa
4766,tour_944,SOUTH AFRICA,25-44,NaN,0.0,1.0,Business,Wildlife tourism,inflight magazines,Independent,...,No,No,No,4,0,Cash,No,Friendly People,828750.0,Southern Africa
4796,tour_983,SOUTH AFRICA,25-44,Alone,0.0,1.0,Meetings and Conference,Mountain climbing,"Travel, agent, tour operator",Independent,...,No,No,No,3,0,Cash,Yes,Friendly People,1657500.0,Southern Africa
4807,tour_997,SOUTH AFRICA,25-44,Friends/Relatives,1.0,1.0,Business,Beach tourism,"Travel, agent, tour operator",Independent,...,No,No,No,5,0,Credit Card,No,Friendly People,1160250.0,Southern Africa

## West Africa

In [609]:
i = driver.find_element_by_xpath("(//tbody)[5]")

C:\Users\Kofi\AppData\Local\Temp/ipykernel_13564/3885326720.py:1: DeprecationWarning: find_element_by_xpath is deprecated. Please use find_element(by=By.XPATH, value=xpath) instead
  i = driver.find_element_by_xpath("(//tbody)[5]")

In [610]:
text = i.text
#(//tbody)[1]

In [611]:
type(text)

str

In [612]:
rep = text.replace("\n", ". ")

In [613]:
import re
expression = re.compile(r'([A-Z][^\.!?]*[\.!?])')
new_list = re.findall(expression, rep)

In [614]:
new_list

['Member State  Abbreviation  Date of joining.',
 'OAU or AU.',
 'Republic of Benin   Benin 25 May 1963.',
 'Burkina Faso  Burkina Faso 25 May 1963.',
 'Republic of Cabo Verde   Cabo Verde 18 July 1975.',
 'Republic of Côte d’Ivoire   Côte d’Ivoire 25 May 1963.',
 'Republic of the Gambia   Gambia  9 March 1965.',
 'Republic of Ghana   Ghana  25 May 1963.',
 'Republic of Guinea  Guinea  25 May 1963.',
 'Republic of Guinea-Bissau  Guinea-Bissau  19 November 1973.',
 'Republic of Liberia  Liberia  25 May 1963.',
 'Republic of Mali  Mali  25 May 1963.',
 'Republic of Niger  Niger  25 May 1963.',
 'Federal Republic of Nigeria  Nigeria  25 May 1963.',
 'Republic of Senegal  Senegal  25 May 1963.',
 'Republic of Sierra Leone  Sierra Leone  25 May 1963.']

In [615]:
converted_list = [x.upper() for x in new_list]

In [616]:
converted_list

['MEMBER STATE  ABBREVIATION  DATE OF JOINING.',
 'OAU OR AU.',
 'REPUBLIC OF BENIN   BENIN 25 MAY 1963.',
 'BURKINA FASO  BURKINA FASO 25 MAY 1963.',
 'REPUBLIC OF CABO VERDE   CABO VERDE 18 JULY 1975.',
 'REPUBLIC OF CÔTE D’IVOIRE   CÔTE D’IVOIRE 25 MAY 1963.',
 'REPUBLIC OF THE GAMBIA   GAMBIA  9 MARCH 1965.',
 'REPUBLIC OF GHANA   GHANA  25 MAY 1963.',
 'REPUBLIC OF GUINEA  GUINEA  25 MAY 1963.',
 'REPUBLIC OF GUINEA-BISSAU  GUINEA-BISSAU  19 NOVEMBER 1973.',
 'REPUBLIC OF LIBERIA  LIBERIA  25 MAY 1963.',
 'REPUBLIC OF MALI  MALI  25 MAY 1963.',
 'REPUBLIC OF NIGER  NIGER  25 MAY 1963.',
 'FEDERAL REPUBLIC OF NIGERIA  NIGERIA  25 MAY 1963.',
 'REPUBLIC OF SENEGAL  SENEGAL  25 MAY 1963.',
 'REPUBLIC OF SIERRA LEONE  SIERRA LEONE  25 MAY 1963.']

In [617]:
co = str(converted_list)

In [618]:
from itertools import chain

In [619]:
coming = ' '.join(str(v) for v in converted_list)

In [620]:
coming

'MEMBER STATE  ABBREVIATION  DATE OF JOINING. OAU OR AU. REPUBLIC OF BENIN   BENIN 25 MAY 1963. BURKINA FASO  BURKINA FASO 25 MAY 1963. REPUBLIC OF CABO VERDE   CABO VERDE 18 JULY 1975. REPUBLIC OF CÔTE D’IVOIRE   CÔTE D’IVOIRE 25 MAY 1963. REPUBLIC OF THE GAMBIA   GAMBIA  9 MARCH 1965. REPUBLIC OF GHANA   GHANA  25 MAY 1963. REPUBLIC OF GUINEA  GUINEA  25 MAY 1963. REPUBLIC OF GUINEA-BISSAU  GUINEA-BISSAU  19 NOVEMBER 1973. REPUBLIC OF LIBERIA  LIBERIA  25 MAY 1963. REPUBLIC OF MALI  MALI  25 MAY 1963. REPUBLIC OF NIGER  NIGER  25 MAY 1963. FEDERAL REPUBLIC OF NIGERIA  NIGERIA  25 MAY 1963. REPUBLIC OF SENEGAL  SENEGAL  25 MAY 1963. REPUBLIC OF SIERRA LEONE  SIERRA LEONE  25 MAY 1963.'

In [621]:
come = coming.replace(".", "")
com = come.replace("REPUBLIC", "")
come= com.replace("OF", "")

In [622]:
come

'MEMBER STATE  ABBREVIATION  DATE  JOINING OAU OR AU   BENIN   BENIN 25 MAY 1963 BURKINA FASO  BURKINA FASO 25 MAY 1963   CABO VERDE   CABO VERDE 18 JULY 1975   CÔTE D’IVOIRE   CÔTE D’IVOIRE 25 MAY 1963   THE GAMBIA   GAMBIA  9 MARCH 1965   GHANA   GHANA  25 MAY 1963   GUINEA  GUINEA  25 MAY 1963   GUINEA-BISSAU  GUINEA-BISSAU  19 NOVEMBER 1973   LIBERIA  LIBERIA  25 MAY 1963   MALI  MALI  25 MAY 1963   NIGER  NIGER  25 MAY 1963 FEDERAL   NIGERIA  NIGERIA  25 MAY 1963   SENEGAL  SENEGAL  25 MAY 1963   SIERRA LEONE  SIERRA LEONE  25 MAY 1963'

In [623]:
# i need to get the intersection of countries

In [624]:
#movi
#come

read = set(result.split()) & set(come.split())

In [625]:
readd = list(read)

In [626]:
readd.append("CAPE VERDE")
readd.append("IVORY COAST")

In [627]:
readd

['NIGER', 'GHANA', 'VERDE', 'NIGERIA', 'CAPE VERDE', 'IVORY COAST']

In [628]:
i = len(readd)

In [629]:
matches = []

for match in list1:
    if readd[i-1] in match:
        matches.append(match)
        i-=1

In [630]:
type(matches)

list

In [631]:
i = len(readd)

In [632]:
i

6

In [633]:
readd[i-1]

'IVORY COAST'

In [634]:
type(df)

pandas.core.frame.DataFrame

In [635]:
df.upcountry.replace(readd, 'West Africa', inplace=True)

In [636]:
west = df[df['upcountry'] == 'West Africa' ]
#i=df[df[‘Name’]==’Will’]
#print(i)

In [637]:
west

,ID,country,age_group,travel_with,total_female,total_male,purpose,main_activity,info_source,tour_arrangement,...,package_sightseeing,package_guided_tour,package_insurance,night_mainland,night_zanzibar,payment_mode,first_trip_tz,most_impressing,total_cost,upcountry
8,tour_101,NIGERIA,25-44,Alone,0.0,1.0,Leisure and Holidays,Cultural tourism,"Travel, agent, tour operator",Independent,...,No,No,No,4,0,Cash,Yes,NaN,994500.0,West Africa
602,tour_174,GHANA,25-44,Alone,1.0,0.0,Meetings and Conference,Mountain climbing,"Travel, agent, tour operator",Independent,...,No,No,No,5,0,Cash,Yes,Friendly People,828750.0,West Africa
604,tour_1741,NIGER,25-44,Spouse and Children,2.0,1.0,Leisure and Holidays,Beach tourism,"Friends, relatives",Independent,...,No,No,No,4,16,Credit Card,No,Friendly People,4972500.0,West Africa
957,tour_217,GHANA,45-64,Friends/Relatives,0.0,2.0,Business,Wildlife tourism,Trade fair,Independent,...,No,No,No,30,0,Cash,Yes,No comments,10000000.0,West Africa
1397,tour_2719,NIGERIA,25-44,NaN,0.0,1.0,Visiting Friends and Relatives,Wildlife tourism,"Friends, relatives",Independent,...,No,No,No,7,0,Cash,No,Friendly People,250282.5,West Africa
1680,tour_3050,CAPE VERDE,45-64,Friends/Relatives,0.0,3.0,Meetings and Conference,Mountain climbing,"Newspaper, magazines,brochures",Independent,...,No,No,No,2,0,Cash,No,No comments,663000.0,West Africa
2578,tour_4135,IVORY COAST,45-64,NaN,1.0,0.0,Leisure and Holidays,Hunting tourism,"Travel, agent, tour operator",Package Tour,...,No,Yes,Yes,10,4,Credit Card,Yes,Friendly People,7210125.0,West Africa
3362,tour_5068,NIGERIA,2022-01-24 00:00:00,NaN,0.0,1.0,Business,Wildlife tourism,"Friends, relatives",Independent,...,No,No,No,14,0,Cash,Yes,Excellent Experience,497250.0,West Africa
4474,tour_6412,NIGERIA,25-44,NaN,0.0,1.0,Business,Wildlife tourism,"Friends, relatives",Independent,...,No,No,No,35,0,Cash,No,Good service,50000.0,West Africa

## Europe

In [638]:


#(//main[@id='main-content'])[1]

In [639]:
driver.get("https://european-union.europa.eu/principles-countries-history/country-profiles_en?page=0")   
time.sleep(18)

In [640]:
i = driver.find_element_by_xpath("(//div[@class='ecl-row'])[5]")

C:\Users\Kofi\AppData\Local\Temp/ipykernel_13564/3388245205.py:1: DeprecationWarning: find_element_by_xpath is deprecated. Please use find_element(by=By.XPATH, value=xpath) instead
  i = driver.find_element_by_xpath("(//div[@class='ecl-row'])[5]")

In [641]:
text = i.text
#(//tbody)[1]

In [642]:
type(text)

str

In [643]:
rep = text.replace("\n", ". ")

In [644]:
import re
expression = re.compile(r'([A-Z][^\.!?]*[\.!?])')
new_list = re.findall(expression, rep)

In [645]:
new_list

['Austria.',
 'EU member country since 1995, Euro area member since 1999, Schengen area member since 1997 and more about Austria’s participation in the EU.',
 'Belgium.',
 'EU member country since 1958, Euro area member since 1999, Schengen area member since 1995 and more about Belgium’s participation in the EU.',
 'Bulgaria.',
 'EU member country since 2007 and more about Bulgaria’s participation in the EU.',
 'Croatia.',
 "EU Member State since 2013 and more on Croatia's role in the EU.",
 'Cyprus.',
 'EU member country since 2004, Euro area member since 2008 and more about Cyprus’s participation in the EU.',
 'Czechia.',
 'EU member country since 2004, Schengen area member since 2007 and more about Czechia’s participation in the EU.',
 'Denmark.',
 'EU member country since 1973, opt-out from euro, Schengen area member since 2001 and more about Denmark’s participation in the EU.',
 'Estonia.',
 'How Estonia is represented in the different EU institutions, how much money it gives and receives, its political system and trade figures.',
 'Finland.',
 'EU member country since 1995, Euro area member since 1999, Schengen area member since 2001 and more about Finland’s participation in the EU.',
 'France.',
 'EU member country since 1958, Euro area member since 1999, Schengen area member since 1995 and more about France’s participation in the EU.',
 'Germany.',
 'EU member country since 1958, Euro area member since 1999, Schengen area member since 1995 and more about Germany’s participation in the EU.',
 'Greece.',
 'EU member country since 1981, Euro area member since 2001, Schengen area member since 2000 and more about Greece’s participation in the EU.',
 'Hungary.',
 'EU member country since 2004, Schengen area member since 2007 and more about Hungary’s participation in the EU.',
 'Ireland.',
 'EU member country since 1973, Euro area member since 1999, opt-out from Schengen area and more about Ireland’s participation in the EU.',
 'Italy.',
 'EU member country since 1958, Euro area member since 1999, Schengen area member since 1997 and more about Italy’s participation in the EU.',
 'Latvia.',
 'EU member country since 2004, Euro area member since 2014, Schengen area member since 2007 and more about Latvia’s participation in the EU.',
 'Lithuania.',
 'EU member country since 2004, Euro area member since 2015, Schengen area member since 2007 and more about Lithuania’s participation in the EU.',
 'Luxembourg.',
 'EU member country since 1958, Euro area member since 1999, Schengen area member since 1995 and more about Luxembourg’s participation in the EU.',
 'Malta.',
 'EU member country since 2004, Euro area member since 2008, Schengen area member since 2007 and more about Malta’s participation in the EU.',
 'Netherlands.',
 'EU member country since 1958, Euro area member since 1999, Schengen area member since 1995 and more about the Netherlands’ participation in the EU.']

In [646]:
driver.get("https://european-union.europa.eu/principles-countries-history/country-profiles_en?page=1")   
time.sleep(15)

In [647]:
i = driver.find_element_by_xpath("(//div[@class='ecl-row'])[5]")

C:\Users\Kofi\AppData\Local\Temp/ipykernel_13564/3388245205.py:1: DeprecationWarning: find_element_by_xpath is deprecated. Please use find_element(by=By.XPATH, value=xpath) instead
  i = driver.find_element_by_xpath("(//div[@class='ecl-row'])[5]")

In [648]:
text = i.text
#(//tbody)[1]

In [649]:
type(text)

str

In [650]:
rep = text.replace("\n", ". ")

In [651]:
import re
expression = re.compile(r'([A-Z][^\.!?]*[\.!?])')
new_list1 = re.findall(expression, rep)

In [652]:
type(new_list1)

list

In [653]:
new_lists = new_list+new_list1

In [654]:
converted_list = [x.upper() for x in new_lists]

In [655]:
converted_list

['AUSTRIA.',
 'EU MEMBER COUNTRY SINCE 1995, EURO AREA MEMBER SINCE 1999, SCHENGEN AREA MEMBER SINCE 1997 AND MORE ABOUT AUSTRIA’S PARTICIPATION IN THE EU.',
 'BELGIUM.',
 'EU MEMBER COUNTRY SINCE 1958, EURO AREA MEMBER SINCE 1999, SCHENGEN AREA MEMBER SINCE 1995 AND MORE ABOUT BELGIUM’S PARTICIPATION IN THE EU.',
 'BULGARIA.',
 'EU MEMBER COUNTRY SINCE 2007 AND MORE ABOUT BULGARIA’S PARTICIPATION IN THE EU.',
 'CROATIA.',
 "EU MEMBER STATE SINCE 2013 AND MORE ON CROATIA'S ROLE IN THE EU.",
 'CYPRUS.',
 'EU MEMBER COUNTRY SINCE 2004, EURO AREA MEMBER SINCE 2008 AND MORE ABOUT CYPRUS’S PARTICIPATION IN THE EU.',
 'CZECHIA.',
 'EU MEMBER COUNTRY SINCE 2004, SCHENGEN AREA MEMBER SINCE 2007 AND MORE ABOUT CZECHIA’S PARTICIPATION IN THE EU.',
 'DENMARK.',
 'EU MEMBER COUNTRY SINCE 1973, OPT-OUT FROM EURO, SCHENGEN AREA MEMBER SINCE 2001 AND MORE ABOUT DENMARK’S PARTICIPATION IN THE EU.',
 'ESTONIA.',
 'HOW ESTONIA IS REPRESENTED IN THE DIFFERENT EU INSTITUTIONS, HOW MUCH MONEY IT GIVES AND RECEIVES, ITS POLITICAL SYSTEM AND TRADE FIGURES.',
 'FINLAND.',
 'EU MEMBER COUNTRY SINCE 1995, EURO AREA MEMBER SINCE 1999, SCHENGEN AREA MEMBER SINCE 2001 AND MORE ABOUT FINLAND’S PARTICIPATION IN THE EU.',
 'FRANCE.',
 'EU MEMBER COUNTRY SINCE 1958, EURO AREA MEMBER SINCE 1999, SCHENGEN AREA MEMBER SINCE 1995 AND MORE ABOUT FRANCE’S PARTICIPATION IN THE EU.',
 'GERMANY.',
 'EU MEMBER COUNTRY SINCE 1958, EURO AREA MEMBER SINCE 1999, SCHENGEN AREA MEMBER SINCE 1995 AND MORE ABOUT GERMANY’S PARTICIPATION IN THE EU.',
 'GREECE.',
 'EU MEMBER COUNTRY SINCE 1981, EURO AREA MEMBER SINCE 2001, SCHENGEN AREA MEMBER SINCE 2000 AND MORE ABOUT GREECE’S PARTICIPATION IN THE EU.',
 'HUNGARY.',
 'EU MEMBER COUNTRY SINCE 2004, SCHENGEN AREA MEMBER SINCE 2007 AND MORE ABOUT HUNGARY’S PARTICIPATION IN THE EU.',
 'IRELAND.',
 'EU MEMBER COUNTRY SINCE 1973, EURO AREA MEMBER SINCE 1999, OPT-OUT FROM SCHENGEN AREA AND MORE ABOUT IRELAND’S PARTICIPATION IN THE EU.',
 'ITALY.',
 'EU MEMBER COUNTRY SINCE 1958, EURO AREA MEMBER SINCE 1999, SCHENGEN AREA MEMBER SINCE 1997 AND MORE ABOUT ITALY’S PARTICIPATION IN THE EU.',
 'LATVIA.',
 'EU MEMBER COUNTRY SINCE 2004, EURO AREA MEMBER SINCE 2014, SCHENGEN AREA MEMBER SINCE 2007 AND MORE ABOUT LATVIA’S PARTICIPATION IN THE EU.',
 'LITHUANIA.',
 'EU MEMBER COUNTRY SINCE 2004, EURO AREA MEMBER SINCE 2015, SCHENGEN AREA MEMBER SINCE 2007 AND MORE ABOUT LITHUANIA’S PARTICIPATION IN THE EU.',
 'LUXEMBOURG.',
 'EU MEMBER COUNTRY SINCE 1958, EURO AREA MEMBER SINCE 1999, SCHENGEN AREA MEMBER SINCE 1995 AND MORE ABOUT LUXEMBOURG’S PARTICIPATION IN THE EU.',
 'MALTA.',
 'EU MEMBER COUNTRY SINCE 2004, EURO AREA MEMBER SINCE 2008, SCHENGEN AREA MEMBER SINCE 2007 AND MORE ABOUT MALTA’S PARTICIPATION IN THE EU.',
 'NETHERLANDS.',
 'EU MEMBER COUNTRY SINCE 1958, EURO AREA MEMBER SINCE 1999, SCHENGEN AREA MEMBER SINCE 1995 AND MORE ABOUT THE NETHERLANDS’ PARTICIPATION IN THE EU.',
 'POLAND.',
 'EU MEMBER COUNTRY SINCE 2004, SCHENGEN AREA MEMBER SINCE 2007 AND MORE ABOUT POLAND’S PARTICIPATION IN THE EU.',
 'PORTUGAL.',
 'EU MEMBER COUNTRY SINCE 1986, EURO AREA MEMBER SINCE 1999, SCHENGEN AREA MEMBER SINCE 1995 AND MORE ABOUT PORTUGAL’S PARTICIPATION IN THE EU.',
 'ROMANIA.',
 'EU MEMBER COUNTRY SINCE 2007 AND MORE ABOUT ROMANIA’S PARTICIPATION IN THE EU.',
 'SLOVAKIA.',
 'EU MEMBER COUNTRY SINCE 2004, EURO AREA MEMBER SINCE 2009, SCHENGEN AREA MEMBER SINCE 2007 AND MORE ABOUT SLOVAKIA’S PARTICIPATION IN THE EU.',
 'SLOVENIA.',
 'EU MEMBER COUNTRY SINCE 2004, EURO AREA MEMBER SINCE 2007, SCHENGEN AREA MEMBER SINCE 2007 AND MORE ABOUT SLOVENIA’S PARTICIPATION IN THE EU.',
 'SPAIN.',
 'EU MEMBER COUNTRY SINCE 1986, EURO AREA MEMBER SINCE 1999, SCHENGEN AREA MEMBER SINCE 1995 AND MORE ABOUT SPAIN’S PARTICIPATION IN THE EU.',
 'SWEDEN.',
 'EU MEMBER COUNTRY SINCE 1995, SCHENGEN AREA MEMBER SINCE 2001 AND MORE ABOUT SWEDEN’S PARTICIPATION IN THE EU.']

In [656]:
co = str(converted_list)

In [657]:
from itertools import chain

In [658]:
coming = ' '.join(str(v) for v in converted_list)

In [659]:
coming

"AUSTRIA. EU MEMBER COUNTRY SINCE 1995, EURO AREA MEMBER SINCE 1999, SCHENGEN AREA MEMBER SINCE 1997 AND MORE ABOUT AUSTRIA’S PARTICIPATION IN THE EU. BELGIUM. EU MEMBER COUNTRY SINCE 1958, EURO AREA MEMBER SINCE 1999, SCHENGEN AREA MEMBER SINCE 1995 AND MORE ABOUT BELGIUM’S PARTICIPATION IN THE EU. BULGARIA. EU MEMBER COUNTRY SINCE 2007 AND MORE ABOUT BULGARIA’S PARTICIPATION IN THE EU. CROATIA. EU MEMBER STATE SINCE 2013 AND MORE ON CROATIA'S ROLE IN THE EU. CYPRUS. EU MEMBER COUNTRY SINCE 2004, EURO AREA MEMBER SINCE 2008 AND MORE ABOUT CYPRUS’S PARTICIPATION IN THE EU. CZECHIA. EU MEMBER COUNTRY SINCE 2004, SCHENGEN AREA MEMBER SINCE 2007 AND MORE ABOUT CZECHIA’S PARTICIPATION IN THE EU. DENMARK. EU MEMBER COUNTRY SINCE 1973, OPT-OUT FROM EURO, SCHENGEN AREA MEMBER SINCE 2001 AND MORE ABOUT DENMARK’S PARTICIPATION IN THE EU. ESTONIA. HOW ESTONIA IS REPRESENTED IN THE DIFFERENT EU INSTITUTIONS, HOW MUCH MONEY IT GIVES AND RECEIVES, ITS POLITICAL SYSTEM AND TRADE FIGURES. FINLAND. EU MEMBER COUNTRY SINCE 1995, EURO AREA MEMBER SINCE 1999, SCHENGEN AREA MEMBER SINCE 2001 AND MORE ABOUT FINLAND’S PARTICIPATION IN THE EU. FRANCE. EU MEMBER COUNTRY SINCE 1958, EURO AREA MEMBER SINCE 1999, SCHENGEN AREA MEMBER SINCE 1995 AND MORE ABOUT FRANCE’S PARTICIPATION IN THE EU. GERMANY. EU MEMBER COUNTRY SINCE 1958, EURO AREA MEMBER SINCE 1999, SCHENGEN AREA MEMBER SINCE 1995 AND MORE ABOUT GERMANY’S PARTICIPATION IN THE EU. GREECE. EU MEMBER COUNTRY SINCE 1981, EURO AREA MEMBER SINCE 2001, SCHENGEN AREA MEMBER SINCE 2000 AND MORE ABOUT GREECE’S PARTICIPATION IN THE EU. HUNGARY. EU MEMBER COUNTRY SINCE 2004, SCHENGEN AREA MEMBER SINCE 2007 AND MORE ABOUT HUNGARY’S PARTICIPATION IN THE EU. IRELAND. EU MEMBER COUNTRY SINCE 1973, EURO AREA MEMBER SINCE 1999, OPT-OUT FROM SCHENGEN AREA AND MORE ABOUT IRELAND’S PARTICIPATION IN THE EU. ITALY. EU MEMBER COUNTRY SINCE 1958, EURO AREA MEMBER SINCE 1999, SCHENGEN AREA MEMBER SINCE 1997 AND MORE ABOUT ITALY’S PARTICIPATION IN THE EU. LATVIA. EU MEMBER COUNTRY SINCE 2004, EURO AREA MEMBER SINCE 2014, SCHENGEN AREA MEMBER SINCE 2007 AND MORE ABOUT LATVIA’S PARTICIPATION IN THE EU. LITHUANIA. EU MEMBER COUNTRY SINCE 2004, EURO AREA MEMBER SINCE 2015, SCHENGEN AREA MEMBER SINCE 2007 AND MORE ABOUT LITHUANIA’S PARTICIPATION IN THE EU. LUXEMBOURG. EU MEMBER COUNTRY SINCE 1958, EURO AREA MEMBER SINCE 1999, SCHENGEN AREA MEMBER SINCE 1995 AND MORE ABOUT LUXEMBOURG’S PARTICIPATION IN THE EU. MALTA. EU MEMBER COUNTRY SINCE 2004, EURO AREA MEMBER SINCE 2008, SCHENGEN AREA MEMBER SINCE 2007 AND MORE ABOUT MALTA’S PARTICIPATION IN THE EU. NETHERLANDS. EU MEMBER COUNTRY SINCE 1958, EURO AREA MEMBER SINCE 1999, SCHENGEN AREA MEMBER SINCE 1995 AND MORE ABOUT THE NETHERLANDS’ PARTICIPATION IN THE EU. POLAND. EU MEMBER COUNTRY SINCE 2004, SCHENGEN AREA MEMBER SINCE 2007 AND MORE ABOUT POLAND’S PARTICIPATION IN THE EU. PORTUGAL. EU MEMBER COUNTRY SINCE 1986, EURO AREA MEMBER SINCE 1999, SCHENGEN AREA MEMBER SINCE 1995 AND MORE ABOUT PORTUGAL’S PARTICIPATION IN THE EU. ROMANIA. EU MEMBER COUNTRY SINCE 2007 AND MORE ABOUT ROMANIA’S PARTICIPATION IN THE EU. SLOVAKIA. EU MEMBER COUNTRY SINCE 2004, EURO AREA MEMBER SINCE 2009, SCHENGEN AREA MEMBER SINCE 2007 AND MORE ABOUT SLOVAKIA’S PARTICIPATION IN THE EU. SLOVENIA. EU MEMBER COUNTRY SINCE 2004, EURO AREA MEMBER SINCE 2007, SCHENGEN AREA MEMBER SINCE 2007 AND MORE ABOUT SLOVENIA’S PARTICIPATION IN THE EU. SPAIN. EU MEMBER COUNTRY SINCE 1986, EURO AREA MEMBER SINCE 1999, SCHENGEN AREA MEMBER SINCE 1995 AND MORE ABOUT SPAIN’S PARTICIPATION IN THE EU. SWEDEN. EU MEMBER COUNTRY SINCE 1995, SCHENGEN AREA MEMBER SINCE 2001 AND MORE ABOUT SWEDEN’S PARTICIPATION IN THE EU."

In [660]:
come = coming.replace(".", "")
com = come.replace("REPUBLIC", "")
come= com.replace("OF", "")

In [661]:
come

"AUSTRIA EU MEMBER COUNTRY SINCE 1995, EURO AREA MEMBER SINCE 1999, SCHENGEN AREA MEMBER SINCE 1997 AND MORE ABOUT AUSTRIA’S PARTICIPATION IN THE EU BELGIUM EU MEMBER COUNTRY SINCE 1958, EURO AREA MEMBER SINCE 1999, SCHENGEN AREA MEMBER SINCE 1995 AND MORE ABOUT BELGIUM’S PARTICIPATION IN THE EU BULGARIA EU MEMBER COUNTRY SINCE 2007 AND MORE ABOUT BULGARIA’S PARTICIPATION IN THE EU CROATIA EU MEMBER STATE SINCE 2013 AND MORE ON CROATIA'S ROLE IN THE EU CYPRUS EU MEMBER COUNTRY SINCE 2004, EURO AREA MEMBER SINCE 2008 AND MORE ABOUT CYPRUS’S PARTICIPATION IN THE EU CZECHIA EU MEMBER COUNTRY SINCE 2004, SCHENGEN AREA MEMBER SINCE 2007 AND MORE ABOUT CZECHIA’S PARTICIPATION IN THE EU DENMARK EU MEMBER COUNTRY SINCE 1973, OPT-OUT FROM EURO, SCHENGEN AREA MEMBER SINCE 2001 AND MORE ABOUT DENMARK’S PARTICIPATION IN THE EU ESTONIA HOW ESTONIA IS REPRESENTED IN THE DIFFERENT EU INSTITUTIONS, HOW MUCH MONEY IT GIVES AND RECEIVES, ITS POLITICAL SYSTEM AND TRADE FIGURES FINLAND EU MEMBER COUNTRY SINCE 1995, EURO AREA MEMBER SINCE 1999, SCHENGEN AREA MEMBER SINCE 2001 AND MORE ABOUT FINLAND’S PARTICIPATION IN THE EU FRANCE EU MEMBER COUNTRY SINCE 1958, EURO AREA MEMBER SINCE 1999, SCHENGEN AREA MEMBER SINCE 1995 AND MORE ABOUT FRANCE’S PARTICIPATION IN THE EU GERMANY EU MEMBER COUNTRY SINCE 1958, EURO AREA MEMBER SINCE 1999, SCHENGEN AREA MEMBER SINCE 1995 AND MORE ABOUT GERMANY’S PARTICIPATION IN THE EU GREECE EU MEMBER COUNTRY SINCE 1981, EURO AREA MEMBER SINCE 2001, SCHENGEN AREA MEMBER SINCE 2000 AND MORE ABOUT GREECE’S PARTICIPATION IN THE EU HUNGARY EU MEMBER COUNTRY SINCE 2004, SCHENGEN AREA MEMBER SINCE 2007 AND MORE ABOUT HUNGARY’S PARTICIPATION IN THE EU IRELAND EU MEMBER COUNTRY SINCE 1973, EURO AREA MEMBER SINCE 1999, OPT-OUT FROM SCHENGEN AREA AND MORE ABOUT IRELAND’S PARTICIPATION IN THE EU ITALY EU MEMBER COUNTRY SINCE 1958, EURO AREA MEMBER SINCE 1999, SCHENGEN AREA MEMBER SINCE 1997 AND MORE ABOUT ITALY’S PARTICIPATION IN THE EU LATVIA EU MEMBER COUNTRY SINCE 2004, EURO AREA MEMBER SINCE 2014, SCHENGEN AREA MEMBER SINCE 2007 AND MORE ABOUT LATVIA’S PARTICIPATION IN THE EU LITHUANIA EU MEMBER COUNTRY SINCE 2004, EURO AREA MEMBER SINCE 2015, SCHENGEN AREA MEMBER SINCE 2007 AND MORE ABOUT LITHUANIA’S PARTICIPATION IN THE EU LUXEMBOURG EU MEMBER COUNTRY SINCE 1958, EURO AREA MEMBER SINCE 1999, SCHENGEN AREA MEMBER SINCE 1995 AND MORE ABOUT LUXEMBOURG’S PARTICIPATION IN THE EU MALTA EU MEMBER COUNTRY SINCE 2004, EURO AREA MEMBER SINCE 2008, SCHENGEN AREA MEMBER SINCE 2007 AND MORE ABOUT MALTA’S PARTICIPATION IN THE EU NETHERLANDS EU MEMBER COUNTRY SINCE 1958, EURO AREA MEMBER SINCE 1999, SCHENGEN AREA MEMBER SINCE 1995 AND MORE ABOUT THE NETHERLANDS’ PARTICIPATION IN THE EU POLAND EU MEMBER COUNTRY SINCE 2004, SCHENGEN AREA MEMBER SINCE 2007 AND MORE ABOUT POLAND’S PARTICIPATION IN THE EU PORTUGAL EU MEMBER COUNTRY SINCE 1986, EURO AREA MEMBER SINCE 1999, SCHENGEN AREA MEMBER SINCE 1995 AND MORE ABOUT PORTUGAL’S PARTICIPATION IN THE EU ROMANIA EU MEMBER COUNTRY SINCE 2007 AND MORE ABOUT ROMANIA’S PARTICIPATION IN THE EU SLOVAKIA EU MEMBER COUNTRY SINCE 2004, EURO AREA MEMBER SINCE 2009, SCHENGEN AREA MEMBER SINCE 2007 AND MORE ABOUT SLOVAKIA’S PARTICIPATION IN THE EU SLOVENIA EU MEMBER COUNTRY SINCE 2004, EURO AREA MEMBER SINCE 2007, SCHENGEN AREA MEMBER SINCE 2007 AND MORE ABOUT SLOVENIA’S PARTICIPATION IN THE EU SPAIN EU MEMBER COUNTRY SINCE 1986, EURO AREA MEMBER SINCE 1999, SCHENGEN AREA MEMBER SINCE 1995 AND MORE ABOUT SPAIN’S PARTICIPATION IN THE EU SWEDEN EU MEMBER COUNTRY SINCE 1995, SCHENGEN AREA MEMBER SINCE 2001 AND MORE ABOUT SWEDEN’S PARTICIPATION IN THE EU"

In [662]:
# i need to get the intersection of countries

In [663]:
#movi
#come

read = set(result.split()) & set(come.split())

In [664]:
readd = list(read)

In [665]:
readd.append("SWIZERLAND")
readd.append("UNITED KINGDOM")
readd.append("SCOTLAND")
readd.append("NORWAY")
readd.append("SWITZERLAND")
readd.append("UGANDA")
readd.append("CZECH REPUBLIC")
readd.append("SERBIA")
readd.append("MALT")
readd.append("UKRAIN")
readd.append("BURGARIA")
readd.append("MONTENEGRO")

#SWIZERLAND

In [666]:
readd

['NETHERLANDS',
 'SLOVAKIA',
 'PORTUGAL',
 'SWEDEN',
 'CYPRUS',
 'IRELAND',
 'HUNGARY',
 'GREECE',
 'FINLAND',
 'LATVIA',
 'ESTONIA',
 'ROMANIA',
 'SPAIN',
 'DENMARK',
 'FRANCE',
 'ITALY',
 'AUSTRIA',
 'SLOVENIA',
 'BELGIUM',
 'GERMANY',
 'POLAND',
 'CROATIA',
 'LITHUANIA',
 'LUXEMBOURG',
 'SWIZERLAND',
 'UNITED KINGDOM',
 'SCOTLAND',
 'NORWAY',
 'SWITZERLAND',
 'UGANDA',
 'CZECH REPUBLIC',
 'SERBIA',
 'MALT',
 'UKRAIN',
 'BURGARIA',
 'MONTENEGRO']

In [667]:
i = len(readd)

In [668]:
matches = []

for match in list1:
    if readd[i-1] in match:
        matches.append(match)
        i-=1

In [669]:
type(matches)

list

In [670]:
i = len(readd)

In [671]:
i

36

In [672]:
readd[i-1]

'MONTENEGRO'

In [673]:
df.upcountry.replace(readd, 'Europe', inplace=True)

In [674]:
df.head(50)

,ID,country,age_group,travel_with,total_female,total_male,purpose,main_activity,info_source,tour_arrangement,...,package_sightseeing,package_guided_tour,package_insurance,night_mainland,night_zanzibar,payment_mode,first_trip_tz,most_impressing,total_cost,upcountry
0,tour_0,SWIZERLAND,45-64,Friends/Relatives,1.0,1.0,Leisure and Holidays,Wildlife tourism,"Friends, relatives",Independent,...,No,No,No,13,0,Cash,No,Friendly People,674602.5,Europe
1,tour_10,UNITED KINGDOM,25-44,NaN,1.0,0.0,Leisure and Holidays,Cultural tourism,others,Independent,...,No,No,No,14,7,Cash,Yes,"Wonderful Country, Landscape, Nature",3214906.5,Europe
2,tour_1000,UNITED KINGDOM,25-44,Alone,0.0,1.0,Visiting Friends and Relatives,Cultural tourism,"Friends, relatives",Independent,...,No,No,No,1,31,Cash,No,Excellent Experience,3315000.0,Europe
3,tour_1002,UNITED KINGDOM,25-44,Spouse,1.0,1.0,Leisure and Holidays,Wildlife tourism,"Travel, agent, tour operator",Package Tour,...,Yes,Yes,No,11,0,Cash,Yes,Friendly People,7790250.0,Europe
4,tour_1004,CHINA,2022-01-24 00:00:00,NaN,1.0,0.0,Leisure and Holidays,Wildlife tourism,"Travel, agent, tour operator",Independent,...,No,No,No,7,4,Cash,Yes,No comments,1657500.0,CHINA
5,tour_1005,UNITED KINGDOM,25-44,NaN,0.0,1.0,Leisure and Holidays,Wildlife tourism,"Travel, agent, tour operator",Package Tour,...,Yes,Yes,No,9,3,Cash,Yes,Wildlife,120950.0,Europe
6,tour_1007,SOUTH AFRICA,45-64,Alone,0.0,1.0,Business,Mountain climbing,"Friends, relatives",Independent,...,No,No,No,9,0,Cash,Yes,Friendly People,466140.0,Southern Africa
7,tour_1008,UNITED STATES OF AMERICA,45-64,Friends/Relatives,1.0,1.0,Leisure and Holidays,Wildlife tourism,"Travel, agent, tour operator",Package Tour,...,Yes,Yes,Yes,10,3,Cash,Yes,Friendly People,3480750.0,UNITED STATES OF AMERICA
8,tour_101,NIGERIA,25-44,Alone,0.0,1.0,Leisure and Holidays,Cultural tourism,"Travel, agent, tour operator",Independent,...,No,No,No,4,0,Cash,Yes,NaN,994500.0,West Africa
9,tour_1011,INDIA,25-44,Alone,1.0,0.0,Business,Wildlife tourism,"Travel, agent, tour operator",Independent,...,No,No,No,5,0,Credit Card,Yes,Friendly People,2486250.0,INDIA
10,tour_1012,BRAZIL,25-44,Spouse,1.0,1.0,Leisure and Holidays,Wildlife tourism,"Radio, TV, Web",Independent,...,No,No,No,17,3,Cash,Yes,"Wonderful Country, Landscape, Nature",1117155.0,BRAZIL
11,tour_1013,CANADA,45-64,Children,2.0,0.0,Leisure and Holidays,Beach tourism,"Friends, relatives",Independent,...,No,No,No,30,0,Cash,No,Excellent Experience,8121750.0,CANADA
12,tour_1016,CANADA,45-64,Children,0.0,2.0,Leisure and Holidays,Wildlife tourism,"Travel, agent, tour operator",Independent,...,No,No,No,11,3,Cash,Yes,No comments,331500.0,CANADA
13,tour_1017,MALT,25-44,Friends/Relatives,2.0,0.0,Leisure and Holidays,Wildlife tourism,"Friends, relatives",Package Tour,...,No,No,No,10,0,Cash,Yes,No comments,11346650.0,Europe
14,tour_1018,MOZAMBIQUE,25-44,Alone,0.0,1.0,Visiting Friends and Relatives,Beach tourism,"Friends, relatives",Independent,...,No,No,No,2,0,Cash,Yes,Wildlife,497250.0,Southern Africa
15,tour_102,RWANDA,65+,Alone,1.0,0.0,Leisure and Holidays,Beach tourism,"Friends, relatives",Independent,...,No,No,No,0,2,Cash,Yes,"Wonderful Country, Landscape, Nature",331500.0,East Africa
16,tour_1021,AUSTRIA,45-64,Friends/Relatives,4.0,1.0,Visiting Friends and Relatives,Mountain climbing,"Friends, relatives",Independent,...,No,No,No,24,0,Cash,No,Friendly People,2000000.0,Europe
17,tour_1022,MYANMAR,25-44,NaN,1.0,0.0,Meetings and Conference,Wildlife tourism,"Radio, TV, Web",Independent,...,No,No,No,5,0,Cash,Yes,Friendly People,331500.0,MYANMAR
18,tour_1024,GERMANY,25-44,Children,1.0,1.0,Visiting Friends and Relatives,Cultural tourism,"Friends, relatives",Independent,...,No,No,No,3,0,Cash,Yes,Friendly People,2269330.0,Europe
19,tour_1026,KENYA,25-44,NaN,1.0,0.0,Business,Mountain climbing,"Friends, relatives",Independent,...,No,No,No,4,0,Cash,No,Friendly People,377520.0,East Africa
20,tour_1027,UNITED KINGDOM,2022-01-24 00:00:00,NaN,1.0,0.0,Volunteering,Cultural tourism,Tanzania Mission Abroad,Independent,...,No,No,No,70,0,Cash,Yes,"Wonderful Country, Landscape, Nature",711262.5,Europe
21,tour_1028,KENYA,45-64,NaN,0.0,1.0,Business,Wildlife tourism,"Friends, relatives",Independent,...,No,No,No,4,0,Cash,Yes,No comments,497250.0,East Africa
22,tour_1029,SWIZERLAND,45-64,Children,1.0,1.0,Leisure and Holidays,Wildlife tourism,"Friends, relatives",Package Tour,...,No,No,No,10,0,Credit Card,No,Friendly People,7458750.0,Europe
23,tour_103,ALGERIA,25-44,Spouse,1.0,1.0,Leisure and Holidays,Beach tourism,"Radio, TV, Web",Independent,...,No,No,No,0,11,Cash,Yes,Wildlife,3734347.5,North Africa
24,tour_1030,IRELAND,2022-01-24 00:00:00,Friends/Relatives,1.0,1.0,Leisure and Holidays,Wildlife tourism,others,Independent,...,No,No,No,20,6,Cash,Yes,Friendly People,5673325.0,Europe
25,tour_1032,DENMARK,2022-01-24 00:00:00,Friends/Relatives,2.0,2.0,Scientific and Academic,Beach tourism,"Friends, relatives",Independent,...,No,No,No,15,7,Cash,Yes,No comments,400000.0,Europe
26,tour_1033,UNITED KINGDOM,25-44,Alone,0.0,1.0,Business,Wildlife tourism,"Travel, agent, tour operator",Independent,...,No,No,No,1,0,Credit Card,Yes,No comments,663000.0,Europe
27,tour_1034,GERMANY,2022-01-24 00:00:00,NaN,1.0,0.0,Leisure and Holidays,Wildlife tourism,"Friends, relatives",Independent,...,No,No,No,24,4,Cash,Yes,Good service,453866.0,Europe
28,tour_1035,SPAIN,45-64,Spouse and Children,3.0,1.0,Leisure and Holidays,Wildlife tourism,"Travel, agent, tour operator",Package Tour,...,Yes,Yes,Yes,4,4,Cash,Yes,Wildlife,25442625.0,Europe
29,tour_1036,FRANCE,2022-01-24 00:00:00,NaN,0.0,1.0,Leisure and Holidays,Conference tourism,others,Package Tour,...,Yes,Yes,Yes,11,3,Cash,Yes,"Wonderful Country, Landscape, Nature",6961500.0,Europe
30,tour_1038,UNITED KINGDOM,2022-01-24 00:00:00,Alone,0.0,1.0,Volunteering,Hunting tourism,"Friends, relatives",Independent,...,No,No,No,56,0,Credit Card,No,Friendly People,1707030.0,Europe
31,tour_1039,UNITED KINGDOM,45-64,Alone,1.0,0.0,Visiting Friends and Relatives,Hunting tourism,"Friends, relatives",Independent,...,No,No,No,12,0,Cash,No,Friendly People,5690100.0,Europe
32,tour_104,ITALY,45-64,Friends/Relatives,2.0,0.0,Leisure and Holidays,Wildlife tourism,"Radio, TV, Web",Package Tour,...,Yes,No,No,6,5,Cash,Yes,Excellent Experience,2652000.0,Europe
33,tour_1040,EGYPT,2022-01-24 00:00:00,Alone,0.0,1.0,Visiting Friends and Relatives,Bird watching,"Travel, agent, tour operator",Package Tour,...,No,No,No,2,0,Cash,Yes,No comments,2320500.0,North Africa
34,tour_1041,UNITED KINGDOM,45-64,Alone,1.0,0.0,Visiting Friends and Relatives,Hunting tourism,"Friends, relatives",Independent,...,No,No,No,11,0,Cash,No,No comments,4267575.0,Europe
35,tour_1042,QATAR,25-44,Friends/Relatives,2.0,2.0,Leisure and Holidays,Wildlife tourism,"Friends, relatives",Package Tour,...,Yes,Yes,No,13,10,Cash,No,Wildlife,17316000.0,QATAR
36,tour_1043,MOZAMBIQUE,2022-01-24 00:00:00,Alone,1.0,0.0,Visiting Friends and Relatives,Hunting tourism,"Friends, relatives",Independent,...,No,No,No,3,0,Cash,Yes,Excellent Experience,663000.0,Southern Africa
37,tour_1045,KENYA,45-64,Alone,1.0,0.0,Scientific and Academic,Mountain climbing,inflight magazines,Package Tour,...,No,No,No,5,0,Credit Card,No,Wildlife,3812250.0,East Africa
38,tour_1046,CHINA,25-44,Alone,1.0,0.0,Leisure and Holidays,Beach tourism,"Newspaper, magazines,brochures",Independent,...,No,No,No,2,0,Other,No,Friendly People,828750.0,CHINA
39,tour_1047,MALAWI,25-44,Alone,0.0,1.0,Meetings and Conference,Beach tourism,"Friends, relatives",Independent,...,No,No,No,21,0,Credit Card,No,Friendly People,3000000.0,Southern Africa
40,tour_1048,UNITED KINGDOM,45-64,Spouse,1.0,1.0,Visiting Friends and Relatives,Beach tourism,"Friends, relatives",Independent,...,No,No,No,10,0,Cash,No,Excellent Experience,828750.0,Europe
41,tour_1049,UNITED KINGDOM,25-44,Children,0.0,3.0,Visiting Friends and Relatives,Beach tourism,"Friends, relatives",Independent,...,No,No,No,29,0,Cash,No,No comments,28450500.0,Europe
42,tour_105,JAPAN,25-44,NaN,1.0,0.0,Volunteering,Cultural tourism,"Travel, agent, tour operator",Independent,...,No,No,No,27,2,Cash,Yes,No comments,745875.0,JAPAN
43,tour_1050,CHINA,2022-01-24 00:00:00,Alone,0.0,1.0,Leisure and Holidays,Wildlife tourism,"Friends, relatives",Independent,...,No,No,No,34,4,Cash,Yes,Friendly People,3273562.5,CHINA
44,tour_1051,UNITED STATES OF AMERICA,45-64,Spouse,1.0,1.0,Leisure and Holidays,Beach tourism,others,Independent,...,No,No,No,0,5,Cash,Yes,No comments,3397875.0,UNITED STATES OF AMERICA
45,tour_1052,UNITED KINGDOM,45-64,Alone,0.0,1.0,Business,business,others,Independent,...,No,No,No,20,0,Cash,Yes,Friendly People,6132750.0,Europe
46,tour_1054,SWEDEN,45-64,NaN,0.0,1.0,Visiting Friends and Relatives,Beach tourism,"Friends, relatives",Package Tour,...,No,No,No,10,7,Credit Card,No,Friendly People,4992526.0,Europe
47,tour_1055,NETHERLANDS,25-44,Spouse,1.0,1.0,Leisure and Holidays,Wildlife tourism,"Travel, agent, tour operator",Independent,...,No,No,No,10,4,Cash,Yes,No comments,1588531.0,Europe
48,tour_1057,FRANCE,25-44,Spouse and Children,1.0,2.0,Leisure and Holidays,Wildlife tourism,"Travel, agent, tour operator",Package Tour,...,Yes,Yes,Yes,4,3,Cash,Yes,No comments,34039950.0,Europe
49,tour_1058,UAE,25-44,Alone,0.0,1.0,Visiting Friends and Relatives,Beach tourism,"Friends, relatives",Independent,...,No,No,No,7,1,Cash,No,NaN,1657500.0,UAE

In [675]:
euro = df[df['upcountry'] == 'Europe' ]
#i=df[df[‘Name’]==’Will’]
#print(i)

In [676]:
euro

,ID,country,age_group,travel_with,total_female,total_male,purpose,main_activity,info_source,tour_arrangement,...,package_sightseeing,package_guided_tour,package_insurance,night_mainland,night_zanzibar,payment_mode,first_trip_tz,most_impressing,total_cost,upcountry
0,tour_0,SWIZERLAND,45-64,Friends/Relatives,1.0,1.0,Leisure and Holidays,Wildlife tourism,"Friends, relatives",Independent,...,No,No,No,13,0,Cash,No,Friendly People,674602.5,Europe
1,tour_10,UNITED KINGDOM,25-44,NaN,1.0,0.0,Leisure and Holidays,Cultural tourism,others,Independent,...,No,No,No,14,7,Cash,Yes,"Wonderful Country, Landscape, Nature",3214906.5,Europe
2,tour_1000,UNITED KINGDOM,25-44,Alone,0.0,1.0,Visiting Friends and Relatives,Cultural tourism,"Friends, relatives",Independent,...,No,No,No,1,31,Cash,No,Excellent Experience,3315000.0,Europe
3,tour_1002,UNITED KINGDOM,25-44,Spouse,1.0,1.0,Leisure and Holidays,Wildlife tourism,"Travel, agent, tour operator",Package Tour,...,Yes,Yes,No,11,0,Cash,Yes,Friendly People,7790250.0,Europe
5,tour_1005,UNITED KINGDOM,25-44,NaN,0.0,1.0,Leisure and Holidays,Wildlife tourism,"Travel, agent, tour operator",Package Tour,...,Yes,Yes,No,9,3,Cash,Yes,Wildlife,120950.0,Europe
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4798,tour_985,SWEDEN,45-64,NaN,1.0,0.0,Business,Wildlife tourism,others,Independent,...,No,No,No,3,0,Cash,No,No comments,1657500.0,Europe
4801,tour_989,ITALY,45-64,Friends/Relatives,1.0,1.0,Meetings and Conference,Mountain climbing,"Newspaper, magazines,brochures",Independent,...,No,No,No,5,0,Cash,Yes,"Wonderful Country, Landscape, Nature",2269330.0,Europe
4803,tour_991,GERMANY,2022-01-24 00:00:00,Friends/Relatives,2.0,0.0,Leisure and Holidays,Beach tourism,"Newspaper, magazines,brochures",Independent,...,No,No,No,12,7,Cash,Yes,No comments,331500.0,Europe
4806,tour_995,NETHERLANDS,2022-01-24 00:00:00,NaN,1.0,0.0,Leisure and Holidays,Wildlife tourism,others,Independent,...,No,No,No,3,7,Cash,Yes,Good service,2246636.7,Europe
4808,tour_999,UNITED KINGDOM,25-44,Spouse,1.0,1.0,Leisure and Holidays,Wildlife tourism,"Travel, agent, tour operator",Package Tour,...,Yes,Yes,No,4,7,Cash,Yes,Friendly People,13260000.0,Europe

In [677]:
df['upcountry'].value_counts()

Europe                      2054
Southern Africa              732
UNITED STATES OF AMERICA     695
East Africa                  451
AUSTRALIA                    186
CANADA                       114
Central Africa               105
INDIA                         87
CHINA                         65
JAPAN                         53
OMAN                          35
UAE                           33
MALAYSIA                      23
NEW ZEALAND                   18
North Africa                  18
ISRAEL                        16
UNITED ARAB EMIRATES          13
KOREA                         12
BRAZIL                        10
TAIWAN                         9
West Africa                    9
QATAR                          8
RUSSIA                         8
SINGAPORE                      7
PAKISTAN                       6
TURKEY                         5
COLOMBIA                       3
INDONESIA                      3
SRI LANKA                      3
LEBANON                        3
YEMEN                          2
PHILIPINES                     2
NEPAL                          2
CHILE                          2
THAILAND                       2
KUWAIT                         2
IRAN                           2
MEXICO                         2
URUGUAY                        1
GEORGIA                        1
ARGENTINA                      1
TRINIDAD TOBACCO               1
COSTARICA                      1
IRAQ                           1
DOMINICA                       1
MYANMAR                        1
BERMUDA                        1
Name: upcountry, dtype: int64

## Asia

In [678]:
#(//div[@class='elementor-widget-container'])[55]

In [679]:
#(//div[@class='content-inner'])[1]

In [680]:
driver.get("https://www.worldometers.info/geography/how-many-countries-in-asia/")   
time.sleep(15)

In [681]:
i = driver.find_element_by_xpath("(//div[@class='content-inner'])[1]")

C:\Users\Kofi\AppData\Local\Temp/ipykernel_13564/3150918693.py:1: DeprecationWarning: find_element_by_xpath is deprecated. Please use find_element(by=By.XPATH, value=xpath) instead
  i = driver.find_element_by_xpath("(//div[@class='content-inner'])[1]")

In [682]:
text = i.text
#(//tbody)[1]

In [683]:
type(text)

str

In [684]:
rep = text.replace("\n", ". ")

In [685]:
import re
expression = re.compile(r'([A-Z][^\.!?]*[\.!?])')
new_list = re.findall(expression, rep)

In [686]:
new_list

['W How many Countries in Asia?',
 'Countries in Asia:.',
 'There are 48 countries in Asia today, according to the United Nations.',
 'The full list is shown in the table below, with current population and subregion (based on the United Nations official statistics).',
 'Not included in this total of "countries" and listed separately are:.',
 'Dependencies (or dependent territories, dependent areas) or Areas of Special Sovereignty (autonomous territories).',
 'Search:.',
 'Country Population.',
 'Subregion.',
 'China 1,439,323,776 Eastern Asia.',
 'India 1,380,004,385 Southern Asia.',
 'Indonesia 273,523,615 South-Eastern Asia.',
 'Pakistan 220,892,340 Southern Asia.',
 'Bangladesh 164,689,383 Southern Asia.',
 'Japan 126,476,461 Eastern Asia.',
 'Philippines 109,581,078 South-Eastern Asia.',
 'Vietnam 97,338,579 South-Eastern Asia.',
 'Turkey 84,339,067 Western Asia.',
 'Iran 83,992,949 Southern Asia.',
 'Thailand 69,799,978 South-Eastern Asia.',
 'Myanmar 54,409,800 South-Eastern Asia.',
 'South Korea 51,269,185 Eastern Asia.',
 'Iraq 40,222,493 Western Asia.',
 'Afghanistan 38,928,346 Southern Asia.',
 'Saudi Arabia 34,813,871 Western Asia.',
 'Uzbekistan 33,469,203 Central Asia.',
 'Malaysia 32,365,999 South-Eastern Asia.',
 'Yemen 29,825,964 Western Asia.',
 'Nepal 29,136,808 Southern Asia.',
 'North Korea 25,778,816 Eastern Asia.',
 'Sri Lanka 21,413,249 Southern Asia.',
 'Kazakhstan 18,776,707 Central Asia.',
 'Syria 17,500,658 Western Asia.',
 'Cambodia 16,718,965 South-Eastern Asia.',
 'Jordan 10,203,134 Western Asia.',
 'Azerbaijan 10,139,177 Western Asia.',
 'United Arab Emirates 9,890,402 Western Asia.',
 'Tajikistan 9,537,645 Central Asia.',
 'Israel 8,655,535 Western Asia.',
 'Laos 7,275,560 South-Eastern Asia.',
 'Lebanon 6,825,445 Western Asia.',
 'Kyrgyzstan 6,524,195 Central Asia.',
 'Turkmenistan 6,031,200 Central Asia.',
 'Singapore 5,850,342 South-Eastern Asia.',
 'Oman 5,106,626 Western Asia.',
 'State of Palestine 5,101,414 Western Asia.',
 'Kuwait 4,270,571 Western Asia.',
 'Georgia 3,989,167 Western Asia.',
 'Mongolia 3,278,290 Eastern Asia.',
 'Armenia 2,963,243 Western Asia.',
 'Qatar 2,881,053 Western Asia.',
 'Bahrain 1,701,575 Western Asia.',
 'Timor-Leste 1,318,445 South-Eastern Asia.',
 'Cyprus 1,207,359 Western Asia.',
 'Bhutan 771,608 Southern Asia.',
 'Maldives 540,544 Southern Asia.',
 'Brunei 437,479 South-Eastern Asia.',
 'Dependencies or other territories.',
 'Territory Population.',
 'Dependency of.',
 'Taiwan 23,816,775 (China).',
 'Hong Kong 7,496,981 China.']

In [687]:
converted_list = [x.upper() for x in new_list]

In [688]:
converted_list

['W HOW MANY COUNTRIES IN ASIA?',
 'COUNTRIES IN ASIA:.',
 'THERE ARE 48 COUNTRIES IN ASIA TODAY, ACCORDING TO THE UNITED NATIONS.',
 'THE FULL LIST IS SHOWN IN THE TABLE BELOW, WITH CURRENT POPULATION AND SUBREGION (BASED ON THE UNITED NATIONS OFFICIAL STATISTICS).',
 'NOT INCLUDED IN THIS TOTAL OF "COUNTRIES" AND LISTED SEPARATELY ARE:.',
 'DEPENDENCIES (OR DEPENDENT TERRITORIES, DEPENDENT AREAS) OR AREAS OF SPECIAL SOVEREIGNTY (AUTONOMOUS TERRITORIES).',
 'SEARCH:.',
 'COUNTRY POPULATION.',
 'SUBREGION.',
 'CHINA 1,439,323,776 EASTERN ASIA.',
 'INDIA 1,380,004,385 SOUTHERN ASIA.',
 'INDONESIA 273,523,615 SOUTH-EASTERN ASIA.',
 'PAKISTAN 220,892,340 SOUTHERN ASIA.',
 'BANGLADESH 164,689,383 SOUTHERN ASIA.',
 'JAPAN 126,476,461 EASTERN ASIA.',
 'PHILIPPINES 109,581,078 SOUTH-EASTERN ASIA.',
 'VIETNAM 97,338,579 SOUTH-EASTERN ASIA.',
 'TURKEY 84,339,067 WESTERN ASIA.',
 'IRAN 83,992,949 SOUTHERN ASIA.',
 'THAILAND 69,799,978 SOUTH-EASTERN ASIA.',
 'MYANMAR 54,409,800 SOUTH-EASTERN ASIA.',
 'SOUTH KOREA 51,269,185 EASTERN ASIA.',
 'IRAQ 40,222,493 WESTERN ASIA.',
 'AFGHANISTAN 38,928,346 SOUTHERN ASIA.',
 'SAUDI ARABIA 34,813,871 WESTERN ASIA.',
 'UZBEKISTAN 33,469,203 CENTRAL ASIA.',
 'MALAYSIA 32,365,999 SOUTH-EASTERN ASIA.',
 'YEMEN 29,825,964 WESTERN ASIA.',
 'NEPAL 29,136,808 SOUTHERN ASIA.',
 'NORTH KOREA 25,778,816 EASTERN ASIA.',
 'SRI LANKA 21,413,249 SOUTHERN ASIA.',
 'KAZAKHSTAN 18,776,707 CENTRAL ASIA.',
 'SYRIA 17,500,658 WESTERN ASIA.',
 'CAMBODIA 16,718,965 SOUTH-EASTERN ASIA.',
 'JORDAN 10,203,134 WESTERN ASIA.',
 'AZERBAIJAN 10,139,177 WESTERN ASIA.',
 'UNITED ARAB EMIRATES 9,890,402 WESTERN ASIA.',
 'TAJIKISTAN 9,537,645 CENTRAL ASIA.',
 'ISRAEL 8,655,535 WESTERN ASIA.',
 'LAOS 7,275,560 SOUTH-EASTERN ASIA.',
 'LEBANON 6,825,445 WESTERN ASIA.',
 'KYRGYZSTAN 6,524,195 CENTRAL ASIA.',
 'TURKMENISTAN 6,031,200 CENTRAL ASIA.',
 'SINGAPORE 5,850,342 SOUTH-EASTERN ASIA.',
 'OMAN 5,106,626 WESTERN ASIA.',
 'STATE OF PALESTINE 5,101,414 WESTERN ASIA.',
 'KUWAIT 4,270,571 WESTERN ASIA.',
 'GEORGIA 3,989,167 WESTERN ASIA.',
 'MONGOLIA 3,278,290 EASTERN ASIA.',
 'ARMENIA 2,963,243 WESTERN ASIA.',
 'QATAR 2,881,053 WESTERN ASIA.',
 'BAHRAIN 1,701,575 WESTERN ASIA.',
 'TIMOR-LESTE 1,318,445 SOUTH-EASTERN ASIA.',
 'CYPRUS 1,207,359 WESTERN ASIA.',
 'BHUTAN 771,608 SOUTHERN ASIA.',
 'MALDIVES 540,544 SOUTHERN ASIA.',
 'BRUNEI 437,479 SOUTH-EASTERN ASIA.',
 'DEPENDENCIES OR OTHER TERRITORIES.',
 'TERRITORY POPULATION.',
 'DEPENDENCY OF.',
 'TAIWAN 23,816,775 (CHINA).',
 'HONG KONG 7,496,981 CHINA.']

In [689]:
co = str(converted_list)

In [690]:
from itertools import chain

In [691]:
coming = ' '.join(str(v) for v in converted_list)

In [692]:
coming

'W HOW MANY COUNTRIES IN ASIA? COUNTRIES IN ASIA:. THERE ARE 48 COUNTRIES IN ASIA TODAY, ACCORDING TO THE UNITED NATIONS. THE FULL LIST IS SHOWN IN THE TABLE BELOW, WITH CURRENT POPULATION AND SUBREGION (BASED ON THE UNITED NATIONS OFFICIAL STATISTICS). NOT INCLUDED IN THIS TOTAL OF "COUNTRIES" AND LISTED SEPARATELY ARE:. DEPENDENCIES (OR DEPENDENT TERRITORIES, DEPENDENT AREAS) OR AREAS OF SPECIAL SOVEREIGNTY (AUTONOMOUS TERRITORIES). SEARCH:. COUNTRY POPULATION. SUBREGION. CHINA 1,439,323,776 EASTERN ASIA. INDIA 1,380,004,385 SOUTHERN ASIA. INDONESIA 273,523,615 SOUTH-EASTERN ASIA. PAKISTAN 220,892,340 SOUTHERN ASIA. BANGLADESH 164,689,383 SOUTHERN ASIA. JAPAN 126,476,461 EASTERN ASIA. PHILIPPINES 109,581,078 SOUTH-EASTERN ASIA. VIETNAM 97,338,579 SOUTH-EASTERN ASIA. TURKEY 84,339,067 WESTERN ASIA. IRAN 83,992,949 SOUTHERN ASIA. THAILAND 69,799,978 SOUTH-EASTERN ASIA. MYANMAR 54,409,800 SOUTH-EASTERN ASIA. SOUTH KOREA 51,269,185 EASTERN ASIA. IRAQ 40,222,493 WESTERN ASIA. AFGHANISTAN 38,928,346 SOUTHERN ASIA. SAUDI ARABIA 34,813,871 WESTERN ASIA. UZBEKISTAN 33,469,203 CENTRAL ASIA. MALAYSIA 32,365,999 SOUTH-EASTERN ASIA. YEMEN 29,825,964 WESTERN ASIA. NEPAL 29,136,808 SOUTHERN ASIA. NORTH KOREA 25,778,816 EASTERN ASIA. SRI LANKA 21,413,249 SOUTHERN ASIA. KAZAKHSTAN 18,776,707 CENTRAL ASIA. SYRIA 17,500,658 WESTERN ASIA. CAMBODIA 16,718,965 SOUTH-EASTERN ASIA. JORDAN 10,203,134 WESTERN ASIA. AZERBAIJAN 10,139,177 WESTERN ASIA. UNITED ARAB EMIRATES 9,890,402 WESTERN ASIA. TAJIKISTAN 9,537,645 CENTRAL ASIA. ISRAEL 8,655,535 WESTERN ASIA. LAOS 7,275,560 SOUTH-EASTERN ASIA. LEBANON 6,825,445 WESTERN ASIA. KYRGYZSTAN 6,524,195 CENTRAL ASIA. TURKMENISTAN 6,031,200 CENTRAL ASIA. SINGAPORE 5,850,342 SOUTH-EASTERN ASIA. OMAN 5,106,626 WESTERN ASIA. STATE OF PALESTINE 5,101,414 WESTERN ASIA. KUWAIT 4,270,571 WESTERN ASIA. GEORGIA 3,989,167 WESTERN ASIA. MONGOLIA 3,278,290 EASTERN ASIA. ARMENIA 2,963,243 WESTERN ASIA. QATAR 2,881,053 WESTERN ASIA. BAHRAIN 1,701,575 WESTERN ASIA. TIMOR-LESTE 1,318,445 SOUTH-EASTERN ASIA. CYPRUS 1,207,359 WESTERN ASIA. BHUTAN 771,608 SOUTHERN ASIA. MALDIVES 540,544 SOUTHERN ASIA. BRUNEI 437,479 SOUTH-EASTERN ASIA. DEPENDENCIES OR OTHER TERRITORIES. TERRITORY POPULATION. DEPENDENCY OF. TAIWAN 23,816,775 (CHINA). HONG KONG 7,496,981 CHINA.'

In [693]:
come = coming.replace(".", "")
com = come.replace("REPUBLIC", "")
come= com.replace("OF", "")

In [694]:
come

'W HOW MANY COUNTRIES IN ASIA? COUNTRIES IN ASIA: THERE ARE 48 COUNTRIES IN ASIA TODAY, ACCORDING TO THE UNITED NATIONS THE FULL LIST IS SHOWN IN THE TABLE BELOW, WITH CURRENT POPULATION AND SUBREGION (BASED ON THE UNITED NATIONS FICIAL STATISTICS) NOT INCLUDED IN THIS TOTAL  "COUNTRIES" AND LISTED SEPARATELY ARE: DEPENDENCIES (OR DEPENDENT TERRITORIES, DEPENDENT AREAS) OR AREAS  SPECIAL SOVEREIGNTY (AUTONOMOUS TERRITORIES) SEARCH: COUNTRY POPULATION SUBREGION CHINA 1,439,323,776 EASTERN ASIA INDIA 1,380,004,385 SOUTHERN ASIA INDONESIA 273,523,615 SOUTH-EASTERN ASIA PAKISTAN 220,892,340 SOUTHERN ASIA BANGLADESH 164,689,383 SOUTHERN ASIA JAPAN 126,476,461 EASTERN ASIA PHILIPPINES 109,581,078 SOUTH-EASTERN ASIA VIETNAM 97,338,579 SOUTH-EASTERN ASIA TURKEY 84,339,067 WESTERN ASIA IRAN 83,992,949 SOUTHERN ASIA THAILAND 69,799,978 SOUTH-EASTERN ASIA MYANMAR 54,409,800 SOUTH-EASTERN ASIA SOUTH KOREA 51,269,185 EASTERN ASIA IRAQ 40,222,493 WESTERN ASIA AFGHANISTAN 38,928,346 SOUTHERN ASIA SAUDI ARABIA 34,813,871 WESTERN ASIA UZBEKISTAN 33,469,203 CENTRAL ASIA MALAYSIA 32,365,999 SOUTH-EASTERN ASIA YEMEN 29,825,964 WESTERN ASIA NEPAL 29,136,808 SOUTHERN ASIA NORTH KOREA 25,778,816 EASTERN ASIA SRI LANKA 21,413,249 SOUTHERN ASIA KAZAKHSTAN 18,776,707 CENTRAL ASIA SYRIA 17,500,658 WESTERN ASIA CAMBODIA 16,718,965 SOUTH-EASTERN ASIA JORDAN 10,203,134 WESTERN ASIA AZERBAIJAN 10,139,177 WESTERN ASIA UNITED ARAB EMIRATES 9,890,402 WESTERN ASIA TAJIKISTAN 9,537,645 CENTRAL ASIA ISRAEL 8,655,535 WESTERN ASIA LAOS 7,275,560 SOUTH-EASTERN ASIA LEBANON 6,825,445 WESTERN ASIA KYRGYZSTAN 6,524,195 CENTRAL ASIA TURKMENISTAN 6,031,200 CENTRAL ASIA SINGAPORE 5,850,342 SOUTH-EASTERN ASIA OMAN 5,106,626 WESTERN ASIA STATE  PALESTINE 5,101,414 WESTERN ASIA KUWAIT 4,270,571 WESTERN ASIA GEORGIA 3,989,167 WESTERN ASIA MONGOLIA 3,278,290 EASTERN ASIA ARMENIA 2,963,243 WESTERN ASIA QATAR 2,881,053 WESTERN ASIA BAHRAIN 1,701,575 WESTERN ASIA TIMOR-LESTE 1,318,445 SOUTH-EASTERN ASIA CYPRUS 1,207,359 WESTERN ASIA BHUTAN 771,608 SOUTHERN ASIA MALDIVES 540,544 SOUTHERN ASIA BRUNEI 437,479 SOUTH-EASTERN ASIA DEPENDENCIES OR OTHER TERRITORIES TERRITORY POPULATION DEPENDENCY  TAIWAN 23,816,775 (CHINA) HONG KONG 7,496,981 CHINA'

In [695]:
# i need to get the intersection of countries

In [696]:
#movi
#come

read = set(result.split()) & set(come.split())

In [697]:
readd = list(read)

In [698]:
readd.append("RUSSIA")
readd.append("SRI LANKA")
readd.append("PHILIPINES")

In [699]:
readd

['TURKEY',
 'EMIRATES',
 'MALAYSIA',
 'JAPAN',
 'IRAN',
 'SINGAPORE',
 'LANKA',
 'CYPRUS',
 'TAIWAN',
 'MYANMAR',
 'OMAN',
 'PAKISTAN',
 'ISRAEL',
 'KOREA',
 'THAILAND',
 'SRI',
 'ARAB',
 'YEMEN',
 'QATAR',
 'NEPAL',
 'INDONESIA',
 'KUWAIT',
 'IRAQ',
 'GEORGIA',
 'CHINA',
 'UNITED',
 'LEBANON',
 'INDIA',
 'SOUTH',
 'RUSSIA',
 'SRI LANKA',
 'PHILIPINES']

In [700]:
i = len(readd)

In [701]:
matches = []

for match in list1:
    if readd[i-1] in match:
        matches.append(match)
        i-=1

In [702]:
type(matches)

list

In [703]:
i = len(readd)

In [704]:
i

32

In [705]:
readd[i-1]

'PHILIPINES'

In [706]:
type(df)

pandas.core.frame.DataFrame

In [707]:
df.upcountry.replace(readd, 'Asia', inplace=True)

In [708]:
asia = df[df['upcountry'] == 'Asia' ]
#i=df[df[‘Name’]==’Will’]
#print(i)

In [709]:
asia

,ID,country,age_group,travel_with,total_female,total_male,purpose,main_activity,info_source,tour_arrangement,...,package_sightseeing,package_guided_tour,package_insurance,night_mainland,night_zanzibar,payment_mode,first_trip_tz,most_impressing,total_cost,upcountry
4,tour_1004,CHINA,2022-01-24 00:00:00,NaN,1.0,0.0,Leisure and Holidays,Wildlife tourism,"Travel, agent, tour operator",Independent,...,No,No,No,7,4,Cash,Yes,No comments,1657500.0,Asia
9,tour_1011,INDIA,25-44,Alone,1.0,0.0,Business,Wildlife tourism,"Travel, agent, tour operator",Independent,...,No,No,No,5,0,Credit Card,Yes,Friendly People,2486250.0,Asia
17,tour_1022,MYANMAR,25-44,NaN,1.0,0.0,Meetings and Conference,Wildlife tourism,"Radio, TV, Web",Independent,...,No,No,No,5,0,Cash,Yes,Friendly People,331500.0,Asia
35,tour_1042,QATAR,25-44,Friends/Relatives,2.0,2.0,Leisure and Holidays,Wildlife tourism,"Friends, relatives",Package Tour,...,Yes,Yes,No,13,10,Cash,No,Wildlife,17316000.0,Asia
38,tour_1046,CHINA,25-44,Alone,1.0,0.0,Leisure and Holidays,Beach tourism,"Newspaper, magazines,brochures",Independent,...,No,No,No,2,0,Other,No,Friendly People,828750.0,Asia
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4780,tour_962,INDIA,45-64,NaN,0.0,1.0,Meetings and Conference,Wildlife tourism,"Friends, relatives",Independent,...,No,No,No,12,0,Credit Card,No,Friendly People,1657500.0,Asia
4782,tour_967,KOREA,2022-01-24 00:00:00,Alone,0.0,1.0,Visiting Friends and Relatives,Beach tourism,"Friends, relatives",Independent,...,No,No,No,30,0,Cash,Yes,Wildlife,2154750.0,Asia
4785,tour_970,LEBANON,45-64,Alone,0.0,1.0,Meetings and Conference,Mountain climbing,others,Independent,...,No,No,No,4,1,Cash,No,No comments,3315000.0,Asia
4795,tour_982,THAILAND,25-44,Alone,1.0,0.0,Meetings and Conference,Mountain climbing,others,Independent,...,No,No,No,5,0,Cash,Yes,Friendly People,414375.0,Asia
4800,tour_987,SINGAPORE,2022-01-24 00:00:00,Friends/Relatives,1.0,1.0,Leisure and Holidays,Conference tourism,"Friends, relatives",Package Tour,...,No,Yes,No,14,2,Cash,Yes,Good service,9945000.0,Asia

## North America

In [710]:
driver.get("https://worldpopulationreview.com/country-rankings/countries-in-north-america")   
time.sleep(15)

In [711]:
i = driver.find_element_by_xpath("(//section[@id='dataTable'])[1]")

C:\Users\Kofi\AppData\Local\Temp/ipykernel_13564/180691724.py:1: DeprecationWarning: find_element_by_xpath is deprecated. Please use find_element(by=By.XPATH, value=xpath) instead
  i = driver.find_element_by_xpath("(//section[@id='dataTable'])[1]")

In [712]:
text = i.text
#(//tbody)[1]

In [713]:
type(text)

str

In [714]:
rep = text.replace("\n", ". ")

In [715]:
import re
expression = re.compile(r'([A-Z][^\.!?]*[\.!?])')
new_list = re.findall(expression, rep)

In [716]:
new_list

['CSV.',
 'JSON.',
 'Rank.',
 'Country.',
 'Population.',
 'Growth Rate.',
 'Saint Kitts And Nevis 53,871 0.',
 'Dominica 72,344 0.',
 'Antigua And Barbuda 99,509 0.',
 'Saint Vincent And the Grenadines 111,551 0.',
 'Grenada 113,475 0.',
 'Saint Lucia 185,113 0.',
 'Barbados 288,023 0.',
 'Bahamas 400,516 0.',
 'Belize 412,190 1.',
 'Trinidad And Tobago 1,406,585 0.',
 'Jamaica 2,985,094 0.',
 'Panama 4,446,964 1.',
 'Costa Rica 5,182,354 0.',
 'El Salvador 6,550,389 0.',
 'Nicaragua 6,779,100 1.',
 'Honduras 10,221,247 1.',
 'Dominican Republic 11,056,370 0.',
 'Cuba 11,305,652 -0.',
 'Haiti 11,680,283 1.',
 'Guatemala 18,584,039 1.',
 'Canada 38,388,419 0.',
 'Mexico 131,562,772 1.',
 'United States 334,805,269 0.',
 'Countries in North America 2022.']

In [717]:
converted_list = [x.upper() for x in new_list]

In [718]:
converted_list

['CSV.',
 'JSON.',
 'RANK.',
 'COUNTRY.',
 'POPULATION.',
 'GROWTH RATE.',
 'SAINT KITTS AND NEVIS 53,871 0.',
 'DOMINICA 72,344 0.',
 'ANTIGUA AND BARBUDA 99,509 0.',
 'SAINT VINCENT AND THE GRENADINES 111,551 0.',
 'GRENADA 113,475 0.',
 'SAINT LUCIA 185,113 0.',
 'BARBADOS 288,023 0.',
 'BAHAMAS 400,516 0.',
 'BELIZE 412,190 1.',
 'TRINIDAD AND TOBAGO 1,406,585 0.',
 'JAMAICA 2,985,094 0.',
 'PANAMA 4,446,964 1.',
 'COSTA RICA 5,182,354 0.',
 'EL SALVADOR 6,550,389 0.',
 'NICARAGUA 6,779,100 1.',
 'HONDURAS 10,221,247 1.',
 'DOMINICAN REPUBLIC 11,056,370 0.',
 'CUBA 11,305,652 -0.',
 'HAITI 11,680,283 1.',
 'GUATEMALA 18,584,039 1.',
 'CANADA 38,388,419 0.',
 'MEXICO 131,562,772 1.',
 'UNITED STATES 334,805,269 0.',
 'COUNTRIES IN NORTH AMERICA 2022.']

In [719]:
co = str(converted_list)

In [720]:
from itertools import chain

In [721]:
coming = ' '.join(str(v) for v in converted_list)

In [722]:
coming

'CSV. JSON. RANK. COUNTRY. POPULATION. GROWTH RATE. SAINT KITTS AND NEVIS 53,871 0. DOMINICA 72,344 0. ANTIGUA AND BARBUDA 99,509 0. SAINT VINCENT AND THE GRENADINES 111,551 0. GRENADA 113,475 0. SAINT LUCIA 185,113 0. BARBADOS 288,023 0. BAHAMAS 400,516 0. BELIZE 412,190 1. TRINIDAD AND TOBAGO 1,406,585 0. JAMAICA 2,985,094 0. PANAMA 4,446,964 1. COSTA RICA 5,182,354 0. EL SALVADOR 6,550,389 0. NICARAGUA 6,779,100 1. HONDURAS 10,221,247 1. DOMINICAN REPUBLIC 11,056,370 0. CUBA 11,305,652 -0. HAITI 11,680,283 1. GUATEMALA 18,584,039 1. CANADA 38,388,419 0. MEXICO 131,562,772 1. UNITED STATES 334,805,269 0. COUNTRIES IN NORTH AMERICA 2022.'

In [723]:
come = coming.replace(".", "")
com = come.replace("REPUBLIC", "")
come= com.replace("OF", "")

In [724]:
come

'CSV JSON RANK COUNTRY POPULATION GROWTH RATE SAINT KITTS AND NEVIS 53,871 0 DOMINICA 72,344 0 ANTIGUA AND BARBUDA 99,509 0 SAINT VINCENT AND THE GRENADINES 111,551 0 GRENADA 113,475 0 SAINT LUCIA 185,113 0 BARBADOS 288,023 0 BAHAMAS 400,516 0 BELIZE 412,190 1 TRINIDAD AND TOBAGO 1,406,585 0 JAMAICA 2,985,094 0 PANAMA 4,446,964 1 COSTA RICA 5,182,354 0 EL SALVADOR 6,550,389 0 NICARAGUA 6,779,100 1 HONDURAS 10,221,247 1 DOMINICAN  11,056,370 0 CUBA 11,305,652 -0 HAITI 11,680,283 1 GUATEMALA 18,584,039 1 CANADA 38,388,419 0 MEXICO 131,562,772 1 UNITED STATES 334,805,269 0 COUNTRIES IN NORTH AMERICA 2022'

In [725]:
# i need to get the intersection of countries

In [726]:
#movi
#come

read = set(result.split()) & set(come.split())

In [727]:
readd = list(read)

In [728]:

readd.append("UNITED STATES OF AMERICA")

In [729]:
readd

['STATES',
 'AMERICA',
 'MEXICO',
 'CANADA',
 'UNITED',
 'DOMINICA',
 'TRINIDAD',
 'UNITED STATES OF AMERICA']

In [730]:
i = len(readd)

In [731]:
matches = []

for match in list1:
    if readd[i-1] in match:
        matches.append(match)
        i-=1

In [732]:
type(matches)

list

In [733]:
i = len(readd)

In [734]:
i

8

In [735]:
readd[i-1]

'UNITED STATES OF AMERICA'

In [736]:
type(df)

pandas.core.frame.DataFrame

In [737]:
df.upcountry.replace(readd, 'North America', inplace=True)

In [738]:
n_america = df[df['upcountry'] == 'North America' ]
#i=df[df[‘Name’]==’Will’]
#print(i)

In [739]:
n_america

,ID,country,age_group,travel_with,total_female,total_male,purpose,main_activity,info_source,tour_arrangement,...,package_sightseeing,package_guided_tour,package_insurance,night_mainland,night_zanzibar,payment_mode,first_trip_tz,most_impressing,total_cost,upcountry
7,tour_1008,UNITED STATES OF AMERICA,45-64,Friends/Relatives,1.0,1.0,Leisure and Holidays,Wildlife tourism,"Travel, agent, tour operator",Package Tour,...,Yes,Yes,Yes,10,3,Cash,Yes,Friendly People,3480750.0,North America
11,tour_1013,CANADA,45-64,Children,2.0,0.0,Leisure and Holidays,Beach tourism,"Friends, relatives",Independent,...,No,No,No,30,0,Cash,No,Excellent Experience,8121750.0,North America
12,tour_1016,CANADA,45-64,Children,0.0,2.0,Leisure and Holidays,Wildlife tourism,"Travel, agent, tour operator",Independent,...,No,No,No,11,3,Cash,Yes,No comments,331500.0,North America
44,tour_1051,UNITED STATES OF AMERICA,45-64,Spouse,1.0,1.0,Leisure and Holidays,Beach tourism,others,Independent,...,No,No,No,0,5,Cash,Yes,No comments,3397875.0,North America
55,tour_1065,UNITED STATES OF AMERICA,25-44,NaN,1.0,0.0,Meetings and Conference,Mountain climbing,"Friends, relatives",Independent,...,No,No,No,5,0,Credit Card,Yes,Excellent Experience,1491750.0,North America
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4767,tour_945,CANADA,65+,Spouse,1.0,1.0,Leisure and Holidays,Wildlife tourism,"Travel, agent, tour operator",Package Tour,...,Yes,Yes,No,9,3,Cash,Yes,"Wonderful Country, Landscape, Nature",20387250.0,North America
4769,tour_948,UNITED STATES OF AMERICA,45-64,NaN,0.0,1.0,Business,Wildlife tourism,"Travel, agent, tour operator",Package Tour,...,No,No,No,2,0,Cash,No,Friendly People,3563625.0,North America
4783,tour_969,UNITED STATES OF AMERICA,25-44,NaN,1.0,0.0,Meetings and Conference,Mountain climbing,"Radio, TV, Web",Independent,...,No,No,No,3,0,Credit Card,No,NaN,497250.0,North America
4799,tour_986,UNITED STATES OF AMERICA,65+,Alone,1.0,0.0,Leisure and Holidays,Wildlife tourism,"Travel, agent, tour operator",Package Tour,...,Yes,Yes,Yes,19,0,Cash,Yes,Wildlife,18232500.0,North America
4805,tour_994,UNITED STATES OF AMERICA,25-44,Spouse,1.0,1.0,Leisure and Holidays,Wildlife tourism,"Travel, agent, tour operator",Package Tour,...,Yes,Yes,Yes,11,0,Cash,Yes,Friendly People,10690875.0,North America

## South America

In [740]:
driver.get("https://worldpopulationreview.com/country-rankings/countries-in-north-america")   
time.sleep(15)

In [741]:
i = driver.find_element_by_xpath("(//tbody)[1]")

C:\Users\Kofi\AppData\Local\Temp/ipykernel_13564/1135680224.py:1: DeprecationWarning: find_element_by_xpath is deprecated. Please use find_element(by=By.XPATH, value=xpath) instead
  i = driver.find_element_by_xpath("(//tbody)[1]")

In [742]:
text = i.text
#(//tbody)[1]

In [743]:
type(text)

str

In [744]:
rep = text.replace("\n", ". ")

In [745]:
import re
expression = re.compile(r'([A-Z][^\.!?]*[\.!?])')
new_list = re.findall(expression, rep)

In [746]:
new_list

['Saint Kitts And Nevis 53,871 0.',
 'Dominica 72,344 0.',
 'Antigua And Barbuda 99,509 0.',
 'Saint Vincent And the Grenadines 111,551 0.',
 'Grenada 113,475 0.',
 'Saint Lucia 185,113 0.',
 'Barbados 288,023 0.',
 'Bahamas 400,516 0.',
 'Belize 412,190 1.',
 'Trinidad And Tobago 1,406,585 0.',
 'Jamaica 2,985,094 0.',
 'Panama 4,446,964 1.',
 'Costa Rica 5,182,354 0.',
 'El Salvador 6,550,389 0.',
 'Nicaragua 6,779,100 1.',
 'Honduras 10,221,247 1.',
 'Dominican Republic 11,056,370 0.',
 'Cuba 11,305,652 -0.',
 'Haiti 11,680,283 1.',
 'Guatemala 18,584,039 1.',
 'Canada 38,388,419 0.',
 'Mexico 131,562,772 1.',
 'United States 334,805,269 0.']

In [747]:
converted_list = [x.upper() for x in new_list]

In [748]:
converted_list

['SAINT KITTS AND NEVIS 53,871 0.',
 'DOMINICA 72,344 0.',
 'ANTIGUA AND BARBUDA 99,509 0.',
 'SAINT VINCENT AND THE GRENADINES 111,551 0.',
 'GRENADA 113,475 0.',
 'SAINT LUCIA 185,113 0.',
 'BARBADOS 288,023 0.',
 'BAHAMAS 400,516 0.',
 'BELIZE 412,190 1.',
 'TRINIDAD AND TOBAGO 1,406,585 0.',
 'JAMAICA 2,985,094 0.',
 'PANAMA 4,446,964 1.',
 'COSTA RICA 5,182,354 0.',
 'EL SALVADOR 6,550,389 0.',
 'NICARAGUA 6,779,100 1.',
 'HONDURAS 10,221,247 1.',
 'DOMINICAN REPUBLIC 11,056,370 0.',
 'CUBA 11,305,652 -0.',
 'HAITI 11,680,283 1.',
 'GUATEMALA 18,584,039 1.',
 'CANADA 38,388,419 0.',
 'MEXICO 131,562,772 1.',
 'UNITED STATES 334,805,269 0.']

In [749]:
co = str(converted_list)

In [750]:
from itertools import chain

In [751]:
coming = ' '.join(str(v) for v in converted_list)

In [752]:
coming

'SAINT KITTS AND NEVIS 53,871 0. DOMINICA 72,344 0. ANTIGUA AND BARBUDA 99,509 0. SAINT VINCENT AND THE GRENADINES 111,551 0. GRENADA 113,475 0. SAINT LUCIA 185,113 0. BARBADOS 288,023 0. BAHAMAS 400,516 0. BELIZE 412,190 1. TRINIDAD AND TOBAGO 1,406,585 0. JAMAICA 2,985,094 0. PANAMA 4,446,964 1. COSTA RICA 5,182,354 0. EL SALVADOR 6,550,389 0. NICARAGUA 6,779,100 1. HONDURAS 10,221,247 1. DOMINICAN REPUBLIC 11,056,370 0. CUBA 11,305,652 -0. HAITI 11,680,283 1. GUATEMALA 18,584,039 1. CANADA 38,388,419 0. MEXICO 131,562,772 1. UNITED STATES 334,805,269 0.'

In [753]:
come = coming.replace(".", "")
com = come.replace("REPUBLIC", "")
come= com.replace("OF", "")

In [754]:
come

'SAINT KITTS AND NEVIS 53,871 0 DOMINICA 72,344 0 ANTIGUA AND BARBUDA 99,509 0 SAINT VINCENT AND THE GRENADINES 111,551 0 GRENADA 113,475 0 SAINT LUCIA 185,113 0 BARBADOS 288,023 0 BAHAMAS 400,516 0 BELIZE 412,190 1 TRINIDAD AND TOBAGO 1,406,585 0 JAMAICA 2,985,094 0 PANAMA 4,446,964 1 COSTA RICA 5,182,354 0 EL SALVADOR 6,550,389 0 NICARAGUA 6,779,100 1 HONDURAS 10,221,247 1 DOMINICAN  11,056,370 0 CUBA 11,305,652 -0 HAITI 11,680,283 1 GUATEMALA 18,584,039 1 CANADA 38,388,419 0 MEXICO 131,562,772 1 UNITED STATES 334,805,269 0'

In [755]:
# i need to get the intersection of countries

In [756]:
#movi
#come

read = set(result.split()) & set(come.split())

In [757]:
readd = list(read)

In [758]:
readd.append("BRAZIL")
readd.append("COLOMBIA")
readd.append("CHILE")
readd.append("UGANDA")
readd.append("TRINIDAD TOBACCO")
readd.append("ARGENTINA")
readd.append("URUGUAY")

In [759]:
readd

['STATES',
 'MEXICO',
 'CANADA',
 'UNITED',
 'DOMINICA',
 'TRINIDAD',
 'BRAZIL',
 'COLOMBIA',
 'CHILE',
 'UGANDA',
 'TRINIDAD TOBACCO',
 'ARGENTINA',
 'URUGUAY']

In [760]:
i = len(readd)

In [761]:
matches = []

for match in list1:
    if readd[i-1] in match:
        matches.append(match)
        i-=1

In [762]:
type(matches)

list

In [763]:
i = len(readd)

In [764]:
i

13

In [765]:
readd[i-1]

'URUGUAY'

In [766]:
type(df)

pandas.core.frame.DataFrame

In [767]:
readd

['STATES',
 'MEXICO',
 'CANADA',
 'UNITED',
 'DOMINICA',
 'TRINIDAD',
 'BRAZIL',
 'COLOMBIA',
 'CHILE',
 'UGANDA',
 'TRINIDAD TOBACCO',
 'ARGENTINA',
 'URUGUAY']

In [768]:
df.upcountry.replace(readd, 'South America', inplace=True)

In [769]:
s_america = df[df['upcountry'] == 'South America' ]
#i=df[df[‘Name’]==’Will’]
#print(i)

In [770]:
s_america

,ID,country,age_group,travel_with,total_female,total_male,purpose,main_activity,info_source,tour_arrangement,...,package_sightseeing,package_guided_tour,package_insurance,night_mainland,night_zanzibar,payment_mode,first_trip_tz,most_impressing,total_cost,upcountry
10,tour_1012,BRAZIL,25-44,Spouse,1.0,1.0,Leisure and Holidays,Wildlife tourism,"Radio, TV, Web",Independent,...,No,No,No,17,3,Cash,Yes,"Wonderful Country, Landscape, Nature",1117155.0,South America
229,tour_1287,BRAZIL,45-64,Children,2.0,0.0,Leisure and Holidays,Wildlife tourism,"Travel, agent, tour operator",Package Tour,...,Yes,Yes,No,4,5,Credit Card,Yes,Excellent Experience,27231960.0,South America
641,tour_1788,COLOMBIA,25-44,NaN,1.0,0.0,Leisure and Holidays,Wildlife tourism,"Travel, agent, tour operator",Package Tour,...,No,No,No,4,0,Cash,No,No comments,5304000.0,South America
809,tour_1996,COLOMBIA,2022-01-24 00:00:00,Alone,1.0,0.0,Leisure and Holidays,Wildlife tourism,inflight magazines,Package Tour,...,Yes,Yes,Yes,4,0,Cash,Yes,Friendly People,15580500.0,South America
848,tour_2042,TRINIDAD TOBACCO,25-44,Spouse,1.0,1.0,Business,Wildlife tourism,others,Independent,...,No,No,No,20,0,Credit Card,No,No comments,1657500.0,South America
1012,tour_2239,BRAZIL,25-44,Friends/Relatives,1.0,1.0,Business,Wildlife tourism,others,Independent,...,No,No,No,10,0,Cash,Yes,Friendly People,4143750.0,South America
1478,tour_2816,BRAZIL,25-44,Friends/Relatives,2.0,0.0,Meetings and Conference,Mountain climbing,"Friends, relatives",Package Tour,...,Yes,Yes,No,1,0,Cash,Yes,No comments,4309500.0,South America
1914,tour_3323,CHILE,25-44,Friends/Relatives,1.0,1.0,Leisure and Holidays,Wildlife tourism,"Friends, relatives",Independent,...,No,No,No,0,0,Cash,Yes,"Wonderful Country, Landscape, Nature",3315000.0,South America
2603,tour_4170,BRAZIL,25-44,Alone,0.0,1.0,Leisure and Holidays,Wildlife tourism,others,Package Tour,...,No,No,No,7,4,Cash,Yes,Wildlife,4395690.0,South America
2974,tour_4615,BRAZIL,45-64,Alone,1.0,0.0,Leisure and Holidays,Wildlife tourism,"Travel, agent, tour operator",Package Tour,...,Yes,Yes,Yes,5,0,Cash,Yes,Excellent Experience,6845475.0,South America
3078,tour_4733,COLOMBIA,25-44,Friends/Relatives,3.0,2.0,Leisure and Holidays,Beach tourism,"Travel, agent, tour operator",Package Tour,...,Yes,Yes,Yes,7,4,Cash,Yes,Wildlife,19061250.0,South America
3206,tour_4882,BRAZIL,45-64,Spouse,1.0,1.0,Leisure and Holidays,Wildlife tourism,"Travel, agent, tour operator",Package Tour,...,Yes,Yes,Yes,5,0,Credit Card,Yes,Excellent Experience,13260000.0,South America
3417,tour_5128,ARGENTINA,45-64,Spouse,1.0,1.0,Leisure and Holidays,Wildlife tourism,"Travel, agent, tour operator",Package Tour,...,Yes,Yes,No,6,3,Credit Card,Yes,"Wonderful Country, Landscape, Nature",10442250.0,South America
3687,tour_5468,URUGUAY,25-44,Friends/Relatives,1.0,1.0,Leisure and Holidays,Beach tourism,"Radio, TV, Web",Independent,...,No,No,No,0,10,Cash,Yes,"Wonderful Country, Landscape, Nature",165750.0,South America
3856,tour_5681,BRAZIL,25-44,NaN,1.0,0.0,Leisure and Holidays,Cultural tourism,"Friends, relatives",Independent,...,No,No,No,45,6,Credit Card,Yes,"Wonderful Country, Landscape, Nature",5071950.0,South America
4017,tour_5875,BRAZIL,2022-01-24 00:00:00,Alone,1.0,0.0,Leisure and Holidays,Conference tourism,"Travel, agent, tour operator",Package Tour,...,Yes,Yes,No,10,4,Cash,Yes,"Wonderful Country, Landscape, Nature",6298500.0,South America
4037,tour_5898,BRAZIL,25-44,NaN,1.0,0.0,Leisure and Holidays,Beach tourism,"Travel, agent, tour operator",Package Tour,...,Yes,Yes,No,7,3,Cash,Yes,Wildlife,5469750.0,South America
4215,tour_6108,CHILE,25-44,NaN,0.0,1.0,Leisure and Holidays,Wildlife tourism,"Travel, agent, tour operator",Package Tour,...,Yes,Yes,No,13,0,Cash,Yes,Friendly People,574750.0,South America

In [771]:
df['country'].value_counts()

UNITED STATES OF AMERICA    695
UNITED KINGDOM              533
ITALY                       393
FRANCE                      280
ZIMBABWE                    274
                           ...
NIGER                         1
MYANMAR                       1
DOMINICA                      1
TUNISIA                       1
ESTONIA                       1
Name: country, Length: 105, dtype: int64

## Central America

In [772]:
driver.get("https://www.worldometers.info/population/latin-america-and-the-caribbean/central-america/")   
time.sleep(15)

In [773]:
i = driver.find_element_by_xpath("(//div)[17]")

C:\Users\Kofi\AppData\Local\Temp/ipykernel_13564/347343155.py:1: DeprecationWarning: find_element_by_xpath is deprecated. Please use find_element(by=By.XPATH, value=xpath) instead
  i = driver.find_element_by_xpath("(//div)[17]")

In [774]:
text = i.text
#(//tbody)[1]

In [775]:
type(text)

str

In [776]:
rep = text.replace("\n", ". ")

In [777]:
import re
expression = re.compile(r'([A-Z][^\.!?]*[\.!?])')
new_list = re.findall(expression, rep)

In [778]:
new_list

['Countries in Central America:.',
 'Mexico.',
 'Guatemala.',
 'Honduras.',
 'Nicaragua.',
 'El Salvador.',
 'Costa Rica.',
 'Panama.']

In [779]:
converted_list = [x.upper() for x in new_list]

In [780]:
converted_list

['COUNTRIES IN CENTRAL AMERICA:.',
 'MEXICO.',
 'GUATEMALA.',
 'HONDURAS.',
 'NICARAGUA.',
 'EL SALVADOR.',
 'COSTA RICA.',
 'PANAMA.']

In [781]:
co = str(converted_list)

In [782]:
from itertools import chain

In [783]:
coming = ' '.join(str(v) for v in converted_list)

In [784]:
coming

'COUNTRIES IN CENTRAL AMERICA:. MEXICO. GUATEMALA. HONDURAS. NICARAGUA. EL SALVADOR. COSTA RICA. PANAMA.'

In [785]:
come = coming.replace(".", "")
com = come.replace("REPUBLIC", "")
come= com.replace("OF", "")

In [786]:
come

'COUNTRIES IN CENTRAL AMERICA: MEXICO GUATEMALA HONDURAS NICARAGUA EL SALVADOR COSTA RICA PANAMA'

In [787]:
# i need to get the intersection of countries

In [788]:
#movi
#come

read = set(result.split()) & set(come.split())

In [789]:
readd = list(read)

In [790]:
readd.append("COSTARICA")

In [791]:
readd

['MEXICO', 'COSTARICA']

In [792]:
i = len(readd)

In [793]:
matches = []

for match in list1:
    if readd[i-1] in match:
        matches.append(match)
        i-=1

In [794]:
type(matches)

list

In [795]:
i = len(readd)

In [796]:
i

2

In [797]:
readd[i-1]

'COSTARICA'

In [798]:
type(df)

pandas.core.frame.DataFrame

In [799]:
df.upcountry.replace(readd, 'Central America', inplace=True)

In [800]:
c_america = df[df['upcountry'] == 'Central America' ]
#i=df[df[‘Name’]==’Will’]
#print(i)

In [801]:
c_america

,ID,country,age_group,travel_with,total_female,total_male,purpose,main_activity,info_source,tour_arrangement,...,package_sightseeing,package_guided_tour,package_insurance,night_mainland,night_zanzibar,payment_mode,first_trip_tz,most_impressing,total_cost,upcountry
1781,tour_3170,COSTARICA,25-44,Alone,1.0,0.0,Leisure and Holidays,Wildlife tourism,"Travel, agent, tour operator",Package Tour,...,Yes,Yes,Yes,4,0,Credit Card,Yes,Friendly People,27183000.0,Central America

In [802]:
#df['country'] = df['country'].replace('UNITED ARAB EMIRATES','UAE')
df.upcountry.replace('UNITED ARAB EMIRATES', 'UAE', inplace=True)

In [803]:
uae = df[df['upcountry'] == 'UAE' ]
#i=df[df[‘Name’]==’Will’]
#print(i)

In [804]:
uae

,ID,country,age_group,travel_with,total_female,total_male,purpose,main_activity,info_source,tour_arrangement,...,package_sightseeing,package_guided_tour,package_insurance,night_mainland,night_zanzibar,payment_mode,first_trip_tz,most_impressing,total_cost,upcountry
49,tour_1058,UAE,25-44,Alone,0.0,1.0,Visiting Friends and Relatives,Beach tourism,"Friends, relatives",Independent,...,No,No,No,7,1,Cash,No,NaN,1657500.0,UAE
202,tour_1246,UAE,25-44,NaN,0.0,1.0,Business,Mountain climbing,"Travel, agent, tour operator",Package Tour,...,No,No,No,3,0,Credit Card,No,No comments,6630000.0,UAE
213,tour_1261,UAE,25-44,Alone,0.0,1.0,Leisure and Holidays,Beach tourism,"Newspaper, magazines,brochures",Independent,...,No,No,No,4,1,Cash,Yes,Wildlife,828750.0,UAE
302,tour_1373,UAE,25-44,Alone,0.0,1.0,Leisure and Holidays,Beach tourism,"Radio, TV, Web",Package Tour,...,Yes,Yes,No,30,30,Cash,Yes,Excellent Experience,13260000.0,UAE
326,tour_1400,UAE,2022-01-24 00:00:00,Friends/Relatives,0.0,3.0,Business,Wildlife tourism,"Friends, relatives",Independent,...,No,No,No,5,0,Credit Card,Yes,No comments,2320500.0,UAE
331,tour_1406,UAE,25-44,Alone,0.0,1.0,Meetings and Conference,Wildlife tourism,"Friends, relatives",Independent,...,No,No,No,3,2,Cash,No,Excellent Experience,1657500.0,UAE
332,tour_1408,UAE,25-44,Alone,0.0,1.0,Leisure and Holidays,Wildlife tourism,"Friends, relatives",Independent,...,No,No,No,4,0,Cash,Yes,Wildlife,3315000.0,UAE
350,tour_1427,UAE,25-44,NaN,0.0,1.0,Visiting Friends and Relatives,Cultural tourism,"Friends, relatives",Independent,...,No,No,No,30,0,Cash,No,Wildlife,3315000.0,UAE
450,tour_1556,UAE,25-44,Alone,1.0,0.0,Meetings and Conference,Cultural tourism,"Friends, relatives",Independent,...,No,No,No,1,0,Cash,Yes,Good service,331500.0,UAE
481,tour_1593,UAE,45-64,Alone,0.0,1.0,Visiting Friends and Relatives,Hunting tourism,"Friends, relatives",Independent,...,No,No,No,12,0,Cash,No,Satisfies and Hope Come Back,1524900.0,UAE
518,tour_1642,UAE,25-44,Spouse,1.0,1.0,Leisure and Holidays,Wildlife tourism,"Travel, agent, tour operator",Package Tour,...,No,Yes,No,5,0,Cash,Yes,Wildlife,8121750.0,UAE
824,tour_2016,UAE,65+,Alone,0.0,1.0,Meetings and Conference,Mountain climbing,others,Independent,...,No,No,No,10,0,Credit Card,No,Friendly People,5304000.0,UAE
1050,tour_2290,UNITED ARAB EMIRATES,65+,NaN,0.0,1.0,Leisure and Holidays,Wildlife tourism,"Friends, relatives",Package Tour,...,Yes,Yes,Yes,14,0,Cash,Yes,Wildlife,18232500.0,UAE
1091,tour_2343,UNITED ARAB EMIRATES,45-64,NaN,1.0,0.0,Leisure and Holidays,Wildlife tourism,"Travel, agent, tour operator",Independent,...,No,No,No,11,0,Credit Card,Yes,Good service,7458750.0,UAE
1173,tour_2438,UAE,25-44,NaN,0.0,1.0,Leisure and Holidays,Cultural tourism,"Friends, relatives",Independent,...,No,No,No,3,0,Cash,Yes,Wildlife,951405.0,UAE
1329,tour_2635,UAE,25-44,NaN,1.0,0.0,Meetings and Conference,Wildlife tourism,"Friends, relatives",Independent,...,No,No,No,2,0,Cash,No,Friendly People,1574625.0,UAE
1414,tour_2739,UNITED ARAB EMIRATES,25-44,Spouse,1.0,1.0,Leisure and Holidays,Wildlife tourism,"Travel, agent, tour operator",Package Tour,...,Yes,Yes,No,9,2,Cash,Yes,Wildlife,580125.0,UAE
1450,tour_2778,UAE,45-64,Alone,0.0,1.0,Meetings and Conference,Mountain climbing,"Travel, agent, tour operator",Independent,...,No,No,No,9,0,Cash,No,Satisfies and Hope Come Back,3315000.0,UAE
1511,tour_2858,UNITED ARAB EMIRATES,2022-01-24 00:00:00,NaN,0.0,1.0,Volunteering,Hunting tourism,"Radio, TV, Web",Package Tour,...,Yes,No,Yes,14,0,Cash,Yes,Friendly People,2005575.0,UAE
1611,tour_2978,UAE,25-44,Spouse,1.0,1.0,Leisure and Holidays,Wildlife tourism,"Friends, relatives",Independent,...,No,No,No,5,0,Cash,No,Good service,4143750.0,UAE
1717,tour_309,UAE,45-64,Children,4.0,1.0,Visiting Friends and Relatives,Hunting tourism,"Friends, relatives",Independent,...,No,No,No,7,0,Cash,No,"Wonderful Country, Landscape, Nature",4972500.0,UAE
1730,tour_3108,UNITED ARAB EMIRATES,65+,Friends/Relatives,2.0,0.0,Visiting Friends and Relatives,Cultural tourism,"Friends, relatives",Independent,...,No,No,No,9,0,Cash,No,Wildlife,6630000.0,UAE
1807,tour_3197,UAE,25-44,NaN,1.0,0.0,Leisure and Holidays,Conference tourism,"Travel, agent, tour operator",Package Tour,...,No,Yes,No,9,0,Cash,Yes,No comments,4309500.0,UAE
1823,tour_3215,UAE,25-44,Friends/Relatives,1.0,1.0,Leisure and Holidays,Beach tourism,"Friends, relatives",Independent,...,No,No,No,0,2,Cash,No,Wildlife,1657500.0,UAE
1878,tour_3281,UAE,25-44,Alone,0.0,1.0,Visiting Friends and Relatives,Beach tourism,"Friends, relatives",Independent,...,No,No,No,2,2,Cash,No,Good service,3315000.0,UAE
1976,tour_340,UAE,25-44,Alone,0.0,1.0,Leisure and Holidays,Beach tourism,Trade fair,Independent,...,No,No,No,3,0,Cash,No,Friendly People,828750.0,UAE
2082,tour_3529,UNITED ARAB EMIRATES,65+,Children,0.0,4.0,Leisure and Holidays,Conference tourism,"Travel, agent, tour operator",Package Tour,...,No,Yes,Yes,12,0,Cash,Yes,Friendly People,4060875.0,UAE
2126,tour_3581,UAE,2022-01-24 00:00:00,NaN,1.0,0.0,Leisure and Holidays,Cultural tourism,"Travel, agent, tour operator",Package Tour,...,No,Yes,No,4,4,Cash,Yes,Wildlife,12129733.0,UAE
2297,tour_38,UAE,45-64,Alone,1.0,0.0,Visiting Friends and Relatives,Hunting tourism,"Friends, relatives",Independent,...,No,No,No,20,0,Cash,No,"Wonderful Country, Landscape, Nature",3315000.0,UAE
2357,tour_3871,UAE,45-64,Spouse and Children,5.0,1.0,Leisure and Holidays,Beach tourism,"Radio, TV, Web",Independent,...,No,No,No,9,5,Cash,Yes,Wildlife,16575000.0,UAE
2529,tour_4078,UNITED ARAB EMIRATES,45-64,Friends/Relatives,0.0,2.0,Leisure and Holidays,Beach tourism,others,Independent,...,No,No,No,0,4,Cash,Yes,Wildlife,82875.0,UAE
2911,tour_4548,UNITED ARAB EMIRATES,45-64,Spouse,1.0,1.0,Leisure and Holidays,Bird watching,"Friends, relatives",Independent,...,No,No,No,2,0,Cash,Yes,"Wonderful Country, Landscape, Nature",663000.0,UAE
3099,tour_4755,UNITED ARAB EMIRATES,45-64,Spouse and Children,2.0,2.0,Leisure and Holidays,Wildlife tourism,"Radio, TV, Web",Package Tour,...,Yes,Yes,No,6,0,Credit Card,Yes,Good service,25189563.0,UAE
3153,tour_4813,UNITED ARAB EMIRATES,65+,Friends/Relatives,1.0,3.0,Leisure and Holidays,Conference tourism,"Travel, agent, tour operator",Package Tour,...,No,Yes,Yes,6,0,Cash,Yes,Friendly People,33150000.0,UAE
3251,tour_4932,UAE,25-44,Spouse,1.0,1.0,Leisure and Holidays,Wildlife tourism,"Travel, agent, tour operator",Package Tour,...,Yes,Yes,No,4,4,Cash,Yes,Friendly People,6630000.0,UAE
3392,tour_5100,UNITED ARAB EMIRATES,45-64,NaN,0.0,1.0,Leisure and Holidays,Wildlife tourism,others,Package Tour,...,Yes,Yes,No,13,0,Credit Card,Yes,Friendly People,10110750.0,UAE
3773,tour_5579,UAE,25-44,Friends/Relatives,2.0,0.0,Leisure and Holidays,Beach tourism,"Radio, TV, Web",Independent,...,No,No,No,10,2,Cash,Yes,Wildlife,4591275.0,UAE
3948,tour_5794,UNITED ARAB EMIRATES,45-64,Friends/Relatives,2.0,0.0,Leisure and Holidays,Wildlife tourism,"Friends, relatives",Package Tour,...,No,No,No,6,4,Cash,Yes,Friendly People,16213903.0,UAE
4189,tour_608,UAE,25-44,Spouse and Children,2.0,2.0,Visiting Friends and Relatives,Wildlife tourism,"Friends, relatives",Package Tour,...,No,No,No,30,3,Cash,No,Wildlife,11602500.0,UAE
4210,tour_6102,UNITED ARAB EMIRATES,25-44,Friends/Relatives,0.0,3.0,Leisure and Holidays,Conference tourism,"Travel, agent, tour operator",Package Tour,...,No,No,No,14,0,Cash,Yes,"Wonderful Country, Landscape, Nature",28260375.0,UAE
4424,tour_636,UAE,45-64,Alone,0.0,1.0,Leisure and Holidays,business,"Travel, agent, tour operator",Independent,...,No,No,No,3,0,Credit Card,No,No comments,1657500.0,UAE
4524,tour_649,UAE,25-44,NaN,0.0,1.0,Visiting Friends and Relatives,Beach tourism,"Friends, relatives",Independent,...,No,No,No,10,0,Cash,No,Satisfies and Hope Come Back,1160250.0,UAE
4629,tour_78,UAE,25-44,Alone,0.0,1.0,Visiting Friends and Relatives,Beach tourism,"Friends, relatives",Independent,...,No,No,No,3,0,Cash,Yes,Friendly People,1640925.0,UAE
4731,tour_90,UAE,2022-01-24 00:00:00,Friends/Relatives,2.0,1.0,Visiting Friends and Relatives,Beach tourism,"Friends, relatives",Independent,...,No,No,No,30,0,Cash,No,Good service,10000000.0,UAE
4770,tour_949,UAE,25-44,Alone,1.0,0.0,Visiting Friends and Relatives,Hunting tourism,others,Independent,...,No,No,No,2,0,Cash,No,No comments,497250.0,UAE
4804,tour_993,UAE,45-64,Alone,0.0,1.0,Business,Hunting tourism,"Friends, relatives",Independent,...,No,No,No,2,0,Credit Card,No,No comments,3315000.0,UAE

In [805]:
#df['country'] = df['country'].replace('UNITED ARAB EMIRATES','UAE')
df.upcountry.replace(['NEW ZEALAND', 'BERMUDA'], 'OTHERS', inplace=True)

In [806]:
df['tour_arrangement'].value_counts()

Independent     2570
Package Tour    2239
Name: tour_arrangement, dtype: int64

In [807]:
df['travel_with'].value_counts()

Alone                  1265
Spouse                 1005
Friends/Relatives       895
Spouse and Children     368
Children                162
Name: travel_with, dtype: int64

In [808]:
df['countrys'] = list(df['upcountry'])

In [809]:

df.countrys.replace({"Europe": "0", "North America": "1", "Southern Africa": "2", "East Africa": "3", "Asia": "4", "Asia": "5", "AUSTRALIA": "6", "Central Africa": "7", "UAE": "8", "OTHERS": "9", "South America": "10", "North Africa": "11", "West Africa": "12", "Central America": "13"}, inplace=True)

In [810]:
df['countrys'].value_counts()

0     2054
1      812
2      732
3      451
5      358
6      186
7      105
8       46
9       19
10      18
11      18
12       9
13       1
Name: countrys, dtype: int64

In [811]:
#df['cost'] = pd.cut(seeing['total_cost'], bins=[0, 100000, 200000, 300000, 400000, 500000, 600000, 700000, 800000, 900000, 1000000, 2000000, 10000000, 100000000], include_lowest=True)

In [854]:
df['age'] = df['age_group'].astype(str)

In [855]:
df.age.replace('2022-01-24 00:00:00', '01-24', inplace=True)

In [856]:
df['aging'] = df['age'].astype(str)

In [857]:
#df['aging'] = list(df['age_group'])

In [858]:
import datetime

In [859]:
df.aging.replace({'01-24':'0', '25-44':'1', '45-64':'2', '65+':'3'}, inplace=True)

In [860]:
df['aging'].value_counts()

1    2487
2    1391
0     624
3     307
Name: aging, dtype: int64

In [861]:
df['travel_with'].value_counts()

Alone                  1265
Spouse                 1005
Friends/Relatives       895
Spouse and Children     368
Children                162
Name: travel_with, dtype: int64

In [862]:
#loners = df[df['travel_with'].value_counts() == 'Alone']
loners = df[df['travel_with'] == 'Alone' ]

In [863]:
df.head(2)

,ID,country,age_group,travel_with,total_female,total_male,purpose,main_activity,info_source,tour_arrangement,...,night_mainland,night_zanzibar,payment_mode,first_trip_tz,most_impressing,total_cost,upcountry,countrys,aging,age
0,tour_0,SWIZERLAND,45-64,Friends/Relatives,1.0,1.0,Leisure and Holidays,Wildlife tourism,"Friends, relatives",Independent,...,13,0,Cash,No,Friendly People,674602.5,Europe,0,2,45-64
1,tour_10,UNITED KINGDOM,25-44,NaN,1.0,0.0,Leisure and Holidays,Cultural tourism,others,Independent,...,14,7,Cash,Yes,"Wonderful Country, Landscape, Nature",3214906.5,Europe,0,1,25-44

In [864]:
doing = loners[loners['age_group'] == '01-24']

In [865]:
loners['age_group'].value_counts()

25-44                  697
45-64                  275
2022-01-24 00:00:00    234
65+                     59
Name: age_group, dtype: int64

In [866]:
df.age[4]

'01-24'

In [867]:
df.head(10)

,ID,country,age_group,travel_with,total_female,total_male,purpose,main_activity,info_source,tour_arrangement,...,night_mainland,night_zanzibar,payment_mode,first_trip_tz,most_impressing,total_cost,upcountry,countrys,aging,age
0,tour_0,SWIZERLAND,45-64,Friends/Relatives,1.0,1.0,Leisure and Holidays,Wildlife tourism,"Friends, relatives",Independent,...,13,0,Cash,No,Friendly People,674602.5,Europe,0,2,45-64
1,tour_10,UNITED KINGDOM,25-44,NaN,1.0,0.0,Leisure and Holidays,Cultural tourism,others,Independent,...,14,7,Cash,Yes,"Wonderful Country, Landscape, Nature",3214906.5,Europe,0,1,25-44
2,tour_1000,UNITED KINGDOM,25-44,Alone,0.0,1.0,Visiting Friends and Relatives,Cultural tourism,"Friends, relatives",Independent,...,1,31,Cash,No,Excellent Experience,3315000.0,Europe,0,1,25-44
3,tour_1002,UNITED KINGDOM,25-44,Spouse,1.0,1.0,Leisure and Holidays,Wildlife tourism,"Travel, agent, tour operator",Package Tour,...,11,0,Cash,Yes,Friendly People,7790250.0,Europe,0,1,25-44
4,tour_1004,CHINA,2022-01-24 00:00:00,NaN,1.0,0.0,Leisure and Holidays,Wildlife tourism,"Travel, agent, tour operator",Independent,...,7,4,Cash,Yes,No comments,1657500.0,Asia,5,0,01-24
5,tour_1005,UNITED KINGDOM,25-44,NaN,0.0,1.0,Leisure and Holidays,Wildlife tourism,"Travel, agent, tour operator",Package Tour,...,9,3,Cash,Yes,Wildlife,120950.0,Europe,0,1,25-44
6,tour_1007,SOUTH AFRICA,45-64,Alone,0.0,1.0,Business,Mountain climbing,"Friends, relatives",Independent,...,9,0,Cash,Yes,Friendly People,466140.0,Southern Africa,2,2,45-64
7,tour_1008,UNITED STATES OF AMERICA,45-64,Friends/Relatives,1.0,1.0,Leisure and Holidays,Wildlife tourism,"Travel, agent, tour operator",Package Tour,...,10,3,Cash,Yes,Friendly People,3480750.0,North America,1,2,45-64
8,tour_101,NIGERIA,25-44,Alone,0.0,1.0,Leisure and Holidays,Cultural tourism,"Travel, agent, tour operator",Independent,...,4,0,Cash,Yes,NaN,994500.0,West Africa,12,1,25-44
9,tour_1011,INDIA,25-44,Alone,1.0,0.0,Business,Wildlife tourism,"Travel, agent, tour operator",Independent,...,5,0,Credit Card,Yes,Friendly People,2486250.0,Asia,5,1,25-44

In [827]:
doing['purpose'].value_counts()
#the young ones usually cdon't come for business reasons

Series([], Name: purpose, dtype: int64)

In [828]:
#doing['cost'].value_counts()
#and they spend quite a lot.

In [829]:
kiddies = df[df['age_group']=='01-24']

In [830]:
kiddies['travel_with'].value_counts()
#Ei the children travel alone oo

Series([], Name: travel_with, dtype: int64)

In [831]:
#kiddies['cost'].value_counts()
#Ei the children travel alone oo

In [832]:
loners_business = doing[doing['purpose']=='Business']

In [833]:
#loners_business['cost'].value_counts()

In [834]:
doing['tour_arrangement'].value_counts()

Series([], Name: tour_arrangement, dtype: int64)

In [835]:
df['total_cost'].describe()

count    4.809000e+03
mean     8.114389e+06
std      1.222490e+07
min      4.900000e+04
25%      8.121750e+05
50%      3.397875e+06
75%      9.945000e+06
max      9.953288e+07
Name: total_cost, dtype: float64

In [836]:
float(8.114389e+06)
#so this is the average money all travelers spend

8114389.0

In [837]:
kiddies['total_cost'].describe()

count    0.0
mean     NaN
std      NaN
min      NaN
25%      NaN
50%      NaN
75%      NaN
max      NaN
Name: total_cost, dtype: float64

In [838]:
float(5.415205e+06)
#so the kids don't spend more averagely

5415205.0

In [839]:
float(5.690100e+06)
#not even at the 75th percentile

5690100.0

In [840]:
df.head(3)

,ID,country,age_group,travel_with,total_female,total_male,purpose,main_activity,info_source,tour_arrangement,...,night_mainland,night_zanzibar,payment_mode,first_trip_tz,most_impressing,total_cost,upcountry,countrys,aging,age
0,tour_0,SWIZERLAND,45-64,Friends/Relatives,1.0,1.0,Leisure and Holidays,Wildlife tourism,"Friends, relatives",Independent,...,13,0,Cash,No,Friendly People,674602.5,Europe,0,2,45-64
1,tour_10,UNITED KINGDOM,25-44,NaN,1.0,0.0,Leisure and Holidays,Cultural tourism,others,Independent,...,14,7,Cash,Yes,"Wonderful Country, Landscape, Nature",3214906.5,Europe,0,1,25-44
2,tour_1000,UNITED KINGDOM,25-44,Alone,0.0,1.0,Visiting Friends and Relatives,Cultural tourism,"Friends, relatives",Independent,...,1,31,Cash,No,Excellent Experience,3315000.0,Europe,0,1,25-44

In [841]:
df.head()

,ID,country,age_group,travel_with,total_female,total_male,purpose,main_activity,info_source,tour_arrangement,...,night_mainland,night_zanzibar,payment_mode,first_trip_tz,most_impressing,total_cost,upcountry,countrys,aging,age
0,tour_0,SWIZERLAND,45-64,Friends/Relatives,1.0,1.0,Leisure and Holidays,Wildlife tourism,"Friends, relatives",Independent,...,13,0,Cash,No,Friendly People,674602.5,Europe,0,2,45-64
1,tour_10,UNITED KINGDOM,25-44,NaN,1.0,0.0,Leisure and Holidays,Cultural tourism,others,Independent,...,14,7,Cash,Yes,"Wonderful Country, Landscape, Nature",3214906.5,Europe,0,1,25-44
2,tour_1000,UNITED KINGDOM,25-44,Alone,0.0,1.0,Visiting Friends and Relatives,Cultural tourism,"Friends, relatives",Independent,...,1,31,Cash,No,Excellent Experience,3315000.0,Europe,0,1,25-44
3,tour_1002,UNITED KINGDOM,25-44,Spouse,1.0,1.0,Leisure and Holidays,Wildlife tourism,"Travel, agent, tour operator",Package Tour,...,11,0,Cash,Yes,Friendly People,7790250.0,Europe,0,1,25-44
4,tour_1004,CHINA,2022-01-24 00:00:00,NaN,1.0,0.0,Leisure and Holidays,Wildlife tourism,"Travel, agent, tour operator",Independent,...,7,4,Cash,Yes,No comments,1657500.0,Asia,5,2022-01-24 00:00:00,2022-01-24 00:00:00

In [873]:
all_males = df[df['total_female'] == 0]

In [879]:
all_males['total_cost'].describe()

count    1.669000e+03
mean     3.303366e+06
std      6.754310e+06
min      4.900000e+04
25%      3.371250e+05
50%      1.077375e+06
75%      3.633240e+06
max      9.008512e+07
Name: total_cost, dtype: float64

In [880]:
list(all_males['total_cost'].describe())
#descriptives of all-male groups 
#the mean cost is 3303366.483581785

[1669.0,
 3303366.483581785,
 6754309.889125307,
 49000.0,
 337125.0,
 1077375.0,
 3633240.0,
 90085125.0]

In [881]:
all_females = df[df['total_male'] == 0]

In [882]:
all_females['total_cost'].describe()

count    1.137000e+03
mean     5.494953e+06
std      8.616067e+06
min      4.900000e+04
25%      6.630000e+05
50%      2.734875e+06
75%      6.630000e+06
max      8.287500e+07
Name: total_cost, dtype: float64

In [883]:
list(all_females['total_cost'].describe())
#looks like the mean for all-female groups are higher.

[1137.0,
 5494953.413959542,
 8616067.153400632,
 49000.0,
 663000.0,
 2734875.0,
 6630000.0,
 82875000.0]

### lets get deeper and see only males and only females

In [890]:
only_males = loners[loners['total_male'] == 1]

In [892]:
only_males['total_cost'].describe()

count    7.750000e+02
mean     2.879189e+06
std      6.938945e+06
min      5.000000e+04
25%      3.623250e+05
50%      9.945000e+05
75%      3.315000e+06
max      9.008512e+07
Name: total_cost, dtype: float64

In [894]:
list(only_males['total_cost'].describe())
#so on an average, a man coming alone will spend 2879189.149058064

[775.0,
 2879189.149058064,
 6938944.5662697945,
 50000.0,
 362325.0,
 994500.0,
 3315000.0,
 90085125.0]

In [895]:
only_females = loners[loners['total_female'] == 1]

In [897]:
only_females['total_cost'].describe()

count    4.840000e+02
mean     4.247663e+06
std      5.933442e+06
min      4.972500e+04
25%      6.588562e+05
50%      2.387412e+06
75%      5.241844e+06
max      4.359225e+07
Name: total_cost, dtype: float64

In [899]:
list(only_females['total_cost'].describe())
#females coming alone spend much more higher than males = 4247663.190458678

[484.0,
 4247663.190458678,
 5933441.784081972,
 49725.0,
 658856.25,
 2387412.425,
 5241843.75,
 43592250.0]

### checking with age ranges

In [913]:
kid = df[df['age'] == '01-24']

In [916]:
kids = kid[kid['travel_with'] == 'Alone']
#kids traveling alone

In [918]:
kids['total_cost'].describe()

count    2.340000e+02
mean     3.948009e+06
std      9.309394e+06
min      4.972500e+04
25%      5.041498e+05
50%      2.071875e+06
75%      4.773221e+06
max      7.533338e+07
Name: total_cost, dtype: float64

In [921]:
list(kids['total_cost'].describe())
#the average cost for kids traveling is 3948008.967051282

[234.0,
 3948008.967051282,
 9309393.740152381,
 49725.0,
 504149.8125,
 2071875.0,
 4773220.8149999995,
 75333375.0]

In [922]:
youth = df[df['age'] == '25-44']

In [923]:
youth = youth[youth['travel_with'] == 'Alone']
#youth traveling alone

In [925]:
youth['total_cost'].describe()

count    6.970000e+02
mean     2.230397e+06
std      3.141326e+06
min      5.000000e+04
25%      4.000000e+05
50%      9.945000e+05
75%      3.129555e+06
max      3.480750e+07
Name: total_cost, dtype: float64

In [927]:
list(youth['total_cost'].describe())
#the average cost for youth traveling is 2230396.583314204

[697.0,
 2230396.583314204,
 3141325.9096136857,
 50000.0,
 400000.0,
 994500.0,
 3129555.0,
 34807500.0]

In [928]:
adult = df[df['age'] == '45-64']

In [929]:
adult = adult[adult['travel_with'] == 'Alone']
#youth traveling alone

In [930]:
adult['total_cost'].describe()

count    2.750000e+02
mean     4.471133e+06
std      8.065059e+06
min      5.662800e+04
25%      5.312288e+05
50%      1.657500e+06
75%      5.621362e+06
max      9.008512e+07
Name: total_cost, dtype: float64

In [932]:
list(adult['total_cost'].describe())
#the average cost for adult traveling is 4471132.616334545

[275.0,
 4471132.616334545,
 8065059.0506804325,
 56628.0,
 531228.75,
 1657500.0,
 5621362.5,
 90085125.0]

In [937]:
old = df[df['age'] == '65+']

In [938]:
old = old[old['travel_with'] == 'Alone']
#youth traveling alone

In [939]:
old['total_cost'].describe()

count    5.900000e+01
mean     1.061182e+07
std      1.055847e+07
min      5.500000e+04
25%      1.906125e+06
50%      7.723950e+06
75%      1.601974e+07
max      4.153695e+07
Name: total_cost, dtype: float64

In [940]:
list(old['total_cost'].describe())
#the average cost for adult traveling is 10611816.255932204

[59.0,
 10611816.255932204,
 10558474.29795233,
 55000.0,
 1906125.0,
 7723950.0,
 16019737.5,
 41536950.0]

In [924]:
youth

,ID,country,age_group,travel_with,total_female,total_male,purpose,main_activity,info_source,tour_arrangement,...,night_mainland,night_zanzibar,payment_mode,first_trip_tz,most_impressing,total_cost,upcountry,countrys,aging,age
2,tour_1000,UNITED KINGDOM,25-44,Alone,0.0,1.0,Visiting Friends and Relatives,Cultural tourism,"Friends, relatives",Independent,...,1,31,Cash,No,Excellent Experience,3315000.0,Europe,0,1,25-44
8,tour_101,NIGERIA,25-44,Alone,0.0,1.0,Leisure and Holidays,Cultural tourism,"Travel, agent, tour operator",Independent,...,4,0,Cash,Yes,NaN,994500.0,West Africa,12,1,25-44
9,tour_1011,INDIA,25-44,Alone,1.0,0.0,Business,Wildlife tourism,"Travel, agent, tour operator",Independent,...,5,0,Credit Card,Yes,Friendly People,2486250.0,Asia,5,1,25-44
14,tour_1018,MOZAMBIQUE,25-44,Alone,0.0,1.0,Visiting Friends and Relatives,Beach tourism,"Friends, relatives",Independent,...,2,0,Cash,Yes,Wildlife,497250.0,Southern Africa,2,1,25-44
26,tour_1033,UNITED KINGDOM,25-44,Alone,0.0,1.0,Business,Wildlife tourism,"Travel, agent, tour operator",Independent,...,1,0,Credit Card,Yes,No comments,663000.0,Europe,0,1,25-44
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4772,tour_952,UNITED KINGDOM,25-44,Alone,1.0,0.0,Visiting Friends and Relatives,Hunting tourism,"Friends, relatives",Independent,...,9,0,Cash,No,No comments,994500.0,Europe,0,1,25-44
4790,tour_978,POLAND,25-44,Alone,1.0,0.0,Visiting Friends and Relatives,business,"Friends, relatives",Independent,...,1,7,Cash,Yes,Friendly People,1657500.0,Europe,0,1,25-44
4795,tour_982,THAILAND,25-44,Alone,1.0,0.0,Meetings and Conference,Mountain climbing,others,Independent,...,5,0,Cash,Yes,Friendly People,414375.0,Asia,5,1,25-44
4796,tour_983,SOUTH AFRICA,25-44,Alone,0.0,1.0,Meetings and Conference,Mountain climbing,"Travel, agent, tour operator",Independent,...,3,0,Cash,Yes,Friendly People,1657500.0,Southern Africa,2,1,25-44
4797,tour_984,UNITED KINGDOM,25-44,Alone,1.0,0.0,Leisure and Holidays,Beach tourism,"Friends, relatives",Independent,...,3,0,Credit Card,Yes,Friendly People,4552080.0,Europe,0,1,25-44

In [920]:
df['age'].value_counts()

25-44    2487
45-64    1391
01-24     624
65+       307
Name: age, dtype: int64

In [909]:
kids['age'].value_counts()

01-24    624
Name: age, dtype: int64

In [910]:
kids['total_cost'].describe()

count    6.240000e+02
mean     5.415205e+06
std      1.068684e+07
min      4.972500e+04
25%      5.690100e+05
50%      2.602275e+06
75%      5.690100e+06
max      9.264596e+07
Name: total_cost, dtype: float64

In [911]:
list(kids['total_cost'].describe())

[624.0,
 5415205.368749999,
 10686840.999321232,
 49725.0,
 569010.0,
 2602275.0,
 5690100.0,
 92645962.5]

In [868]:
df.head(3)

,ID,country,age_group,travel_with,total_female,total_male,purpose,main_activity,info_source,tour_arrangement,...,night_mainland,night_zanzibar,payment_mode,first_trip_tz,most_impressing,total_cost,upcountry,countrys,aging,age
0,tour_0,SWIZERLAND,45-64,Friends/Relatives,1.0,1.0,Leisure and Holidays,Wildlife tourism,"Friends, relatives",Independent,...,13,0,Cash,No,Friendly People,674602.5,Europe,0,2,45-64
1,tour_10,UNITED KINGDOM,25-44,NaN,1.0,0.0,Leisure and Holidays,Cultural tourism,others,Independent,...,14,7,Cash,Yes,"Wonderful Country, Landscape, Nature",3214906.5,Europe,0,1,25-44
2,tour_1000,UNITED KINGDOM,25-44,Alone,0.0,1.0,Visiting Friends and Relatives,Cultural tourism,"Friends, relatives",Independent,...,1,31,Cash,No,Excellent Experience,3315000.0,Europe,0,1,25-44