In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_excel ("C:\\Users\\Kofi\\Desktop\\Train.xlsx")

#"C:\Users\Kofi\Downloads\Train.csv"
#C:\Users\Kofi\Desktop\Train.xlsx

In [4]:
df.head()

,ID,country,age_group,travel_with,total_female,total_male,purpose,main_activity,info_source,tour_arrangement,...,package_transport_tz,package_sightseeing,package_guided_tour,package_insurance,night_mainland,night_zanzibar,payment_mode,first_trip_tz,most_impressing,total_cost
0,tour_0,SWIZERLAND,45-64,Friends/Relatives,1.0,1.0,Leisure and Holidays,Wildlife tourism,"Friends, relatives",Independent,...,No,No,No,No,13,0,Cash,No,Friendly People,674602.5
1,tour_10,UNITED KINGDOM,25-44,NaN,1.0,0.0,Leisure and Holidays,Cultural tourism,others,Independent,...,No,No,No,No,14,7,Cash,Yes,"Wonderful Country, Landscape, Nature",3214906.5
2,tour_1000,UNITED KINGDOM,25-44,Alone,0.0,1.0,Visiting Friends and Relatives,Cultural tourism,"Friends, relatives",Independent,...,No,No,No,No,1,31,Cash,No,Excellent Experience,3315000.0
3,tour_1002,UNITED KINGDOM,25-44,Spouse,1.0,1.0,Leisure and Holidays,Wildlife tourism,"Travel, agent, tour operator",Package Tour,...,Yes,Yes,Yes,No,11,0,Cash,Yes,Friendly People,7790250.0
4,tour_1004,CHINA,2022-01-24 00:00:00,NaN,1.0,0.0,Leisure and Holidays,Wildlife tourism,"Travel, agent, tour operator",Independent,...,No,No,No,No,7,4,Cash,Yes,No comments,1657500.0

In [5]:
ctry = df['country']

In [6]:
type(ctry)

pandas.core.series.Series

In [7]:
ctry.describe()

count                         4809
unique                         105
top       UNITED STATES OF AMERICA
freq                           695
Name: country, dtype: object

In [8]:
unique, counts = np.unique(ctry, return_counts=True)

In [9]:
ctrys = np.asarray((unique, counts)).T

In [10]:
import time
from time import sleep
from selenium import webdriver
from selenium.webdriver.common.keys import Keys
from webdriver_manager.chrome import ChromeDriverManager
driver = webdriver.Chrome(ChromeDriverManager().install())

====== WebDriver manager ======
Current google-chrome version is 101.0.4951
Get LATEST chromedriver version for 101.0.4951 google-chrome
Driver [C:\Users\Kofi\.wdm\drivers\chromedriver\win32\101.0.4951.41\chromedriver.exe] found in cache
C:\Users\Kofi\AppData\Local\Temp/ipykernel_8112/2674708284.py:6: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = webdriver.Chrome(ChromeDriverManager().install())

In [11]:
driver.get("https://au.int/en/member_states/countryprofiles2")

In [12]:
driver.maximize_window()

In [13]:
i = driver.find_element_by_xpath("(//tbody)[1]")

C:\Users\Kofi\AppData\Local\Temp/ipykernel_8112/1135680224.py:1: DeprecationWarning: find_element_by_xpath is deprecated. Please use find_element(by=By.XPATH, value=xpath) instead
  i = driver.find_element_by_xpath("(//tbody)[1]")

In [14]:
text = i.text
#(//tbody)[1]

In [15]:
type(text)

str

In [16]:
rep = text.replace("\n", ". ")

In [21]:
import re
expression = re.compile(r'([A-Z][^\.!?]*[\.!?])')
new_list = re.findall(expression, rep)

In [22]:
new_list

['Member State  Abbreviation Date of joining.',
 'OAU or AU.',
 'Republic of Burundi  Burundi 25 May 1963.',
 'Republic of Cameroon  Cameroon 25 May 1963.',
 'Central African Republic  Central African Republic 25 May 1963 .',
 'Republic of Chad  Chad 25 May 1963.',
 'Republic of the Congo  Congo Republic 25 May 1963.',
 'Democratic Republic of Congo  DR Congo 25 May 1963.',
 'Republic of Equatorial Guinea  Equatorial Guinea 12 October 1968.',
 'Gabonese Republic  Gabon 25 May 1963.']

In [23]:
converted_list = [x.upper() for x in new_list]

In [24]:
converted_list

['MEMBER STATE  ABBREVIATION DATE OF JOINING.',
 'OAU OR AU.',
 'REPUBLIC OF BURUNDI  BURUNDI 25 MAY 1963.',
 'REPUBLIC OF CAMEROON  CAMEROON 25 MAY 1963.',
 'CENTRAL AFRICAN REPUBLIC  CENTRAL AFRICAN REPUBLIC 25 MAY 1963 .',
 'REPUBLIC OF CHAD  CHAD 25 MAY 1963.',
 'REPUBLIC OF THE CONGO  CONGO REPUBLIC 25 MAY 1963.',
 'DEMOCRATIC REPUBLIC OF CONGO  DR CONGO 25 MAY 1963.',
 'REPUBLIC OF EQUATORIAL GUINEA  EQUATORIAL GUINEA 12 OCTOBER 1968.',
 'GABONESE REPUBLIC  GABON 25 MAY 1963.']

In [25]:
list1 = ctrys.tolist()

In [26]:
list1

[['ALGERIA', 2],
 ['ANGOLA', 1],
 ['ARGENTINA', 1],
 ['AUSTRALIA', 186],
 ['AUSTRIA', 18],
 ['BELGIUM', 49],
 ['BERMUDA', 1],
 ['BRAZIL', 10],
 ['BURGARIA', 2],
 ['BURUNDI', 64],
 ['CANADA', 114],
 ['CAPE VERDE', 1],
 ['CHILE', 2],
 ['CHINA', 65],
 ['COLOMBIA', 3],
 ['COMORO', 1],
 ['CONGO', 11],
 ['COSTARICA', 1],
 ['CROATIA', 2],
 ['CYPRUS', 1],
 ['CZECH REPUBLIC', 11],
 ['DENMARK', 41],
 ['DJIBOUT', 3],
 ['DOMINICA', 1],
 ['DRC', 30],
 ['EGYPT', 10],
 ['ESTONIA', 1],
 ['ETHIOPIA', 6],
 ['FINLAND', 8],
 ['FRANCE', 280],
 ['GEORGIA', 1],
 ['GERMANY', 223],
 ['GHANA', 2],
 ['GREECE', 7],
 ['HUNGARY', 2],
 ['INDIA', 87],
 ['INDONESIA', 3],
 ['IRAN', 2],
 ['IRAQ', 1],
 ['IRELAND', 29],
 ['ISRAEL', 16],
 ['ITALY', 393],
 ['IVORY COAST', 1],
 ['JAPAN', 53],
 ['KENYA', 235],
 ['KOREA', 12],
 ['KUWAIT', 2],
 ['LATVIA', 2],
 ['LEBANON', 3],
 ['LESOTHO', 1],
 ['LITHUANIA', 4],
 ['LUXEMBOURG', 2],
 ['MADAGASCAR', 1],
 ['MALAWI', 20],
 ['MALAYSIA', 23],
 ['MALT', 3],
 ['MAURITIUS', 2],
 ['MEXICO', 2],
 ['MONTENEGRO', 1],
 ['MORROCO', 1],
 ['MOZAMBIQUE', 8],
 ['MYANMAR', 1],
 ['NAMIBIA', 2],
 ['NEPAL', 2],
 ['NETHERLANDS', 112],
 ['NEW ZEALAND', 18],
 ['NIGER', 1],
 ['NIGERIA', 4],
 ['NORWAY', 21],
 ['OMAN', 35],
 ['PAKISTAN', 6],
 ['PHILIPINES', 2],
 ['POLAND', 16],
 ['PORTUGAL', 10],
 ['QATAR', 8],
 ['ROMANIA', 2],
 ['RUSSIA', 8],
 ['RWANDA', 40],
 ['SCOTLAND', 4],
 ['SERBIA', 6],
 ['SINGAPORE', 7],
 ['SLOVAKIA', 2],
 ['SLOVENIA', 1],
 ['SOUTH AFRICA', 235],
 ['SPAIN', 165],
 ['SRI LANKA', 3],
 ['SUDAN', 4],
 ['SWAZILAND', 4],
 ['SWEDEN', 37],
 ['SWIZERLAND', 64],
 ['TAIWAN', 9],
 ['THAILAND', 2],
 ['TRINIDAD TOBACCO', 1],
 ['TUNISIA', 1],
 ['TURKEY', 5],
 ['UAE', 33],
 ['UGANDA', 159],
 ['UKRAIN', 2],
 ['UNITED ARAB EMIRATES', 13],
 ['UNITED KINGDOM', 533],
 ['UNITED STATES OF AMERICA', 695],
 ['URUGUAY', 1],
 ['YEMEN', 2],
 ['ZAMBIA', 191],
 ['ZIMBABWE', 274]]

In [27]:
type(list1)

list

In [28]:
li = str(list1)

In [29]:
co = str(converted_list)

In [30]:
from itertools import chain

In [31]:
check = ' '.join(str(v) for v in list1)

In [32]:
m = check.replace("[", "")
mo = m.replace("]", "")
mov = mo.replace("'", "")
move = mov.replace(".", "")
movi = move.replace(",", "")

In [33]:
type(movi)

str

In [34]:
movi

'ALGERIA 2 ANGOLA 1 ARGENTINA 1 AUSTRALIA 186 AUSTRIA 18 BELGIUM 49 BERMUDA 1 BRAZIL 10 BURGARIA 2 BURUNDI 64 CANADA 114 CAPE VERDE 1 CHILE 2 CHINA 65 COLOMBIA 3 COMORO 1 CONGO 11 COSTARICA 1 CROATIA 2 CYPRUS 1 CZECH REPUBLIC 11 DENMARK 41 DJIBOUT 3 DOMINICA 1 DRC 30 EGYPT 10 ESTONIA 1 ETHIOPIA 6 FINLAND 8 FRANCE 280 GEORGIA 1 GERMANY 223 GHANA 2 GREECE 7 HUNGARY 2 INDIA 87 INDONESIA 3 IRAN 2 IRAQ 1 IRELAND 29 ISRAEL 16 ITALY 393 IVORY COAST 1 JAPAN 53 KENYA 235 KOREA 12 KUWAIT 2 LATVIA 2 LEBANON 3 LESOTHO 1 LITHUANIA 4 LUXEMBOURG 2 MADAGASCAR 1 MALAWI 20 MALAYSIA 23 MALT 3 MAURITIUS 2 MEXICO 2 MONTENEGRO 1 MORROCO 1 MOZAMBIQUE 8 MYANMAR 1 NAMIBIA 2 NEPAL 2 NETHERLANDS 112 NEW ZEALAND 18 NIGER 1 NIGERIA 4 NORWAY 21 OMAN 35 PAKISTAN 6 PHILIPINES 2 POLAND 16 PORTUGAL 10 QATAR 8 ROMANIA 2 RUSSIA 8 RWANDA 40 SCOTLAND 4 SERBIA 6 SINGAPORE 7 SLOVAKIA 2 SLOVENIA 1 SOUTH AFRICA 235 SPAIN 165 SRI LANKA 3 SUDAN 4 SWAZILAND 4 SWEDEN 37 SWIZERLAND 64 TAIWAN 9 THAILAND 2 TRINIDAD TOBACCO 1 TUNISIA 1 TURKEY 5 UAE 33 UGANDA 159 UKRAIN 2 UNITED ARAB EMIRATES 13 UNITED KINGDOM 533 UNITED STATES OF AMERICA 695 URUGUAY 1 YEMEN 2 ZAMBIA 191 ZIMBABWE 274'

In [35]:

result = ''.join([i for i in movi if not i.isdigit()])
result

'ALGERIA  ANGOLA  ARGENTINA  AUSTRALIA  AUSTRIA  BELGIUM  BERMUDA  BRAZIL  BURGARIA  BURUNDI  CANADA  CAPE VERDE  CHILE  CHINA  COLOMBIA  COMORO  CONGO  COSTARICA  CROATIA  CYPRUS  CZECH REPUBLIC  DENMARK  DJIBOUT  DOMINICA  DRC  EGYPT  ESTONIA  ETHIOPIA  FINLAND  FRANCE  GEORGIA  GERMANY  GHANA  GREECE  HUNGARY  INDIA  INDONESIA  IRAN  IRAQ  IRELAND  ISRAEL  ITALY  IVORY COAST  JAPAN  KENYA  KOREA  KUWAIT  LATVIA  LEBANON  LESOTHO  LITHUANIA  LUXEMBOURG  MADAGASCAR  MALAWI  MALAYSIA  MALT  MAURITIUS  MEXICO  MONTENEGRO  MORROCO  MOZAMBIQUE  MYANMAR  NAMIBIA  NEPAL  NETHERLANDS  NEW ZEALAND  NIGER  NIGERIA  NORWAY  OMAN  PAKISTAN  PHILIPINES  POLAND  PORTUGAL  QATAR  ROMANIA  RUSSIA  RWANDA  SCOTLAND  SERBIA  SINGAPORE  SLOVAKIA  SLOVENIA  SOUTH AFRICA  SPAIN  SRI LANKA  SUDAN  SWAZILAND  SWEDEN  SWIZERLAND  TAIWAN  THAILAND  TRINIDAD TOBACCO  TUNISIA  TURKEY  UAE  UGANDA  UKRAIN  UNITED ARAB EMIRATES  UNITED KINGDOM  UNITED STATES OF AMERICA  URUGUAY  YEMEN  ZAMBIA  ZIMBABWE '

In [36]:
converted_list

['MEMBER STATE  ABBREVIATION DATE OF JOINING.',
 'OAU OR AU.',
 'REPUBLIC OF BURUNDI  BURUNDI 25 MAY 1963.',
 'REPUBLIC OF CAMEROON  CAMEROON 25 MAY 1963.',
 'CENTRAL AFRICAN REPUBLIC  CENTRAL AFRICAN REPUBLIC 25 MAY 1963 .',
 'REPUBLIC OF CHAD  CHAD 25 MAY 1963.',
 'REPUBLIC OF THE CONGO  CONGO REPUBLIC 25 MAY 1963.',
 'DEMOCRATIC REPUBLIC OF CONGO  DR CONGO 25 MAY 1963.',
 'REPUBLIC OF EQUATORIAL GUINEA  EQUATORIAL GUINEA 12 OCTOBER 1968.',
 'GABONESE REPUBLIC  GABON 25 MAY 1963.']

In [37]:
coming = ' '.join(str(v) for v in converted_list)

In [38]:
coming

'MEMBER STATE  ABBREVIATION DATE OF JOINING. OAU OR AU. REPUBLIC OF BURUNDI  BURUNDI 25 MAY 1963. REPUBLIC OF CAMEROON  CAMEROON 25 MAY 1963. CENTRAL AFRICAN REPUBLIC  CENTRAL AFRICAN REPUBLIC 25 MAY 1963 . REPUBLIC OF CHAD  CHAD 25 MAY 1963. REPUBLIC OF THE CONGO  CONGO REPUBLIC 25 MAY 1963. DEMOCRATIC REPUBLIC OF CONGO  DR CONGO 25 MAY 1963. REPUBLIC OF EQUATORIAL GUINEA  EQUATORIAL GUINEA 12 OCTOBER 1968. GABONESE REPUBLIC  GABON 25 MAY 1963.'

In [39]:
come = coming.replace(".", "")
com = come.replace("REPUBLIC", "")
come= com.replace("OF", "")

In [40]:
come

'MEMBER STATE  ABBREVIATION DATE  JOINING OAU OR AU   BURUNDI  BURUNDI 25 MAY 1963   CAMEROON  CAMEROON 25 MAY 1963 CENTRAL AFRICAN   CENTRAL AFRICAN  25 MAY 1963    CHAD  CHAD 25 MAY 1963   THE CONGO  CONGO  25 MAY 1963 DEMOCRATIC   CONGO  DR CONGO 25 MAY 1963   EQUATORIAL GUINEA  EQUATORIAL GUINEA 12 OCTOBER 1968 GABONESE   GABON 25 MAY 1963'

In [41]:
# i need to get the intersection of countries

In [42]:
#movi
#come

read = set(result.split()) & set(come.split())

In [43]:
readd = list(read)

In [44]:
readd

['CONGO', 'BURUNDI']

In [45]:
matches = []
i = len(read)
for match in list1:
    if readd[i-2] in match:
        matches.append(match)
        i-=1

In [46]:
matches

[['CONGO', 11]]

In [47]:
type(matches)

list

In [48]:
readd[i-2]

'BURUNDI'

In [49]:
type(df)

pandas.core.frame.DataFrame

In [50]:
df['country'] = df['country'].replace(readd,'Central Africa')

In [51]:
cen = df[df['country'] == 'Central Africa' ]
#i=df[df[â€˜Nameâ€™]==â€™Willâ€™]
#print(i)

In [52]:
cen

,ID,country,age_group,travel_with,total_female,total_male,purpose,main_activity,info_source,tour_arrangement,...,package_transport_tz,package_sightseeing,package_guided_tour,package_insurance,night_mainland,night_zanzibar,payment_mode,first_trip_tz,most_impressing,total_cost
114,tour_1137,Central Africa,25-44,NaN,0.0,1.0,Visiting Friends and Relatives,Cultural tourism,"Friends, relatives",Independent,...,No,No,No,No,11,0,Cash,No,NaN,893392.5
212,tour_1260,Central Africa,25-44,Alone,0.0,1.0,Business,Hunting tourism,"Friends, relatives",Independent,...,No,No,No,No,4,0,Cash,No,Good service,505000.0
571,tour_1707,Central Africa,25-44,NaN,0.0,1.0,Visiting Friends and Relatives,Cultural tourism,"Friends, relatives",Independent,...,No,No,No,No,2,0,Cash,Yes,NaN,77000.0
574,tour_1710,Central Africa,25-44,Friends/Relatives,2.0,1.0,Visiting Friends and Relatives,Hunting tourism,"Friends, relatives",Independent,...,No,No,No,No,2,0,Cash,No,Friendly People,570000.0
575,tour_1712,Central Africa,25-44,NaN,0.0,1.0,Business,Wildlife tourism,"Friends, relatives",Independent,...,No,No,No,No,1,0,Cash,No,NaN,12203000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4512,tour_6459,Central Africa,25-44,NaN,0.0,1.0,Visiting Friends and Relatives,Beach tourism,"Friends, relatives",Independent,...,No,No,No,No,6,0,Cash,No,Friendly People,762000.0
4514,tour_6460,Central Africa,2022-01-24 00:00:00,Spouse,1.0,1.0,Visiting Friends and Relatives,Hunting tourism,"Friends, relatives",Independent,...,No,No,No,No,1,0,Cash,No,NaN,130000.0
4523,tour_6471,Central Africa,25-44,NaN,0.0,1.0,Business,Wildlife tourism,"Friends, relatives",Independent,...,No,No,No,No,3,0,Cash,No,No comments,540000.0
4733,tour_902,Central Africa,25-44,NaN,1.0,0.0,Meetings and Conference,Mountain climbing,"Friends, relatives",Package Tour,...,No,No,No,No,13,0,Cash,No,NaN,5967000.0
4758,tour_933,Central Africa,25-44,Alone,0.0,1.0,Meetings and Conference,Mountain climbing,"Radio, TV, Web",Independent,...,No,No,No,No,2,0,Cash,No,No comments,571837.5

## Eastern africa

In [53]:
i = driver.find_element_by_xpath("(//tbody)[2]")

C:\Users\Kofi\AppData\Local\Temp/ipykernel_8112/2948023138.py:1: DeprecationWarning: find_element_by_xpath is deprecated. Please use find_element(by=By.XPATH, value=xpath) instead
  i = driver.find_element_by_xpath("(//tbody)[2]")

In [54]:
text = i.text
#(//tbody)[1]

In [55]:
type(text)

str

In [56]:
rep = textc.replace("\n", ". ")

NameError: name 'textc' is not defined

In [ ]:
import re
expression = re.compile(r'([A-Z][^\.!?]*[\.!?])')
new_list = re.findall(expression, rep)

In [ ]:
new_list

In [57]:
converted_list = [x.upper() for x in new_list]

In [58]:
converted_list

['MEMBER STATE  ABBREVIATION DATE OF JOINING.',
 'OAU OR AU.',
 'REPUBLIC OF BURUNDI  BURUNDI 25 MAY 1963.',
 'REPUBLIC OF CAMEROON  CAMEROON 25 MAY 1963.',
 'CENTRAL AFRICAN REPUBLIC  CENTRAL AFRICAN REPUBLIC 25 MAY 1963 .',
 'REPUBLIC OF CHAD  CHAD 25 MAY 1963.',
 'REPUBLIC OF THE CONGO  CONGO REPUBLIC 25 MAY 1963.',
 'DEMOCRATIC REPUBLIC OF CONGO  DR CONGO 25 MAY 1963.',
 'REPUBLIC OF EQUATORIAL GUINEA  EQUATORIAL GUINEA 12 OCTOBER 1968.',
 'GABONESE REPUBLIC  GABON 25 MAY 1963.']

In [59]:
co = str(converted_list)

In [60]:
from itertools import chain

In [61]:
coming = ' '.join(str(v) for v in converted_list)

In [62]:
coming

'MEMBER STATE  ABBREVIATION DATE OF JOINING. OAU OR AU. REPUBLIC OF BURUNDI  BURUNDI 25 MAY 1963. REPUBLIC OF CAMEROON  CAMEROON 25 MAY 1963. CENTRAL AFRICAN REPUBLIC  CENTRAL AFRICAN REPUBLIC 25 MAY 1963 . REPUBLIC OF CHAD  CHAD 25 MAY 1963. REPUBLIC OF THE CONGO  CONGO REPUBLIC 25 MAY 1963. DEMOCRATIC REPUBLIC OF CONGO  DR CONGO 25 MAY 1963. REPUBLIC OF EQUATORIAL GUINEA  EQUATORIAL GUINEA 12 OCTOBER 1968. GABONESE REPUBLIC  GABON 25 MAY 1963.'

In [63]:
come = coming.replace(".", "")
com = come.replace("REPUBLIC", "")
come= com.replace("OF", "")

In [64]:
come

'MEMBER STATE  ABBREVIATION DATE  JOINING OAU OR AU   BURUNDI  BURUNDI 25 MAY 1963   CAMEROON  CAMEROON 25 MAY 1963 CENTRAL AFRICAN   CENTRAL AFRICAN  25 MAY 1963    CHAD  CHAD 25 MAY 1963   THE CONGO  CONGO  25 MAY 1963 DEMOCRATIC   CONGO  DR CONGO 25 MAY 1963   EQUATORIAL GUINEA  EQUATORIAL GUINEA 12 OCTOBER 1968 GABONESE   GABON 25 MAY 1963'

In [65]:
# i need to get the intersection of countries

In [66]:
#movi
#come

read = set(result.split()) & set(come.split())

In [67]:
readd = list(read)

In [68]:
readd

['CONGO', 'BURUNDI']

In [69]:
i = len(readd)

In [70]:
matches = []

for match in list1:
    if readd[i-1] in match:
        matches.append(match)
        i-=1

In [71]:
type(matches)

list

In [72]:
i = len(readd)

In [73]:
i

2

In [74]:
readd[i-1]

'BURUNDI'

In [75]:
type(df)

pandas.core.frame.DataFrame

In [76]:
df['country'] = df['country'].replace(readd,'East Africa')

In [77]:
east = df[df['country'] == 'East Africa' ]
#i=df[df[â€˜Nameâ€™]==â€™Willâ€™]
#print(i)

In [78]:
east

Empty DataFrame
Columns: [ID, country, age_group, travel_with, total_female, total_male, purpose, main_activity, info_source, tour_arrangement, package_transport_int, package_accomodation, package_food, package_transport_tz, package_sightseeing, package_guided_tour, package_insurance, night_mainland, night_zanzibar, payment_mode, first_trip_tz, most_impressing, total_cost]
Index: []

[0 rows x 23 columns]

## Northern Africa

In [79]:
i = driver.find_element_by_xpath("(//tbody)[3]")

C:\Users\Kofi\AppData\Local\Temp/ipykernel_8112/3376065246.py:1: DeprecationWarning: find_element_by_xpath is deprecated. Please use find_element(by=By.XPATH, value=xpath) instead
  i = driver.find_element_by_xpath("(//tbody)[3]")

In [80]:
text = i.text
#(//tbody)[1]

In [81]:
type(text)

str

In [82]:
rep = text.replace("\n", ". ")

In [83]:
import re
expression = re.compile(r'([A-Z][^\.!?]*[\.!?])')
new_list = re.findall(expression, rep)

In [84]:
new_list

['Member State  Abbreviation Date of joining.',
 'OAU or AU.',
 'Peopleâ€™s Democratic Republic of Algeria Algeria 25 May 1963.',
 'Arab Republic of Egypt Egypt 25 May 1963.',
 'Libya Libya 25 May 1963.',
 'Islamic Republic of Mauritania Mauritania 25 May 1963.',
 'Kingdom of Morocco Morocco 1963/31 January 2017.',
 'Sahrawi Arab Democratic Republic Sahrawi Republic 22 February 1982.']

In [85]:
converted_list = [x.upper() for x in new_list]

In [86]:
converted_list

['MEMBER STATE  ABBREVIATION DATE OF JOINING.',
 'OAU OR AU.',
 'PEOPLEâ€™S DEMOCRATIC REPUBLIC OF ALGERIA ALGERIA 25 MAY 1963.',
 'ARAB REPUBLIC OF EGYPT EGYPT 25 MAY 1963.',
 'LIBYA LIBYA 25 MAY 1963.',
 'ISLAMIC REPUBLIC OF MAURITANIA MAURITANIA 25 MAY 1963.',
 'KINGDOM OF MOROCCO MOROCCO 1963/31 JANUARY 2017.',
 'SAHRAWI ARAB DEMOCRATIC REPUBLIC SAHRAWI REPUBLIC 22 FEBRUARY 1982.']

In [87]:
co = str(converted_list)

In [88]:
from itertools import chain

In [89]:
coming = ' '.join(str(v) for v in converted_list)

In [90]:
coming

'MEMBER STATE  ABBREVIATION DATE OF JOINING. OAU OR AU. PEOPLEâ€™S DEMOCRATIC REPUBLIC OF ALGERIA ALGERIA 25 MAY 1963. ARAB REPUBLIC OF EGYPT EGYPT 25 MAY 1963. LIBYA LIBYA 25 MAY 1963. ISLAMIC REPUBLIC OF MAURITANIA MAURITANIA 25 MAY 1963. KINGDOM OF MOROCCO MOROCCO 1963/31 JANUARY 2017. SAHRAWI ARAB DEMOCRATIC REPUBLIC SAHRAWI REPUBLIC 22 FEBRUARY 1982.'

In [91]:
come = coming.replace(".", "")
com = come.replace("REPUBLIC", "")
come= com.replace("OF", "")

In [92]:
come

'MEMBER STATE  ABBREVIATION DATE  JOINING OAU OR AU PEOPLEâ€™S DEMOCRATIC   ALGERIA ALGERIA 25 MAY 1963 ARAB   EGYPT EGYPT 25 MAY 1963 LIBYA LIBYA 25 MAY 1963 ISLAMIC   MAURITANIA MAURITANIA 25 MAY 1963 KINGDOM  MOROCCO MOROCCO 1963/31 JANUARY 2017 SAHRAWI ARAB DEMOCRATIC  SAHRAWI  22 FEBRUARY 1982'

In [93]:
# i need to get the intersection of countries

In [94]:
#movi
#come

read = set(result.split()) & set(come.split())

In [95]:
readd = list(read)

In [96]:
readd

['ALGERIA', 'EGYPT', 'KINGDOM', 'ARAB']

In [97]:
i = len(readd)

In [98]:
matches = []

for match in list1:
    if readd[i-1] in match:
        matches.append(match)
        i-=1

In [99]:
type(matches)

list

In [100]:
i = len(readd)

In [101]:
i

4

In [102]:
readd[i-1]

'ARAB'

In [103]:
type(df)

pandas.core.frame.DataFrame

In [104]:
df['country'] = df['country'].replace(readd,'North Africa')

In [105]:
east = df[df['country'] == 'North Africa' ]
#i=df[df[â€˜Nameâ€™]==â€™Willâ€™]
#print(i)

In [106]:
east

,ID,country,age_group,travel_with,total_female,total_male,purpose,main_activity,info_source,tour_arrangement,...,package_transport_tz,package_sightseeing,package_guided_tour,package_insurance,night_mainland,night_zanzibar,payment_mode,first_trip_tz,most_impressing,total_cost
23,tour_103,North Africa,25-44,Spouse,1.0,1.0,Leisure and Holidays,Beach tourism,"Radio, TV, Web",Independent,...,No,No,No,No,0,11,Cash,Yes,Wildlife,3734347.5
33,tour_1040,North Africa,2022-01-24 00:00:00,Alone,0.0,1.0,Visiting Friends and Relatives,Bird watching,"Travel, agent, tour operator",Package Tour,...,No,No,No,No,2,0,Cash,Yes,No comments,2320500.0
242,tour_1305,North Africa,45-64,Alone,0.0,1.0,Leisure and Holidays,Wildlife tourism,Tanzania Mission Abroad,Independent,...,No,No,No,No,4,0,Cash,No,No comments,994500.0
488,tour_1601,North Africa,25-44,Alone,1.0,0.0,Leisure and Holidays,Wildlife tourism,"Friends, relatives",Independent,...,No,No,No,No,7,7,Cash,Yes,No comments,4143750.0
548,tour_1681,North Africa,25-44,Friends/Relatives,5.0,0.0,Visiting Friends and Relatives,Wildlife tourism,"Friends, relatives",Independent,...,No,No,No,No,15,10,Cash,No,"Wonderful Country, Landscape, Nature",828750.0
768,tour_194,North Africa,25-44,Alone,1.0,0.0,Visiting Friends and Relatives,Beach tourism,"Friends, relatives",Independent,...,No,No,No,No,1,0,Cash,Yes,Friendly People,3315000.0
778,tour_195,North Africa,25-44,NaN,1.0,1.0,Leisure and Holidays,Wildlife tourism,"Newspaper, magazines,brochures",Independent,...,No,No,No,No,23,3,Cash,Yes,Wildlife,5304000.0
1031,tour_2266,North Africa,25-44,Friends/Relatives,0.0,2.0,Leisure and Holidays,Conference tourism,"Travel, agent, tour operator",Package Tour,...,Yes,Yes,Yes,No,14,0,Cash,Yes,Good service,10856625.0
1396,tour_2718,North Africa,25-44,Spouse,2.0,0.0,Meetings and Conference,Conference tourism,"Friends, relatives",Package Tour,...,No,No,Yes,No,10,0,Cash,No,"Wonderful Country, Landscape, Nature",3978000.0
2042,tour_3482,North Africa,25-44,NaN,0.0,1.0,Leisure and Holidays,Conference tourism,"Travel, agent, tour operator",Independent,...,No,No,No,No,14,0,Cash,Yes,"Wonderful Country, Landscape, Nature",4143750.0
2852,tour_4473,North Africa,25-44,Spouse,1.0,1.0,Leisure and Holidays,Beach tourism,"Friends, relatives",Independent,...,No,No,No,No,0,6,Cash,Yes,"Wonderful Country, Landscape, Nature",3315000.0
4753,tour_928,North Africa,25-44,Alone,1.0,0.0,Leisure and Holidays,Wildlife tourism,"Friends, relatives",Independent,...,No,No,No,No,5,5,Cash,Yes,Excellent Experience,1657500.0

## Southern Africa

In [107]:
i = driver.find_element_by_xpath("(//tbody)[4]")

C:\Users\Kofi\AppData\Local\Temp/ipykernel_8112/954712956.py:1: DeprecationWarning: find_element_by_xpath is deprecated. Please use find_element(by=By.XPATH, value=xpath) instead
  i = driver.find_element_by_xpath("(//tbody)[4]")

In [108]:
text = i.text
#(//tbody)[1]

In [109]:
type(text)

str

In [110]:
rep = text.replace("\n", ". ")

In [111]:
import re
expression = re.compile(r'([A-Z][^\.!?]*[\.!?])')
new_list = re.findall(expression, rep)

In [112]:
new_list

['Member State  Abbreviation Date of joining.',
 'OAU or AU.',
 'Republic of Angola   Angola 11 February 1975.',
 'Republic of Botswana   Botswana 31 October 1966.',
 'Kingdom of Eswatini   Eswatini 24 September 1968.',
 'Kingdom of Lesotho   Lesotho 31 October 1966.',
 'Republic of Malawi   Malawi 13 July 1964.',
 'Republic of Mozambique   Mozambique 18 July 1975.',
 'Republic of Namibia   Namibia June 1990.',
 'Republic of South Africa  South Africa 6 June 1994.',
 'Republic of Zambia   Zambia 16 December 1964.']

In [113]:
converted_list = [x.upper() for x in new_list]

In [114]:
converted_list

['MEMBER STATE  ABBREVIATION DATE OF JOINING.',
 'OAU OR AU.',
 'REPUBLIC OF ANGOLA   ANGOLA 11 FEBRUARY 1975.',
 'REPUBLIC OF BOTSWANA   BOTSWANA 31 OCTOBER 1966.',
 'KINGDOM OF ESWATINI   ESWATINI 24 SEPTEMBER 1968.',
 'KINGDOM OF LESOTHO   LESOTHO 31 OCTOBER 1966.',
 'REPUBLIC OF MALAWI   MALAWI 13 JULY 1964.',
 'REPUBLIC OF MOZAMBIQUE   MOZAMBIQUE 18 JULY 1975.',
 'REPUBLIC OF NAMIBIA   NAMIBIA JUNE 1990.',
 'REPUBLIC OF SOUTH AFRICA  SOUTH AFRICA 6 JUNE 1994.',
 'REPUBLIC OF ZAMBIA   ZAMBIA 16 DECEMBER 1964.']

In [115]:
co = str(converted_list)

In [116]:
from itertools import chain

In [117]:
coming = ' '.join(str(v) for v in converted_list)

In [118]:
coming

'MEMBER STATE  ABBREVIATION DATE OF JOINING. OAU OR AU. REPUBLIC OF ANGOLA   ANGOLA 11 FEBRUARY 1975. REPUBLIC OF BOTSWANA   BOTSWANA 31 OCTOBER 1966. KINGDOM OF ESWATINI   ESWATINI 24 SEPTEMBER 1968. KINGDOM OF LESOTHO   LESOTHO 31 OCTOBER 1966. REPUBLIC OF MALAWI   MALAWI 13 JULY 1964. REPUBLIC OF MOZAMBIQUE   MOZAMBIQUE 18 JULY 1975. REPUBLIC OF NAMIBIA   NAMIBIA JUNE 1990. REPUBLIC OF SOUTH AFRICA  SOUTH AFRICA 6 JUNE 1994. REPUBLIC OF ZAMBIA   ZAMBIA 16 DECEMBER 1964.'

In [119]:
come = coming.replace(".", "")
com = come.replace("REPUBLIC", "")
come= com.replace("OF", "")

In [120]:
come

'MEMBER STATE  ABBREVIATION DATE  JOINING OAU OR AU   ANGOLA   ANGOLA 11 FEBRUARY 1975   BOTSWANA   BOTSWANA 31 OCTOBER 1966 KINGDOM  ESWATINI   ESWATINI 24 SEPTEMBER 1968 KINGDOM  LESOTHO   LESOTHO 31 OCTOBER 1966   MALAWI   MALAWI 13 JULY 1964   MOZAMBIQUE   MOZAMBIQUE 18 JULY 1975   NAMIBIA   NAMIBIA JUNE 1990   SOUTH AFRICA  SOUTH AFRICA 6 JUNE 1994   ZAMBIA   ZAMBIA 16 DECEMBER 1964'

In [121]:
# i need to get the intersection of countries

In [122]:
#movi
#come

read = set(result.split()) & set(come.split())

In [123]:
readd = list(read)

In [124]:
readd

['AFRICA',
 'SOUTH',
 'MALAWI',
 'ANGOLA',
 'ZAMBIA',
 'KINGDOM',
 'LESOTHO',
 'MOZAMBIQUE',
 'NAMIBIA']

In [125]:
i = len(readd)

In [126]:
matches = []

for match in list1:
    if readd[i-1] in match:
        matches.append(match)
        i-=1

In [127]:
type(matches)

list

In [128]:
i = len(readd)

In [129]:
i

9

In [130]:
readd[i-1]

'NAMIBIA'

In [131]:
type(df)

pandas.core.frame.DataFrame

In [132]:
df['country'] = df['country'].replace(readd,'South Africa')

In [133]:
south = df[df['country'] == 'South Africa' ]
#i=df[df[â€˜Nameâ€™]==â€™Willâ€™]
#print(i)

In [134]:
south

,ID,country,age_group,travel_with,total_female,total_male,purpose,main_activity,info_source,tour_arrangement,...,package_transport_tz,package_sightseeing,package_guided_tour,package_insurance,night_mainland,night_zanzibar,payment_mode,first_trip_tz,most_impressing,total_cost
14,tour_1018,South Africa,25-44,Alone,0.0,1.0,Visiting Friends and Relatives,Beach tourism,"Friends, relatives",Independent,...,No,No,No,No,2,0,Cash,Yes,Wildlife,497250.0
36,tour_1043,South Africa,2022-01-24 00:00:00,Alone,1.0,0.0,Visiting Friends and Relatives,Hunting tourism,"Friends, relatives",Independent,...,No,No,No,No,3,0,Cash,Yes,Excellent Experience,663000.0
39,tour_1047,South Africa,25-44,Alone,0.0,1.0,Meetings and Conference,Beach tourism,"Friends, relatives",Independent,...,No,No,No,No,21,0,Credit Card,No,Friendly People,3000000.0
100,tour_1123,South Africa,45-64,Friends/Relatives,1.0,1.0,Meetings and Conference,Mountain climbing,"Friends, relatives",Independent,...,No,No,No,No,7,0,Cash,Yes,Friendly People,414375.0
200,tour_1244,South Africa,25-44,NaN,1.0,0.0,Meetings and Conference,Mountain climbing,"Travel, agent, tour operator",Package Tour,...,Yes,No,No,No,6,0,Cash,Yes,Wildlife,4806750.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4519,tour_6468,South Africa,45-64,NaN,1.0,0.0,Business,Beach tourism,"Radio, TV, Web",Independent,...,No,No,No,No,3,0,Cash,No,Excellent Experience,491600.0
4520,tour_6469,South Africa,25-44,Alone,0.0,1.0,Business,Wildlife tourism,"Friends, relatives",Independent,...,No,No,No,No,3,0,Cash,No,NaN,140000.0
4646,tour_8,South Africa,45-64,Spouse,1.0,2.0,Other,Conference tourism,"Friends, relatives",Independent,...,No,No,No,No,3,0,Cash,No,No comments,2652000.0
4658,tour_810,South Africa,25-44,NaN,0.0,1.0,Meetings and Conference,Mountain climbing,"Friends, relatives",Independent,...,No,No,No,No,3,0,Cash,Yes,Wildlife,165750.0
4710,tour_87,South Africa,25-44,NaN,0.0,1.0,Meetings and Conference,Beach tourism,"Travel, agent, tour operator",Package Tour,...,No,No,No,No,2,0,Cash,No,Friendly People,331500.0

## West Africa

In [135]:
i = driver.find_element_by_xpath("(//tbody)[5]")

C:\Users\Kofi\AppData\Local\Temp/ipykernel_8112/3885326720.py:1: DeprecationWarning: find_element_by_xpath is deprecated. Please use find_element(by=By.XPATH, value=xpath) instead
  i = driver.find_element_by_xpath("(//tbody)[5]")

In [136]:
text = i.text
#(//tbody)[1]

In [137]:
type(text)

str

In [138]:
rep = text.replace("\n", ". ")

In [139]:
import re
expression = re.compile(r'([A-Z][^\.!?]*[\.!?])')
new_list = re.findall(expression, rep)

In [140]:
new_list

['Member State  Abbreviation  Date of joining.',
 'OAU or AU.',
 'Republic of Benin   Benin 25 May 1963.',
 'Burkina Faso  Burkina Faso 25 May 1963.',
 'Republic of Cabo Verde   Cabo Verde 18 July 1975.',
 'Republic of CÃ´te dâ€™Ivoire   CÃ´te dâ€™Ivoire 25 May 1963.',
 'Republic of the Gambia   Gambia  9 March 1965.',
 'Republic of Ghana   Ghana  25 May 1963.',
 'Republic of Guinea  Guinea  25 May 1963.',
 'Republic of Guinea-Bissau  Guinea-Bissau  19 November 1973.',
 'Republic of Liberia  Liberia  25 May 1963.',
 'Republic of Mali  Mali  25 May 1963.',
 'Republic of Niger  Niger  25 May 1963.',
 'Federal Republic of Nigeria  Nigeria  25 May 1963.',
 'Republic of Senegal  Senegal  25 May 1963.',
 'Republic of Sierra Leone  Sierra Leone  25 May 1963.']

In [141]:
converted_list = [x.upper() for x in new_list]

In [142]:
converted_list

['MEMBER STATE  ABBREVIATION  DATE OF JOINING.',
 'OAU OR AU.',
 'REPUBLIC OF BENIN   BENIN 25 MAY 1963.',
 'BURKINA FASO  BURKINA FASO 25 MAY 1963.',
 'REPUBLIC OF CABO VERDE   CABO VERDE 18 JULY 1975.',
 'REPUBLIC OF CÃ”TE Dâ€™IVOIRE   CÃ”TE Dâ€™IVOIRE 25 MAY 1963.',
 'REPUBLIC OF THE GAMBIA   GAMBIA  9 MARCH 1965.',
 'REPUBLIC OF GHANA   GHANA  25 MAY 1963.',
 'REPUBLIC OF GUINEA  GUINEA  25 MAY 1963.',
 'REPUBLIC OF GUINEA-BISSAU  GUINEA-BISSAU  19 NOVEMBER 1973.',
 'REPUBLIC OF LIBERIA  LIBERIA  25 MAY 1963.',
 'REPUBLIC OF MALI  MALI  25 MAY 1963.',
 'REPUBLIC OF NIGER  NIGER  25 MAY 1963.',
 'FEDERAL REPUBLIC OF NIGERIA  NIGERIA  25 MAY 1963.',
 'REPUBLIC OF SENEGAL  SENEGAL  25 MAY 1963.',
 'REPUBLIC OF SIERRA LEONE  SIERRA LEONE  25 MAY 1963.']

In [143]:
co = str(converted_list)

In [144]:
from itertools import chain

In [145]:
coming = ' '.join(str(v) for v in converted_list)

In [146]:
coming

'MEMBER STATE  ABBREVIATION  DATE OF JOINING. OAU OR AU. REPUBLIC OF BENIN   BENIN 25 MAY 1963. BURKINA FASO  BURKINA FASO 25 MAY 1963. REPUBLIC OF CABO VERDE   CABO VERDE 18 JULY 1975. REPUBLIC OF CÃ”TE Dâ€™IVOIRE   CÃ”TE Dâ€™IVOIRE 25 MAY 1963. REPUBLIC OF THE GAMBIA   GAMBIA  9 MARCH 1965. REPUBLIC OF GHANA   GHANA  25 MAY 1963. REPUBLIC OF GUINEA  GUINEA  25 MAY 1963. REPUBLIC OF GUINEA-BISSAU  GUINEA-BISSAU  19 NOVEMBER 1973. REPUBLIC OF LIBERIA  LIBERIA  25 MAY 1963. REPUBLIC OF MALI  MALI  25 MAY 1963. REPUBLIC OF NIGER  NIGER  25 MAY 1963. FEDERAL REPUBLIC OF NIGERIA  NIGERIA  25 MAY 1963. REPUBLIC OF SENEGAL  SENEGAL  25 MAY 1963. REPUBLIC OF SIERRA LEONE  SIERRA LEONE  25 MAY 1963.'

In [147]:
come = coming.replace(".", "")
com = come.replace("REPUBLIC", "")
come= com.replace("OF", "")

In [148]:
come

'MEMBER STATE  ABBREVIATION  DATE  JOINING OAU OR AU   BENIN   BENIN 25 MAY 1963 BURKINA FASO  BURKINA FASO 25 MAY 1963   CABO VERDE   CABO VERDE 18 JULY 1975   CÃ”TE Dâ€™IVOIRE   CÃ”TE Dâ€™IVOIRE 25 MAY 1963   THE GAMBIA   GAMBIA  9 MARCH 1965   GHANA   GHANA  25 MAY 1963   GUINEA  GUINEA  25 MAY 1963   GUINEA-BISSAU  GUINEA-BISSAU  19 NOVEMBER 1973   LIBERIA  LIBERIA  25 MAY 1963   MALI  MALI  25 MAY 1963   NIGER  NIGER  25 MAY 1963 FEDERAL   NIGERIA  NIGERIA  25 MAY 1963   SENEGAL  SENEGAL  25 MAY 1963   SIERRA LEONE  SIERRA LEONE  25 MAY 1963'

In [149]:
# i need to get the intersection of countries

In [150]:
#movi
#come

read = set(result.split()) & set(come.split())

In [151]:
readd = list(read)

In [152]:
readd

['GHANA', 'NIGERIA', 'VERDE', 'NIGER']

In [153]:
i = len(readd)

In [154]:
matches = []

for match in list1:
    if readd[i-1] in match:
        matches.append(match)
        i-=1

In [155]:
type(matches)

list

In [156]:
i = len(readd)

In [157]:
i

4

In [158]:
readd[i-1]

'NIGER'

In [159]:
type(df)

pandas.core.frame.DataFrame

In [160]:
df['country'] = df['country'].replace(readd,'West Africa')

In [161]:
west = df[df['country'] == 'West Africa' ]
#i=df[df[â€˜Nameâ€™]==â€™Willâ€™]
#print(i)

In [162]:
west

,ID,country,age_group,travel_with,total_female,total_male,purpose,main_activity,info_source,tour_arrangement,...,package_transport_tz,package_sightseeing,package_guided_tour,package_insurance,night_mainland,night_zanzibar,payment_mode,first_trip_tz,most_impressing,total_cost
8,tour_101,West Africa,25-44,Alone,0.0,1.0,Leisure and Holidays,Cultural tourism,"Travel, agent, tour operator",Independent,...,No,No,No,No,4,0,Cash,Yes,NaN,994500.0
602,tour_174,West Africa,25-44,Alone,1.0,0.0,Meetings and Conference,Mountain climbing,"Travel, agent, tour operator",Independent,...,No,No,No,No,5,0,Cash,Yes,Friendly People,828750.0
604,tour_1741,West Africa,25-44,Spouse and Children,2.0,1.0,Leisure and Holidays,Beach tourism,"Friends, relatives",Independent,...,No,No,No,No,4,16,Credit Card,No,Friendly People,4972500.0
957,tour_217,West Africa,45-64,Friends/Relatives,0.0,2.0,Business,Wildlife tourism,Trade fair,Independent,...,No,No,No,No,30,0,Cash,Yes,No comments,10000000.0
1397,tour_2719,West Africa,25-44,NaN,0.0,1.0,Visiting Friends and Relatives,Wildlife tourism,"Friends, relatives",Independent,...,No,No,No,No,7,0,Cash,No,Friendly People,250282.5
3362,tour_5068,West Africa,2022-01-24 00:00:00,NaN,0.0,1.0,Business,Wildlife tourism,"Friends, relatives",Independent,...,No,No,No,No,14,0,Cash,Yes,Excellent Experience,497250.0
4474,tour_6412,West Africa,25-44,NaN,0.0,1.0,Business,Wildlife tourism,"Friends, relatives",Independent,...,No,No,No,No,35,0,Cash,No,Good service,50000.0

## Europe

In [163]:


#(//main[@id='main-content'])[1]

In [194]:
driver.get("https://european-union.europa.eu/principles-countries-history/country-profiles_en?page=0")

In [195]:
i = driver.find_element_by_xpath("(//div[@class='ecl-row'])[5]")

C:\Users\Kofi\AppData\Local\Temp/ipykernel_8112/3388245205.py:1: DeprecationWarning: find_element_by_xpath is deprecated. Please use find_element(by=By.XPATH, value=xpath) instead
  i = driver.find_element_by_xpath("(//div[@class='ecl-row'])[5]")

In [196]:
text = i.text
#(//tbody)[1]

In [197]:
type(text)

str

In [198]:
rep = text.replace("\n", ". ")

In [199]:
import re
expression = re.compile(r'([A-Z][^\.!?]*[\.!?])')
new_list = re.findall(expression, rep)

In [200]:
new_list

['Austria.',
 'EU member country since 1995, Euro area member since 1999, Schengen area member since 1997 and more about Austriaâ€™s participation in the EU.',
 'Belgium.',
 'EU member country since 1958, Euro area member since 1999, Schengen area member since 1995 and more about Belgiumâ€™s participation in the EU.',
 'Bulgaria.',
 'EU member country since 2007 and more about Bulgariaâ€™s participation in the EU.',
 'Croatia.',
 "EU Member State since 2013 and more on Croatia's role in the EU.",
 'Cyprus.',
 'EU member country since 2004, Euro area member since 2008 and more about Cyprusâ€™s participation in the EU.',
 'Czechia.',
 'EU member country since 2004, Schengen area member since 2007 and more about Czechiaâ€™s participation in the EU.',
 'Denmark.',
 'EU member country since 1973, opt-out from euro, Schengen area member since 2001 and more about Denmarkâ€™s participation in the EU.',
 'Estonia.',
 'How Estonia is represented in the different EU institutions, how much money it gives and receives, its political system and trade figures.',
 'Finland.',
 'EU member country since 1995, Euro area member since 1999, Schengen area member since 2001 and more about Finlandâ€™s participation in the EU.',
 'France.',
 'EU member country since 1958, Euro area member since 1999, Schengen area member since 1995 and more about Franceâ€™s participation in the EU.',
 'Germany.',
 'EU member country since 1958, Euro area member since 1999, Schengen area member since 1995 and more about Germanyâ€™s participation in the EU.',
 'Greece.',
 'EU member country since 1981, Euro area member since 2001, Schengen area member since 2000 and more about Greeceâ€™s participation in the EU.',
 'Hungary.',
 'EU member country since 2004, Schengen area member since 2007 and more about Hungaryâ€™s participation in the EU.',
 'Ireland.',
 'EU member country since 1973, Euro area member since 1999, opt-out from Schengen area and more about Irelandâ€™s participation in the EU.',
 'Italy.',
 'EU member country since 1958, Euro area member since 1999, Schengen area member since 1997 and more about Italyâ€™s participation in the EU.',
 'Latvia.',
 'EU member country since 2004, Euro area member since 2014, Schengen area member since 2007 and more about Latviaâ€™s participation in the EU.',
 'Lithuania.',
 'EU member country since 2004, Euro area member since 2015, Schengen area member since 2007 and more about Lithuaniaâ€™s participation in the EU.',
 'Luxembourg.',
 'EU member country since 1958, Euro area member since 1999, Schengen area member since 1995 and more about Luxembourgâ€™s participation in the EU.',
 'Malta.',
 'EU member country since 2004, Euro area member since 2008, Schengen area member since 2007 and more about Maltaâ€™s participation in the EU.',
 'Netherlands.',
 'EU member country since 1958, Euro area member since 1999, Schengen area member since 1995 and more about the Netherlandsâ€™ participation in the EU.']

In [201]:
driver.get("https://european-union.europa.eu/principles-countries-history/country-profiles_en?page=1")

In [202]:
i = driver.find_element_by_xpath("(//div[@class='ecl-row'])[5]")

C:\Users\Kofi\AppData\Local\Temp/ipykernel_8112/3388245205.py:1: DeprecationWarning: find_element_by_xpath is deprecated. Please use find_element(by=By.XPATH, value=xpath) instead
  i = driver.find_element_by_xpath("(//div[@class='ecl-row'])[5]")

In [203]:
text = i.text
#(//tbody)[1]

In [204]:
type(text)

str

In [205]:
rep = text.replace("\n", ". ")

In [206]:
import re
expression = re.compile(r'([A-Z][^\.!?]*[\.!?])')
new_list1 = re.findall(expression, rep)

In [208]:
type(new_list1)

list

In [209]:
new_lists = new_list+new_list1

In [210]:
converted_list = [x.upper() for x in new_lists]

In [211]:
converted_list

['AUSTRIA.',
 'EU MEMBER COUNTRY SINCE 1995, EURO AREA MEMBER SINCE 1999, SCHENGEN AREA MEMBER SINCE 1997 AND MORE ABOUT AUSTRIAâ€™S PARTICIPATION IN THE EU.',
 'BELGIUM.',
 'EU MEMBER COUNTRY SINCE 1958, EURO AREA MEMBER SINCE 1999, SCHENGEN AREA MEMBER SINCE 1995 AND MORE ABOUT BELGIUMâ€™S PARTICIPATION IN THE EU.',
 'BULGARIA.',
 'EU MEMBER COUNTRY SINCE 2007 AND MORE ABOUT BULGARIAâ€™S PARTICIPATION IN THE EU.',
 'CROATIA.',
 "EU MEMBER STATE SINCE 2013 AND MORE ON CROATIA'S ROLE IN THE EU.",
 'CYPRUS.',
 'EU MEMBER COUNTRY SINCE 2004, EURO AREA MEMBER SINCE 2008 AND MORE ABOUT CYPRUSâ€™S PARTICIPATION IN THE EU.',
 'CZECHIA.',
 'EU MEMBER COUNTRY SINCE 2004, SCHENGEN AREA MEMBER SINCE 2007 AND MORE ABOUT CZECHIAâ€™S PARTICIPATION IN THE EU.',
 'DENMARK.',
 'EU MEMBER COUNTRY SINCE 1973, OPT-OUT FROM EURO, SCHENGEN AREA MEMBER SINCE 2001 AND MORE ABOUT DENMARKâ€™S PARTICIPATION IN THE EU.',
 'ESTONIA.',
 'HOW ESTONIA IS REPRESENTED IN THE DIFFERENT EU INSTITUTIONS, HOW MUCH MONEY IT GIVES AND RECEIVES, ITS POLITICAL SYSTEM AND TRADE FIGURES.',
 'FINLAND.',
 'EU MEMBER COUNTRY SINCE 1995, EURO AREA MEMBER SINCE 1999, SCHENGEN AREA MEMBER SINCE 2001 AND MORE ABOUT FINLANDâ€™S PARTICIPATION IN THE EU.',
 'FRANCE.',
 'EU MEMBER COUNTRY SINCE 1958, EURO AREA MEMBER SINCE 1999, SCHENGEN AREA MEMBER SINCE 1995 AND MORE ABOUT FRANCEâ€™S PARTICIPATION IN THE EU.',
 'GERMANY.',
 'EU MEMBER COUNTRY SINCE 1958, EURO AREA MEMBER SINCE 1999, SCHENGEN AREA MEMBER SINCE 1995 AND MORE ABOUT GERMANYâ€™S PARTICIPATION IN THE EU.',
 'GREECE.',
 'EU MEMBER COUNTRY SINCE 1981, EURO AREA MEMBER SINCE 2001, SCHENGEN AREA MEMBER SINCE 2000 AND MORE ABOUT GREECEâ€™S PARTICIPATION IN THE EU.',
 'HUNGARY.',
 'EU MEMBER COUNTRY SINCE 2004, SCHENGEN AREA MEMBER SINCE 2007 AND MORE ABOUT HUNGARYâ€™S PARTICIPATION IN THE EU.',
 'IRELAND.',
 'EU MEMBER COUNTRY SINCE 1973, EURO AREA MEMBER SINCE 1999, OPT-OUT FROM SCHENGEN AREA AND MORE ABOUT IRELANDâ€™S PARTICIPATION IN THE EU.',
 'ITALY.',
 'EU MEMBER COUNTRY SINCE 1958, EURO AREA MEMBER SINCE 1999, SCHENGEN AREA MEMBER SINCE 1997 AND MORE ABOUT ITALYâ€™S PARTICIPATION IN THE EU.',
 'LATVIA.',
 'EU MEMBER COUNTRY SINCE 2004, EURO AREA MEMBER SINCE 2014, SCHENGEN AREA MEMBER SINCE 2007 AND MORE ABOUT LATVIAâ€™S PARTICIPATION IN THE EU.',
 'LITHUANIA.',
 'EU MEMBER COUNTRY SINCE 2004, EURO AREA MEMBER SINCE 2015, SCHENGEN AREA MEMBER SINCE 2007 AND MORE ABOUT LITHUANIAâ€™S PARTICIPATION IN THE EU.',
 'LUXEMBOURG.',
 'EU MEMBER COUNTRY SINCE 1958, EURO AREA MEMBER SINCE 1999, SCHENGEN AREA MEMBER SINCE 1995 AND MORE ABOUT LUXEMBOURGâ€™S PARTICIPATION IN THE EU.',
 'MALTA.',
 'EU MEMBER COUNTRY SINCE 2004, EURO AREA MEMBER SINCE 2008, SCHENGEN AREA MEMBER SINCE 2007 AND MORE ABOUT MALTAâ€™S PARTICIPATION IN THE EU.',
 'NETHERLANDS.',
 'EU MEMBER COUNTRY SINCE 1958, EURO AREA MEMBER SINCE 1999, SCHENGEN AREA MEMBER SINCE 1995 AND MORE ABOUT THE NETHERLANDSâ€™ PARTICIPATION IN THE EU.',
 'POLAND.',
 'EU MEMBER COUNTRY SINCE 2004, SCHENGEN AREA MEMBER SINCE 2007 AND MORE ABOUT POLANDâ€™S PARTICIPATION IN THE EU.',
 'PORTUGAL.',
 'EU MEMBER COUNTRY SINCE 1986, EURO AREA MEMBER SINCE 1999, SCHENGEN AREA MEMBER SINCE 1995 AND MORE ABOUT PORTUGALâ€™S PARTICIPATION IN THE EU.',
 'ROMANIA.',
 'EU MEMBER COUNTRY SINCE 2007 AND MORE ABOUT ROMANIAâ€™S PARTICIPATION IN THE EU.',
 'SLOVAKIA.',
 'EU MEMBER COUNTRY SINCE 2004, EURO AREA MEMBER SINCE 2009, SCHENGEN AREA MEMBER SINCE 2007 AND MORE ABOUT SLOVAKIAâ€™S PARTICIPATION IN THE EU.',
 'SLOVENIA.',
 'EU MEMBER COUNTRY SINCE 2004, EURO AREA MEMBER SINCE 2007, SCHENGEN AREA MEMBER SINCE 2007 AND MORE ABOUT SLOVENIAâ€™S PARTICIPATION IN THE EU.',
 'SPAIN.',
 'EU MEMBER COUNTRY SINCE 1986, EURO AREA MEMBER SINCE 1999, SCHENGEN AREA MEMBER SINCE 1995 AND MORE ABOUT SPAINâ€™S PARTICIPATION IN THE EU.',
 'SWEDEN.',
 'EU MEMBER COUNTRY SINCE 1995, SCHENGEN AREA MEMBER SINCE 2001 AND MORE ABOUT SWEDENâ€™S PARTICIPATION IN THE EU.']

In [212]:
co = str(converted_list)

In [213]:
from itertools import chain

In [214]:
coming = ' '.join(str(v) for v in converted_list)

In [215]:
coming

"AUSTRIA. EU MEMBER COUNTRY SINCE 1995, EURO AREA MEMBER SINCE 1999, SCHENGEN AREA MEMBER SINCE 1997 AND MORE ABOUT AUSTRIAâ€™S PARTICIPATION IN THE EU. BELGIUM. EU MEMBER COUNTRY SINCE 1958, EURO AREA MEMBER SINCE 1999, SCHENGEN AREA MEMBER SINCE 1995 AND MORE ABOUT BELGIUMâ€™S PARTICIPATION IN THE EU. BULGARIA. EU MEMBER COUNTRY SINCE 2007 AND MORE ABOUT BULGARIAâ€™S PARTICIPATION IN THE EU. CROATIA. EU MEMBER STATE SINCE 2013 AND MORE ON CROATIA'S ROLE IN THE EU. CYPRUS. EU MEMBER COUNTRY SINCE 2004, EURO AREA MEMBER SINCE 2008 AND MORE ABOUT CYPRUSâ€™S PARTICIPATION IN THE EU. CZECHIA. EU MEMBER COUNTRY SINCE 2004, SCHENGEN AREA MEMBER SINCE 2007 AND MORE ABOUT CZECHIAâ€™S PARTICIPATION IN THE EU. DENMARK. EU MEMBER COUNTRY SINCE 1973, OPT-OUT FROM EURO, SCHENGEN AREA MEMBER SINCE 2001 AND MORE ABOUT DENMARKâ€™S PARTICIPATION IN THE EU. ESTONIA. HOW ESTONIA IS REPRESENTED IN THE DIFFERENT EU INSTITUTIONS, HOW MUCH MONEY IT GIVES AND RECEIVES, ITS POLITICAL SYSTEM AND TRADE FIGURES. FINLAND. EU MEMBER COUNTRY SINCE 1995, EURO AREA MEMBER SINCE 1999, SCHENGEN AREA MEMBER SINCE 2001 AND MORE ABOUT FINLANDâ€™S PARTICIPATION IN THE EU. FRANCE. EU MEMBER COUNTRY SINCE 1958, EURO AREA MEMBER SINCE 1999, SCHENGEN AREA MEMBER SINCE 1995 AND MORE ABOUT FRANCEâ€™S PARTICIPATION IN THE EU. GERMANY. EU MEMBER COUNTRY SINCE 1958, EURO AREA MEMBER SINCE 1999, SCHENGEN AREA MEMBER SINCE 1995 AND MORE ABOUT GERMANYâ€™S PARTICIPATION IN THE EU. GREECE. EU MEMBER COUNTRY SINCE 1981, EURO AREA MEMBER SINCE 2001, SCHENGEN AREA MEMBER SINCE 2000 AND MORE ABOUT GREECEâ€™S PARTICIPATION IN THE EU. HUNGARY. EU MEMBER COUNTRY SINCE 2004, SCHENGEN AREA MEMBER SINCE 2007 AND MORE ABOUT HUNGARYâ€™S PARTICIPATION IN THE EU. IRELAND. EU MEMBER COUNTRY SINCE 1973, EURO AREA MEMBER SINCE 1999, OPT-OUT FROM SCHENGEN AREA AND MORE ABOUT IRELANDâ€™S PARTICIPATION IN THE EU. ITALY. EU MEMBER COUNTRY SINCE 1958, EURO AREA MEMBER SINCE 1999, SCHENGEN AREA MEMBER SINCE 1997 AND MORE ABOUT ITALYâ€™S PARTICIPATION IN THE EU. LATVIA. EU MEMBER COUNTRY SINCE 2004, EURO AREA MEMBER SINCE 2014, SCHENGEN AREA MEMBER SINCE 2007 AND MORE ABOUT LATVIAâ€™S PARTICIPATION IN THE EU. LITHUANIA. EU MEMBER COUNTRY SINCE 2004, EURO AREA MEMBER SINCE 2015, SCHENGEN AREA MEMBER SINCE 2007 AND MORE ABOUT LITHUANIAâ€™S PARTICIPATION IN THE EU. LUXEMBOURG. EU MEMBER COUNTRY SINCE 1958, EURO AREA MEMBER SINCE 1999, SCHENGEN AREA MEMBER SINCE 1995 AND MORE ABOUT LUXEMBOURGâ€™S PARTICIPATION IN THE EU. MALTA. EU MEMBER COUNTRY SINCE 2004, EURO AREA MEMBER SINCE 2008, SCHENGEN AREA MEMBER SINCE 2007 AND MORE ABOUT MALTAâ€™S PARTICIPATION IN THE EU. NETHERLANDS. EU MEMBER COUNTRY SINCE 1958, EURO AREA MEMBER SINCE 1999, SCHENGEN AREA MEMBER SINCE 1995 AND MORE ABOUT THE NETHERLANDSâ€™ PARTICIPATION IN THE EU. POLAND. EU MEMBER COUNTRY SINCE 2004, SCHENGEN AREA MEMBER SINCE 2007 AND MORE ABOUT POLANDâ€™S PARTICIPATION IN THE EU. PORTUGAL. EU MEMBER COUNTRY SINCE 1986, EURO AREA MEMBER SINCE 1999, SCHENGEN AREA MEMBER SINCE 1995 AND MORE ABOUT PORTUGALâ€™S PARTICIPATION IN THE EU. ROMANIA. EU MEMBER COUNTRY SINCE 2007 AND MORE ABOUT ROMANIAâ€™S PARTICIPATION IN THE EU. SLOVAKIA. EU MEMBER COUNTRY SINCE 2004, EURO AREA MEMBER SINCE 2009, SCHENGEN AREA MEMBER SINCE 2007 AND MORE ABOUT SLOVAKIAâ€™S PARTICIPATION IN THE EU. SLOVENIA. EU MEMBER COUNTRY SINCE 2004, EURO AREA MEMBER SINCE 2007, SCHENGEN AREA MEMBER SINCE 2007 AND MORE ABOUT SLOVENIAâ€™S PARTICIPATION IN THE EU. SPAIN. EU MEMBER COUNTRY SINCE 1986, EURO AREA MEMBER SINCE 1999, SCHENGEN AREA MEMBER SINCE 1995 AND MORE ABOUT SPAINâ€™S PARTICIPATION IN THE EU. SWEDEN. EU MEMBER COUNTRY SINCE 1995, SCHENGEN AREA MEMBER SINCE 2001 AND MORE ABOUT SWEDENâ€™S PARTICIPATION IN THE EU."

In [216]:
come = coming.replace(".", "")
com = come.replace("REPUBLIC", "")
come= com.replace("OF", "")

In [217]:
come

"AUSTRIA EU MEMBER COUNTRY SINCE 1995, EURO AREA MEMBER SINCE 1999, SCHENGEN AREA MEMBER SINCE 1997 AND MORE ABOUT AUSTRIAâ€™S PARTICIPATION IN THE EU BELGIUM EU MEMBER COUNTRY SINCE 1958, EURO AREA MEMBER SINCE 1999, SCHENGEN AREA MEMBER SINCE 1995 AND MORE ABOUT BELGIUMâ€™S PARTICIPATION IN THE EU BULGARIA EU MEMBER COUNTRY SINCE 2007 AND MORE ABOUT BULGARIAâ€™S PARTICIPATION IN THE EU CROATIA EU MEMBER STATE SINCE 2013 AND MORE ON CROATIA'S ROLE IN THE EU CYPRUS EU MEMBER COUNTRY SINCE 2004, EURO AREA MEMBER SINCE 2008 AND MORE ABOUT CYPRUSâ€™S PARTICIPATION IN THE EU CZECHIA EU MEMBER COUNTRY SINCE 2004, SCHENGEN AREA MEMBER SINCE 2007 AND MORE ABOUT CZECHIAâ€™S PARTICIPATION IN THE EU DENMARK EU MEMBER COUNTRY SINCE 1973, OPT-OUT FROM EURO, SCHENGEN AREA MEMBER SINCE 2001 AND MORE ABOUT DENMARKâ€™S PARTICIPATION IN THE EU ESTONIA HOW ESTONIA IS REPRESENTED IN THE DIFFERENT EU INSTITUTIONS, HOW MUCH MONEY IT GIVES AND RECEIVES, ITS POLITICAL SYSTEM AND TRADE FIGURES FINLAND EU MEMBER COUNTRY SINCE 1995, EURO AREA MEMBER SINCE 1999, SCHENGEN AREA MEMBER SINCE 2001 AND MORE ABOUT FINLANDâ€™S PARTICIPATION IN THE EU FRANCE EU MEMBER COUNTRY SINCE 1958, EURO AREA MEMBER SINCE 1999, SCHENGEN AREA MEMBER SINCE 1995 AND MORE ABOUT FRANCEâ€™S PARTICIPATION IN THE EU GERMANY EU MEMBER COUNTRY SINCE 1958, EURO AREA MEMBER SINCE 1999, SCHENGEN AREA MEMBER SINCE 1995 AND MORE ABOUT GERMANYâ€™S PARTICIPATION IN THE EU GREECE EU MEMBER COUNTRY SINCE 1981, EURO AREA MEMBER SINCE 2001, SCHENGEN AREA MEMBER SINCE 2000 AND MORE ABOUT GREECEâ€™S PARTICIPATION IN THE EU HUNGARY EU MEMBER COUNTRY SINCE 2004, SCHENGEN AREA MEMBER SINCE 2007 AND MORE ABOUT HUNGARYâ€™S PARTICIPATION IN THE EU IRELAND EU MEMBER COUNTRY SINCE 1973, EURO AREA MEMBER SINCE 1999, OPT-OUT FROM SCHENGEN AREA AND MORE ABOUT IRELANDâ€™S PARTICIPATION IN THE EU ITALY EU MEMBER COUNTRY SINCE 1958, EURO AREA MEMBER SINCE 1999, SCHENGEN AREA MEMBER SINCE 1997 AND MORE ABOUT ITALYâ€™S PARTICIPATION IN THE EU LATVIA EU MEMBER COUNTRY SINCE 2004, EURO AREA MEMBER SINCE 2014, SCHENGEN AREA MEMBER SINCE 2007 AND MORE ABOUT LATVIAâ€™S PARTICIPATION IN THE EU LITHUANIA EU MEMBER COUNTRY SINCE 2004, EURO AREA MEMBER SINCE 2015, SCHENGEN AREA MEMBER SINCE 2007 AND MORE ABOUT LITHUANIAâ€™S PARTICIPATION IN THE EU LUXEMBOURG EU MEMBER COUNTRY SINCE 1958, EURO AREA MEMBER SINCE 1999, SCHENGEN AREA MEMBER SINCE 1995 AND MORE ABOUT LUXEMBOURGâ€™S PARTICIPATION IN THE EU MALTA EU MEMBER COUNTRY SINCE 2004, EURO AREA MEMBER SINCE 2008, SCHENGEN AREA MEMBER SINCE 2007 AND MORE ABOUT MALTAâ€™S PARTICIPATION IN THE EU NETHERLANDS EU MEMBER COUNTRY SINCE 1958, EURO AREA MEMBER SINCE 1999, SCHENGEN AREA MEMBER SINCE 1995 AND MORE ABOUT THE NETHERLANDSâ€™ PARTICIPATION IN THE EU POLAND EU MEMBER COUNTRY SINCE 2004, SCHENGEN AREA MEMBER SINCE 2007 AND MORE ABOUT POLANDâ€™S PARTICIPATION IN THE EU PORTUGAL EU MEMBER COUNTRY SINCE 1986, EURO AREA MEMBER SINCE 1999, SCHENGEN AREA MEMBER SINCE 1995 AND MORE ABOUT PORTUGALâ€™S PARTICIPATION IN THE EU ROMANIA EU MEMBER COUNTRY SINCE 2007 AND MORE ABOUT ROMANIAâ€™S PARTICIPATION IN THE EU SLOVAKIA EU MEMBER COUNTRY SINCE 2004, EURO AREA MEMBER SINCE 2009, SCHENGEN AREA MEMBER SINCE 2007 AND MORE ABOUT SLOVAKIAâ€™S PARTICIPATION IN THE EU SLOVENIA EU MEMBER COUNTRY SINCE 2004, EURO AREA MEMBER SINCE 2007, SCHENGEN AREA MEMBER SINCE 2007 AND MORE ABOUT SLOVENIAâ€™S PARTICIPATION IN THE EU SPAIN EU MEMBER COUNTRY SINCE 1986, EURO AREA MEMBER SINCE 1999, SCHENGEN AREA MEMBER SINCE 1995 AND MORE ABOUT SPAINâ€™S PARTICIPATION IN THE EU SWEDEN EU MEMBER COUNTRY SINCE 1995, SCHENGEN AREA MEMBER SINCE 2001 AND MORE ABOUT SWEDENâ€™S PARTICIPATION IN THE EU"

In [218]:
# i need to get the intersection of countries

In [219]:
#movi
#come

read = set(result.split()) & set(come.split())

In [220]:
readd = list(read)

In [221]:
readd

['POLAND',
 'LUXEMBOURG',
 'SLOVAKIA',
 'GREECE',
 'ROMANIA',
 'LITHUANIA',
 'NETHERLANDS',
 'SPAIN',
 'CROATIA',
 'IRELAND',
 'LATVIA',
 'FRANCE',
 'CYPRUS',
 'ESTONIA',
 'HUNGARY',
 'PORTUGAL',
 'GERMANY',
 'SWEDEN',
 'FINLAND',
 'AUSTRIA',
 'BELGIUM',
 'ITALY',
 'SLOVENIA',
 'DENMARK']

In [222]:
i = len(readd)

In [223]:
matches = []

for match in list1:
    if readd[i-1] in match:
        matches.append(match)
        i-=1

In [224]:
type(matches)

list

In [225]:
i = len(readd)

In [226]:
i

24

In [227]:
readd[i-1]

'DENMARK'

In [419]:
type(df)

pandas.core.frame.DataFrame

In [228]:
df['country'] = df['country'].replace(readd,'Europe')

In [229]:
euro = df[df['country'] == 'Europe' ]
#i=df[df[â€˜Nameâ€™]==â€™Willâ€™]
#print(i)

In [230]:
df

,ID,country,age_group,travel_with,total_female,total_male,purpose,main_activity,info_source,tour_arrangement,...,package_transport_tz,package_sightseeing,package_guided_tour,package_insurance,night_mainland,night_zanzibar,payment_mode,first_trip_tz,most_impressing,total_cost
0,tour_0,SWIZERLAND,45-64,Friends/Relatives,1.0,1.0,Leisure and Holidays,Wildlife tourism,"Friends, relatives",Independent,...,No,No,No,No,13,0,Cash,No,Friendly People,674602.5
1,tour_10,UNITED KINGDOM,25-44,NaN,1.0,0.0,Leisure and Holidays,Cultural tourism,others,Independent,...,No,No,No,No,14,7,Cash,Yes,"Wonderful Country, Landscape, Nature",3214906.5
2,tour_1000,UNITED KINGDOM,25-44,Alone,0.0,1.0,Visiting Friends and Relatives,Cultural tourism,"Friends, relatives",Independent,...,No,No,No,No,1,31,Cash,No,Excellent Experience,3315000.0
3,tour_1002,UNITED KINGDOM,25-44,Spouse,1.0,1.0,Leisure and Holidays,Wildlife tourism,"Travel, agent, tour operator",Package Tour,...,Yes,Yes,Yes,No,11,0,Cash,Yes,Friendly People,7790250.0
4,tour_1004,CHINA,2022-01-24 00:00:00,NaN,1.0,0.0,Leisure and Holidays,Wildlife tourism,"Travel, agent, tour operator",Independent,...,No,No,No,No,7,4,Cash,Yes,No comments,1657500.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4804,tour_993,UAE,45-64,Alone,0.0,1.0,Business,Hunting tourism,"Friends, relatives",Independent,...,No,No,No,No,2,0,Credit Card,No,No comments,3315000.0
4805,tour_994,UNITED STATES OF AMERICA,25-44,Spouse,1.0,1.0,Leisure and Holidays,Wildlife tourism,"Travel, agent, tour operator",Package Tour,...,Yes,Yes,Yes,Yes,11,0,Cash,Yes,Friendly People,10690875.0
4806,tour_995,Europe,2022-01-24 00:00:00,NaN,1.0,0.0,Leisure and Holidays,Wildlife tourism,others,Independent,...,No,No,No,No,3,7,Cash,Yes,Good service,2246636.7
4807,tour_997,SOUTH AFRICA,25-44,Friends/Relatives,1.0,1.0,Business,Beach tourism,"Travel, agent, tour operator",Independent,...,No,No,No,No,5,0,Credit Card,No,Friendly People,1160250.0
4808,tour_999,UNITED KINGDOM,25-44,Spouse,1.0,1.0,Leisure and Holidays,Wildlife tourism,"Travel, agent, tour operator",Package Tour,...,Yes,Yes,Yes,No,4,7,Cash,Yes,Friendly People,13260000.0

In [232]:
df['country'].count

<bound method Series.count of 0                     SWIZERLAND
1                 UNITED KINGDOM
2                 UNITED KINGDOM
3                 UNITED KINGDOM
4                          CHINA
                  ...
4804                         UAE
4805    UNITED STATES OF AMERICA
4806                      Europe
4807                SOUTH AFRICA
4808              UNITED KINGDOM
Name: country, Length: 4809, dtype: object>