In [1259]:
import pandas as pd
import numpy as np
import time
from time import sleep

In [1260]:
df = pd.read_excel ("C:\\Users\\KOFI ADUKPO\\Desktop\\ML\\zindi.xlsx", index_col=0, parse_dates=True)
time.sleep(2)
#"C:\Users\Kofi\Downloads\Train.csv"
#C:\Users\Kofi\Desktop\Train.xlsx

In [1261]:
df.shape

(4809, 22)

In [1262]:
df.columns[df.isnull().any()]

Index(['travel_with', 'total_female', 'total_male', 'most_impressing'], dtype='object')

In [1263]:
for column in ['travel_with', 'total_female', 'total_male', 'most_impressing']:
    df[column].fillna(df[column].mode()[0], inplace=True)

In [1264]:
df.shape

(4809, 22)

In [1265]:
#df = df.dropna()

In [1266]:
df.head(3)

,country,age_group,travel_with,total_female,total_male,purpose,main_activity,info_source,tour_arrangement,package_transport_int,...,package_transport_tz,package_sightseeing,package_guided_tour,package_insurance,night_mainland,night_zanzibar,payment_mode,first_trip_tz,most_impressing,total_cost
ID,,,,,,,,,,,,,,,,,,,,,
tour_0,SWIZERLAND,45-64,Friends/Relatives,1.0,1.0,Leisure and Holidays,Wildlife tourism,"Friends, relatives",Independent,No,...,No,No,No,No,13,0,Cash,No,Friendly People,674602.5
tour_10,UNITED KINGDOM,25-44,Alone,1.0,0.0,Leisure and Holidays,Cultural tourism,others,Independent,No,...,No,No,No,No,14,7,Cash,Yes,"Wonderful Country, Landscape, Nature",3214906.5
tour_1000,UNITED KINGDOM,25-44,Alone,0.0,1.0,Visiting Friends and Relatives,Cultural tourism,"Friends, relatives",Independent,No,...,No,No,No,No,1,31,Cash,No,Excellent Experience,3315000.0

In [1267]:
ctry = df['country']

In [1268]:
type(ctry)

pandas.core.series.Series

In [1269]:
ctry.describe()

count                         4809
unique                         105
top       UNITED STATES OF AMERICA
freq                           695
Name: country, dtype: object

In [1270]:
unique, counts = np.unique(ctry, return_counts=True)

In [1271]:
ctrys = np.asarray((unique, counts)).T

In [1272]:
import time
from time import sleep
from selenium import webdriver
from selenium.webdriver.common.keys import Keys
from webdriver_manager.chrome import ChromeDriverManager
driver = webdriver.Chrome(ChromeDriverManager().install())

[WDM] - ====== WebDriver manager ======

[WDM] - Current google-chrome version is 101.0.4951
[WDM] - Get LATEST chromedriver version for 101.0.4951 google-chrome
[WDM] - Driver [C:\Users\KOFI ADUKPO\.wdm\drivers\chromedriver\win32\101.0.4951.41\chromedriver.exe] found in cache
C:\Users\KOFI ADUKPO\AppData\Local\Temp\ipykernel_4848\2674708284.py:6: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = webdriver.Chrome(ChromeDriverManager().install())

In [1273]:
driver.get("https://au.int/en/member_states/countryprofiles2")  
time.sleep(15)

In [1274]:
driver.maximize_window()

In [1275]:
i = driver.find_element_by_xpath("(//tbody)[1]")

C:\Users\KOFI ADUKPO\AppData\Local\Temp\ipykernel_4848\1135680224.py:1: DeprecationWarning: find_element_by_xpath is deprecated. Please use find_element(by=By.XPATH, value=xpath) instead
  i = driver.find_element_by_xpath("(//tbody)[1]")

In [1276]:
text = i.text
#(//tbody)[1]

In [1277]:
type(text)

str

In [1278]:
rep = text.replace("\n", ". ")

In [1279]:
import re
expression = re.compile(r'([A-Z][^\.!?]*[\.!?])')
new_list = re.findall(expression, rep)

In [1280]:
new_list

['Member State  Abbreviation Date of joining.',
 'OAU or AU.',
 'Republic of Burundi  Burundi 25 May 1963.',
 'Republic of Cameroon  Cameroon 25 May 1963.',
 'Central African Republic  Central African Republic 25 May 1963 .',
 'Republic of Chad  Chad 25 May 1963.',
 'Republic of the Congo  Congo Republic 25 May 1963.',
 'Democratic Republic of Congo  DR Congo 25 May 1963.',
 'Republic of Equatorial Guinea  Equatorial Guinea 12 October 1968.',
 'Gabonese Republic  Gabon 25 May 1963.']

In [1281]:
converted_list = [x.upper() for x in new_list]

In [1282]:
converted_list

['MEMBER STATE  ABBREVIATION DATE OF JOINING.',
 'OAU OR AU.',
 'REPUBLIC OF BURUNDI  BURUNDI 25 MAY 1963.',
 'REPUBLIC OF CAMEROON  CAMEROON 25 MAY 1963.',
 'CENTRAL AFRICAN REPUBLIC  CENTRAL AFRICAN REPUBLIC 25 MAY 1963 .',
 'REPUBLIC OF CHAD  CHAD 25 MAY 1963.',
 'REPUBLIC OF THE CONGO  CONGO REPUBLIC 25 MAY 1963.',
 'DEMOCRATIC REPUBLIC OF CONGO  DR CONGO 25 MAY 1963.',
 'REPUBLIC OF EQUATORIAL GUINEA  EQUATORIAL GUINEA 12 OCTOBER 1968.',
 'GABONESE REPUBLIC  GABON 25 MAY 1963.']

In [1283]:
list1 = ctrys.tolist()

In [1284]:
list1

[['ALGERIA', 2],
 ['ANGOLA', 1],
 ['ARGENTINA', 1],
 ['AUSTRALIA', 186],
 ['AUSTRIA', 18],
 ['BELGIUM', 49],
 ['BERMUDA', 1],
 ['BRAZIL', 10],
 ['BURGARIA', 2],
 ['BURUNDI', 64],
 ['CANADA', 114],
 ['CAPE VERDE', 1],
 ['CHILE', 2],
 ['CHINA', 65],
 ['COLOMBIA', 3],
 ['COMORO', 1],
 ['CONGO', 11],
 ['COSTARICA', 1],
 ['CROATIA', 2],
 ['CYPRUS', 1],
 ['CZECH REPUBLIC', 11],
 ['DENMARK', 41],
 ['DJIBOUT', 3],
 ['DOMINICA', 1],
 ['DRC', 30],
 ['EGYPT', 10],
 ['ESTONIA', 1],
 ['ETHIOPIA', 6],
 ['FINLAND', 8],
 ['FRANCE', 280],
 ['GEORGIA', 1],
 ['GERMANY', 223],
 ['GHANA', 2],
 ['GREECE', 7],
 ['HUNGARY', 2],
 ['INDIA', 87],
 ['INDONESIA', 3],
 ['IRAN', 2],
 ['IRAQ', 1],
 ['IRELAND', 29],
 ['ISRAEL', 16],
 ['ITALY', 393],
 ['IVORY COAST', 1],
 ['JAPAN', 53],
 ['KENYA', 235],
 ['KOREA', 12],
 ['KUWAIT', 2],
 ['LATVIA', 2],
 ['LEBANON', 3],
 ['LESOTHO', 1],
 ['LITHUANIA', 4],
 ['LUXEMBOURG', 2],
 ['MADAGASCAR', 1],
 ['MALAWI', 20],
 ['MALAYSIA', 23],
 ['MALT', 3],
 ['MAURITIUS', 2],
 ['MEXICO', 2],
 ['MONTENEGRO', 1],
 ['MORROCO', 1],
 ['MOZAMBIQUE', 8],
 ['MYANMAR', 1],
 ['NAMIBIA', 2],
 ['NEPAL', 2],
 ['NETHERLANDS', 112],
 ['NEW ZEALAND', 18],
 ['NIGER', 1],
 ['NIGERIA', 4],
 ['NORWAY', 21],
 ['OMAN', 35],
 ['PAKISTAN', 6],
 ['PHILIPINES', 2],
 ['POLAND', 16],
 ['PORTUGAL', 10],
 ['QATAR', 8],
 ['ROMANIA', 2],
 ['RUSSIA', 8],
 ['RWANDA', 40],
 ['SCOTLAND', 4],
 ['SERBIA', 6],
 ['SINGAPORE', 7],
 ['SLOVAKIA', 2],
 ['SLOVENIA', 1],
 ['SOUTH AFRICA', 235],
 ['SPAIN', 165],
 ['SRI LANKA', 3],
 ['SUDAN', 4],
 ['SWAZILAND', 4],
 ['SWEDEN', 37],
 ['SWIZERLAND', 64],
 ['TAIWAN', 9],
 ['THAILAND', 2],
 ['TRINIDAD TOBACCO', 1],
 ['TUNISIA', 1],
 ['TURKEY', 5],
 ['UAE', 33],
 ['UGANDA', 159],
 ['UKRAIN', 2],
 ['UNITED ARAB EMIRATES', 13],
 ['UNITED KINGDOM', 533],
 ['UNITED STATES OF AMERICA', 695],
 ['URUGUAY', 1],
 ['YEMEN', 2],
 ['ZAMBIA', 191],
 ['ZIMBABWE', 274]]

In [1285]:
type(list1)

list

In [1286]:
li = str(list1)

In [1287]:
co = str(converted_list)

In [1288]:
from itertools import chain

In [1289]:
check = ' '.join(str(v) for v in list1)

In [1290]:
m = check.replace("[", "")
mo = m.replace("]", "")
mov = mo.replace("'", "")
move = mov.replace(".", "")
movi = move.replace(",", "")

In [1291]:
type(movi)

str

In [1292]:
movi

'ALGERIA 2 ANGOLA 1 ARGENTINA 1 AUSTRALIA 186 AUSTRIA 18 BELGIUM 49 BERMUDA 1 BRAZIL 10 BURGARIA 2 BURUNDI 64 CANADA 114 CAPE VERDE 1 CHILE 2 CHINA 65 COLOMBIA 3 COMORO 1 CONGO 11 COSTARICA 1 CROATIA 2 CYPRUS 1 CZECH REPUBLIC 11 DENMARK 41 DJIBOUT 3 DOMINICA 1 DRC 30 EGYPT 10 ESTONIA 1 ETHIOPIA 6 FINLAND 8 FRANCE 280 GEORGIA 1 GERMANY 223 GHANA 2 GREECE 7 HUNGARY 2 INDIA 87 INDONESIA 3 IRAN 2 IRAQ 1 IRELAND 29 ISRAEL 16 ITALY 393 IVORY COAST 1 JAPAN 53 KENYA 235 KOREA 12 KUWAIT 2 LATVIA 2 LEBANON 3 LESOTHO 1 LITHUANIA 4 LUXEMBOURG 2 MADAGASCAR 1 MALAWI 20 MALAYSIA 23 MALT 3 MAURITIUS 2 MEXICO 2 MONTENEGRO 1 MORROCO 1 MOZAMBIQUE 8 MYANMAR 1 NAMIBIA 2 NEPAL 2 NETHERLANDS 112 NEW ZEALAND 18 NIGER 1 NIGERIA 4 NORWAY 21 OMAN 35 PAKISTAN 6 PHILIPINES 2 POLAND 16 PORTUGAL 10 QATAR 8 ROMANIA 2 RUSSIA 8 RWANDA 40 SCOTLAND 4 SERBIA 6 SINGAPORE 7 SLOVAKIA 2 SLOVENIA 1 SOUTH AFRICA 235 SPAIN 165 SRI LANKA 3 SUDAN 4 SWAZILAND 4 SWEDEN 37 SWIZERLAND 64 TAIWAN 9 THAILAND 2 TRINIDAD TOBACCO 1 TUNISIA 1 TURKEY 5 UAE 33 UGANDA 159 UKRAIN 2 UNITED ARAB EMIRATES 13 UNITED KINGDOM 533 UNITED STATES OF AMERICA 695 URUGUAY 1 YEMEN 2 ZAMBIA 191 ZIMBABWE 274'

In [1293]:

result = ''.join([i for i in movi if not i.isdigit()])
result

'ALGERIA  ANGOLA  ARGENTINA  AUSTRALIA  AUSTRIA  BELGIUM  BERMUDA  BRAZIL  BURGARIA  BURUNDI  CANADA  CAPE VERDE  CHILE  CHINA  COLOMBIA  COMORO  CONGO  COSTARICA  CROATIA  CYPRUS  CZECH REPUBLIC  DENMARK  DJIBOUT  DOMINICA  DRC  EGYPT  ESTONIA  ETHIOPIA  FINLAND  FRANCE  GEORGIA  GERMANY  GHANA  GREECE  HUNGARY  INDIA  INDONESIA  IRAN  IRAQ  IRELAND  ISRAEL  ITALY  IVORY COAST  JAPAN  KENYA  KOREA  KUWAIT  LATVIA  LEBANON  LESOTHO  LITHUANIA  LUXEMBOURG  MADAGASCAR  MALAWI  MALAYSIA  MALT  MAURITIUS  MEXICO  MONTENEGRO  MORROCO  MOZAMBIQUE  MYANMAR  NAMIBIA  NEPAL  NETHERLANDS  NEW ZEALAND  NIGER  NIGERIA  NORWAY  OMAN  PAKISTAN  PHILIPINES  POLAND  PORTUGAL  QATAR  ROMANIA  RUSSIA  RWANDA  SCOTLAND  SERBIA  SINGAPORE  SLOVAKIA  SLOVENIA  SOUTH AFRICA  SPAIN  SRI LANKA  SUDAN  SWAZILAND  SWEDEN  SWIZERLAND  TAIWAN  THAILAND  TRINIDAD TOBACCO  TUNISIA  TURKEY  UAE  UGANDA  UKRAIN  UNITED ARAB EMIRATES  UNITED KINGDOM  UNITED STATES OF AMERICA  URUGUAY  YEMEN  ZAMBIA  ZIMBABWE '

In [1294]:
converted_list

['MEMBER STATE  ABBREVIATION DATE OF JOINING.',
 'OAU OR AU.',
 'REPUBLIC OF BURUNDI  BURUNDI 25 MAY 1963.',
 'REPUBLIC OF CAMEROON  CAMEROON 25 MAY 1963.',
 'CENTRAL AFRICAN REPUBLIC  CENTRAL AFRICAN REPUBLIC 25 MAY 1963 .',
 'REPUBLIC OF CHAD  CHAD 25 MAY 1963.',
 'REPUBLIC OF THE CONGO  CONGO REPUBLIC 25 MAY 1963.',
 'DEMOCRATIC REPUBLIC OF CONGO  DR CONGO 25 MAY 1963.',
 'REPUBLIC OF EQUATORIAL GUINEA  EQUATORIAL GUINEA 12 OCTOBER 1968.',
 'GABONESE REPUBLIC  GABON 25 MAY 1963.']

In [1295]:
coming = ' '.join(str(v) for v in converted_list)

In [1296]:
coming

'MEMBER STATE  ABBREVIATION DATE OF JOINING. OAU OR AU. REPUBLIC OF BURUNDI  BURUNDI 25 MAY 1963. REPUBLIC OF CAMEROON  CAMEROON 25 MAY 1963. CENTRAL AFRICAN REPUBLIC  CENTRAL AFRICAN REPUBLIC 25 MAY 1963 . REPUBLIC OF CHAD  CHAD 25 MAY 1963. REPUBLIC OF THE CONGO  CONGO REPUBLIC 25 MAY 1963. DEMOCRATIC REPUBLIC OF CONGO  DR CONGO 25 MAY 1963. REPUBLIC OF EQUATORIAL GUINEA  EQUATORIAL GUINEA 12 OCTOBER 1968. GABONESE REPUBLIC  GABON 25 MAY 1963.'

In [1297]:
come = coming.replace(".", "")
com = come.replace("REPUBLIC", "")
come= com.replace("OF", "")

In [1298]:
come

'MEMBER STATE  ABBREVIATION DATE  JOINING OAU OR AU   BURUNDI  BURUNDI 25 MAY 1963   CAMEROON  CAMEROON 25 MAY 1963 CENTRAL AFRICAN   CENTRAL AFRICAN  25 MAY 1963    CHAD  CHAD 25 MAY 1963   THE CONGO  CONGO  25 MAY 1963 DEMOCRATIC   CONGO  DR CONGO 25 MAY 1963   EQUATORIAL GUINEA  EQUATORIAL GUINEA 12 OCTOBER 1968 GABONESE   GABON 25 MAY 1963'

In [1299]:
# i need to get the intersection of countries

## Central Africa

In [1300]:
#movi
#come

read = set(result.split()) & set(come.split())

In [1301]:
readd = list(read)

In [1302]:
type(read)

set

In [1303]:
readd.append("DRC")

In [1304]:
readd

['CONGO', 'BURUNDI', 'DRC']

In [1305]:
matches = []
i = len(read)
for match in list1:
    if readd[i-2] in match:
        matches.append(match)
        i-=1

In [1306]:
matches

[['CONGO', 11], ['DRC', 30]]

In [1307]:
type(matches)

list

In [1308]:
readd[i-2]

'BURUNDI'

In [1309]:
type(df)

pandas.core.frame.DataFrame

In [1310]:
df['upcountry'] = list(df['country'])

In [1311]:
df.upcountry.replace(readd, 'Central Africa', inplace=True)

In [1312]:
cen = df['upcountry'] == 'Central Africa' 
#i=df[df[â€˜Nameâ€™]==â€™Willâ€™]
#print(i)

In [1313]:
cen.value_counts()

False    4704
True      105
Name: upcountry, dtype: int64

## Eastern africa

In [1314]:
i = driver.find_element_by_xpath("(//tbody)[2]")

C:\Users\KOFI ADUKPO\AppData\Local\Temp\ipykernel_4848\2948023138.py:1: DeprecationWarning: find_element_by_xpath is deprecated. Please use find_element(by=By.XPATH, value=xpath) instead
  i = driver.find_element_by_xpath("(//tbody)[2]")

In [1315]:
text = i.text
#(//tbody)[1]

In [1316]:
type(text)

str

In [1317]:
rep = text.replace("\n", ". ")

In [1318]:
import re
expression = re.compile(r'([A-Z][^\.!?]*[\.!?])')
new_list = re.findall(expression, rep)

In [1319]:
new_list

['Member State  Abbreviation  Date of joining.',
 'OAU or AU.',
 'Union of the Comoros   Comoros 18 July 1975.',
 'Republic of Djibouti   Djibouti 27 June 1977.',
 'State of Eritrea   Eritrea 24 May 1993.',
 'Federal Democratic Republic of Ethiopia  Ethiopia 25 May 1963.',
 'Republic of Kenya  Kenya 25 May 1963.',
 'Republic of Madagascar  Madagascar 25 May 1963.',
 'Republic of Mauritius   Mauritius August 1968.',
 'Republic of Rwanda  Rwanda 25 May 1963.',
 'Republic of Seychelles   Seychelles 29 June 1976.',
 'Federal Republic of Somalia  Somalia 25 May 1963.',
 'Republic of South Sudan  South Sudan 27 July 2011.',
 'Republic of the Sudan  Sudan 25 May 1963.',
 'United Republic of Tanzania  Tanzania 25 May 1963.']

In [1320]:
converted_list = [x.upper() for x in new_list]

In [1321]:
converted_list

['MEMBER STATE  ABBREVIATION  DATE OF JOINING.',
 'OAU OR AU.',
 'UNION OF THE COMOROS   COMOROS 18 JULY 1975.',
 'REPUBLIC OF DJIBOUTI   DJIBOUTI 27 JUNE 1977.',
 'STATE OF ERITREA   ERITREA 24 MAY 1993.',
 'FEDERAL DEMOCRATIC REPUBLIC OF ETHIOPIA  ETHIOPIA 25 MAY 1963.',
 'REPUBLIC OF KENYA  KENYA 25 MAY 1963.',
 'REPUBLIC OF MADAGASCAR  MADAGASCAR 25 MAY 1963.',
 'REPUBLIC OF MAURITIUS   MAURITIUS AUGUST 1968.',
 'REPUBLIC OF RWANDA  RWANDA 25 MAY 1963.',
 'REPUBLIC OF SEYCHELLES   SEYCHELLES 29 JUNE 1976.',
 'FEDERAL REPUBLIC OF SOMALIA  SOMALIA 25 MAY 1963.',
 'REPUBLIC OF SOUTH SUDAN  SOUTH SUDAN 27 JULY 2011.',
 'REPUBLIC OF THE SUDAN  SUDAN 25 MAY 1963.',
 'UNITED REPUBLIC OF TANZANIA  TANZANIA 25 MAY 1963.']

In [1322]:
co = str(converted_list)

In [1323]:
from itertools import chain

In [1324]:
coming = ' '.join(str(v) for v in converted_list)

In [1325]:
coming

'MEMBER STATE  ABBREVIATION  DATE OF JOINING. OAU OR AU. UNION OF THE COMOROS   COMOROS 18 JULY 1975. REPUBLIC OF DJIBOUTI   DJIBOUTI 27 JUNE 1977. STATE OF ERITREA   ERITREA 24 MAY 1993. FEDERAL DEMOCRATIC REPUBLIC OF ETHIOPIA  ETHIOPIA 25 MAY 1963. REPUBLIC OF KENYA  KENYA 25 MAY 1963. REPUBLIC OF MADAGASCAR  MADAGASCAR 25 MAY 1963. REPUBLIC OF MAURITIUS   MAURITIUS AUGUST 1968. REPUBLIC OF RWANDA  RWANDA 25 MAY 1963. REPUBLIC OF SEYCHELLES   SEYCHELLES 29 JUNE 1976. FEDERAL REPUBLIC OF SOMALIA  SOMALIA 25 MAY 1963. REPUBLIC OF SOUTH SUDAN  SOUTH SUDAN 27 JULY 2011. REPUBLIC OF THE SUDAN  SUDAN 25 MAY 1963. UNITED REPUBLIC OF TANZANIA  TANZANIA 25 MAY 1963.'

In [1326]:
come = coming.replace(".", "")
com = come.replace("REPUBLIC", "")
come= com.replace("OF", "")

In [1327]:
come

'MEMBER STATE  ABBREVIATION  DATE  JOINING OAU OR AU UNION  THE COMOROS   COMOROS 18 JULY 1975   DJIBOUTI   DJIBOUTI 27 JUNE 1977 STATE  ERITREA   ERITREA 24 MAY 1993 FEDERAL DEMOCRATIC   ETHIOPIA  ETHIOPIA 25 MAY 1963   KENYA  KENYA 25 MAY 1963   MADAGASCAR  MADAGASCAR 25 MAY 1963   MAURITIUS   MAURITIUS AUGUST 1968   RWANDA  RWANDA 25 MAY 1963   SEYCHELLES   SEYCHELLES 29 JUNE 1976 FEDERAL   SOMALIA  SOMALIA 25 MAY 1963   SOUTH SUDAN  SOUTH SUDAN 27 JULY 2011   THE SUDAN  SUDAN 25 MAY 1963 UNITED   TANZANIA  TANZANIA 25 MAY 1963'

In [1328]:
# i need to get the intersection of countries

In [1329]:
#movi
#come

read = set(result.split()) & set(come.split())

In [1330]:
readd = list(read)

In [1331]:
readd.append("UGANDA")
readd.append("DJIBOUT")
readd.append("COMORO")
readd.append("BURUNDI")

In [1332]:
readd

['KENYA',
 'SOUTH',
 'UNITED',
 'RWANDA',
 'SUDAN',
 'MAURITIUS',
 'MADAGASCAR',
 'ETHIOPIA',
 'UGANDA',
 'DJIBOUT',
 'COMORO',
 'BURUNDI']

In [1333]:
i = len(readd)

In [1334]:
matches = []

for match in list1:
    if readd[i-1] in match:
        matches.append(match)
        i-=1

In [1335]:
type(matches)

list

In [1336]:
i = len(readd)

In [1337]:
i

12

In [1338]:
readd[i-1]

'BURUNDI'

In [1339]:
type(df)

pandas.core.frame.DataFrame

In [1340]:
df.upcountry.replace(readd, 'East Africa', inplace=True)

In [1341]:
east = df[df['upcountry'] == 'East Africa' ]
#i=df[df[â€˜Nameâ€™]==â€™Willâ€™]
#print(i)

In [1342]:
east

,country,age_group,travel_with,total_female,total_male,purpose,main_activity,info_source,tour_arrangement,package_transport_int,...,package_sightseeing,package_guided_tour,package_insurance,night_mainland,night_zanzibar,payment_mode,first_trip_tz,most_impressing,total_cost,upcountry
ID,,,,,,,,,,,,,,,,,,,,,
tour_102,RWANDA,65+,Alone,1.0,0.0,Leisure and Holidays,Beach tourism,"Friends, relatives",Independent,No,...,No,No,No,0,2,Cash,Yes,"Wonderful Country, Landscape, Nature",331500.0,East Africa
tour_1026,KENYA,25-44,Alone,1.0,0.0,Business,Mountain climbing,"Friends, relatives",Independent,No,...,No,No,No,4,0,Cash,No,Friendly People,377520.0,East Africa
tour_1028,KENYA,45-64,Alone,0.0,1.0,Business,Wildlife tourism,"Friends, relatives",Independent,No,...,No,No,No,4,0,Cash,Yes,No comments,497250.0,East Africa
tour_1045,KENYA,45-64,Alone,1.0,0.0,Scientific and Academic,Mountain climbing,inflight magazines,Package Tour,Yes,...,No,No,No,5,0,Credit Card,No,Wildlife,3812250.0,East Africa
tour_1060,UGANDA,25-44,Spouse and Children,2.0,1.0,Meetings and Conference,Beach tourism,"Friends, relatives",Independent,No,...,No,No,No,12,5,Cash,No,Friendly People,1000000.0,East Africa
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
tour_922,KENYA,25-44,Alone,1.0,0.0,Business,Wildlife tourism,others,Independent,No,...,No,No,No,2,0,Cash,No,Friendly People,1657500.0,East Africa
tour_951,KENYA,25-44,Spouse and Children,4.0,3.0,Leisure and Holidays,Beach tourism,"Travel, agent, tour operator",Independent,No,...,No,No,No,7,0,Credit Card,Yes,Good service,502000.0,East Africa
tour_956,RWANDA,2024-01-01 00:00:00,Alone,1.0,0.0,Visiting Friends and Relatives,Beach tourism,Trade fair,Independent,No,...,No,No,No,3,0,Cash,Yes,No comments,165750.0,East Africa
tour_975,KENYA,25-44,Alone,0.0,1.0,Meetings and Conference,Wildlife tourism,"Friends, relatives",Package Tour,Yes,...,No,No,No,6,0,Cash,No,Friendly People,1657500.0,East Africa
tour_99,KENYA,45-64,Friends/Relatives,2.0,2.0,Leisure and Holidays,Wildlife tourism,"Travel, agent, tour operator",Independent,No,...,No,No,No,10,5,Cash,Yes,No comments,6464250.0,East Africa

## Northern Africa

In [1343]:
i = driver.find_element_by_xpath("(//tbody)[3]")

C:\Users\KOFI ADUKPO\AppData\Local\Temp\ipykernel_4848\3376065246.py:1: DeprecationWarning: find_element_by_xpath is deprecated. Please use find_element(by=By.XPATH, value=xpath) instead
  i = driver.find_element_by_xpath("(//tbody)[3]")

In [1344]:
text = i.text
#(//tbody)[1]

In [1345]:
type(text)

str

In [1346]:
rep = text.replace("\n", ". ")

In [1347]:
import re
expression = re.compile(r'([A-Z][^\.!?]*[\.!?])')
new_list = re.findall(expression, rep)

In [1348]:
new_list

['Member State  Abbreviation Date of joining.',
 'OAU or AU.',
 'Peopleâ€™s Democratic Republic of Algeria Algeria 25 May 1963.',
 'Arab Republic of Egypt Egypt 25 May 1963.',
 'Libya Libya 25 May 1963.',
 'Islamic Republic of Mauritania Mauritania 25 May 1963.',
 'Kingdom of Morocco Morocco 1963/31 January 2017.',
 'Sahrawi Arab Democratic Republic Sahrawi Republic 22 February 1982.']

In [1349]:
converted_list = [x.upper() for x in new_list]

In [1350]:
converted_list

['MEMBER STATE  ABBREVIATION DATE OF JOINING.',
 'OAU OR AU.',
 'PEOPLEâ€™S DEMOCRATIC REPUBLIC OF ALGERIA ALGERIA 25 MAY 1963.',
 'ARAB REPUBLIC OF EGYPT EGYPT 25 MAY 1963.',
 'LIBYA LIBYA 25 MAY 1963.',
 'ISLAMIC REPUBLIC OF MAURITANIA MAURITANIA 25 MAY 1963.',
 'KINGDOM OF MOROCCO MOROCCO 1963/31 JANUARY 2017.',
 'SAHRAWI ARAB DEMOCRATIC REPUBLIC SAHRAWI REPUBLIC 22 FEBRUARY 1982.']

In [1351]:
co = str(converted_list)

In [1352]:
from itertools import chain

In [1353]:
coming = ' '.join(str(v) for v in converted_list)

In [1354]:
coming

'MEMBER STATE  ABBREVIATION DATE OF JOINING. OAU OR AU. PEOPLEâ€™S DEMOCRATIC REPUBLIC OF ALGERIA ALGERIA 25 MAY 1963. ARAB REPUBLIC OF EGYPT EGYPT 25 MAY 1963. LIBYA LIBYA 25 MAY 1963. ISLAMIC REPUBLIC OF MAURITANIA MAURITANIA 25 MAY 1963. KINGDOM OF MOROCCO MOROCCO 1963/31 JANUARY 2017. SAHRAWI ARAB DEMOCRATIC REPUBLIC SAHRAWI REPUBLIC 22 FEBRUARY 1982.'

In [1355]:
come = coming.replace(".", "")
com = come.replace("REPUBLIC", "")
come= com.replace("OF", "")

In [1356]:
come

'MEMBER STATE  ABBREVIATION DATE  JOINING OAU OR AU PEOPLEâ€™S DEMOCRATIC   ALGERIA ALGERIA 25 MAY 1963 ARAB   EGYPT EGYPT 25 MAY 1963 LIBYA LIBYA 25 MAY 1963 ISLAMIC   MAURITANIA MAURITANIA 25 MAY 1963 KINGDOM  MOROCCO MOROCCO 1963/31 JANUARY 2017 SAHRAWI ARAB DEMOCRATIC  SAHRAWI  22 FEBRUARY 1982'

In [1357]:
# i need to get the intersection of countries

In [1358]:
#movi
#come

read = set(result.split()) & set(come.split())

In [1359]:
readd = list(read)

In [1360]:
readd.append("SWAZILAND")
readd.append("TUNISIA")
readd.append("MORROCO")

In [1361]:
readd

['ALGERIA', 'KINGDOM', 'EGYPT', 'ARAB', 'SWAZILAND', 'TUNISIA', 'MORROCO']

In [1362]:
i = len(readd)

In [1363]:
matches = []

for match in list1:
    if readd[i-1] in match:
        matches.append(match)
        i-=1

In [1364]:
type(matches)

list

In [1365]:
i = len(readd)

In [1366]:
i

7

In [1367]:
readd[i-1]

'MORROCO'

In [1368]:
type(df)

pandas.core.frame.DataFrame

In [1369]:
df.upcountry.replace(readd, 'North Africa', inplace=True)

In [1370]:
north = df[df['upcountry'] == 'North Africa' ]
#i=df[df[â€˜Nameâ€™]==â€™Willâ€™]
#print(i)

In [1371]:
north

,country,age_group,travel_with,total_female,total_male,purpose,main_activity,info_source,tour_arrangement,package_transport_int,...,package_sightseeing,package_guided_tour,package_insurance,night_mainland,night_zanzibar,payment_mode,first_trip_tz,most_impressing,total_cost,upcountry
ID,,,,,,,,,,,,,,,,,,,,,
tour_103,ALGERIA,25-44,Spouse,1.0,1.0,Leisure and Holidays,Beach tourism,"Radio, TV, Web",Independent,No,...,No,No,No,0,11,Cash,Yes,Wildlife,3734347.5,North Africa
tour_1040,EGYPT,2024-01-01 00:00:00,Alone,0.0,1.0,Visiting Friends and Relatives,Bird watching,"Travel, agent, tour operator",Package Tour,Yes,...,No,No,No,2,0,Cash,Yes,No comments,2320500.0,North Africa
tour_1305,EGYPT,45-64,Alone,0.0,1.0,Leisure and Holidays,Wildlife tourism,Tanzania Mission Abroad,Independent,No,...,No,No,No,4,0,Cash,No,No comments,994500.0,North Africa
tour_1360,SWAZILAND,25-44,Alone,0.0,1.0,Leisure and Holidays,Beach tourism,"Travel, agent, tour operator",Independent,No,...,No,No,No,12,3,Cash,Yes,"Wonderful Country, Landscape, Nature",15912000.0,North Africa
tour_1369,TUNISIA,25-44,Alone,0.0,1.0,Business,Beach tourism,"Friends, relatives",Package Tour,Yes,...,No,No,No,36,0,Cash,No,Good service,15746250.0,North Africa
tour_1601,EGYPT,25-44,Alone,1.0,0.0,Leisure and Holidays,Wildlife tourism,"Friends, relatives",Independent,No,...,No,No,No,7,7,Cash,Yes,No comments,4143750.0,North Africa
tour_1681,ALGERIA,25-44,Friends/Relatives,5.0,0.0,Visiting Friends and Relatives,Wildlife tourism,"Friends, relatives",Independent,No,...,No,No,No,15,10,Cash,No,"Wonderful Country, Landscape, Nature",828750.0,North Africa
tour_194,EGYPT,25-44,Alone,1.0,0.0,Visiting Friends and Relatives,Beach tourism,"Friends, relatives",Independent,No,...,No,No,No,1,0,Cash,Yes,Friendly People,3315000.0,North Africa
tour_195,EGYPT,25-44,Alone,1.0,1.0,Leisure and Holidays,Wildlife tourism,"Newspaper, magazines,brochures",Independent,No,...,No,No,No,23,3,Cash,Yes,Wildlife,5304000.0,North Africa
tour_2266,EGYPT,25-44,Friends/Relatives,0.0,2.0,Leisure and Holidays,Conference tourism,"Travel, agent, tour operator",Package Tour,No,...,Yes,Yes,No,14,0,Cash,Yes,Good service,10856625.0,North Africa
tour_2718,EGYPT,25-44,Spouse,2.0,0.0,Meetings and Conference,Conference tourism,"Friends, relatives",Package Tour,Yes,...,No,Yes,No,10,0,Cash,No,"Wonderful Country, Landscape, Nature",3978000.0,North Africa
tour_2856,SWAZILAND,25-44,Spouse,1.0,1.0,Leisure and Holidays,Wildlife tourism,"Travel, agent, tour operator",Package Tour,Yes,...,No,No,No,7,6,Cash,Yes,No comments,828750.0,North Africa
tour_2938,SWAZILAND,2024-01-01 00:00:00,Friends/Relatives,1.0,1.0,Leisure and Holidays,Wildlife tourism,others,Independent,No,...,No,No,No,14,0,Cash,Yes,"Wonderful Country, Landscape, Nature",4889625.0,North Africa
tour_3482,EGYPT,25-44,Alone,0.0,1.0,Leisure and Holidays,Conference tourism,"Travel, agent, tour operator",Independent,No,...,No,No,No,14,0,Cash,Yes,"Wonderful Country, Landscape, Nature",4143750.0,North Africa
tour_4473,EGYPT,25-44,Spouse,1.0,1.0,Leisure and Holidays,Beach tourism,"Friends, relatives",Independent,No,...,No,No,No,0,6,Cash,Yes,"Wonderful Country, Landscape, Nature",3315000.0,North Africa
tour_5565,MORROCO,25-44,Spouse,1.0,1.0,Leisure and Holidays,Wildlife tourism,"Travel, agent, tour operator",Package Tour,No,...,Yes,Yes,No,5,5,Cash,Yes,Wildlife,1491750.0,North Africa
tour_847,SWAZILAND,25-44,Alone,0.0,1.0,Meetings and Conference,Bird watching,"Travel, agent, tour operator",Independent,No,...,No,No,No,6,0,Cash,No,Good service,1657500.0,North Africa
tour_928,EGYPT,25-44,Alone,1.0,0.0,Leisure and Holidays,Wildlife tourism,"Friends, relatives",Independent,No,...,No,No,No,5,5,Cash,Yes,Excellent Experience,1657500.0,North Africa

## Southern Africa

In [1372]:
i = driver.find_element_by_xpath("(//tbody)[4]")

C:\Users\KOFI ADUKPO\AppData\Local\Temp\ipykernel_4848\954712956.py:1: DeprecationWarning: find_element_by_xpath is deprecated. Please use find_element(by=By.XPATH, value=xpath) instead
  i = driver.find_element_by_xpath("(//tbody)[4]")

In [1373]:
text = i.text
#(//tbody)[1]

In [1374]:
type(text)

str

In [1375]:
rep = text.replace("\n", ". ")

In [1376]:
import re
expression = re.compile(r'([A-Z][^\.!?]*[\.!?])')
new_list = re.findall(expression, rep)

In [1377]:
new_list

['Member State  Abbreviation Date of joining.',
 'OAU or AU.',
 'Republic of Angola   Angola 11 February 1975.',
 'Republic of Botswana   Botswana 31 October 1966.',
 'Kingdom of Eswatini   Eswatini 24 September 1968.',
 'Kingdom of Lesotho   Lesotho 31 October 1966.',
 'Republic of Malawi   Malawi 13 July 1964.',
 'Republic of Mozambique   Mozambique 18 July 1975.',
 'Republic of Namibia   Namibia June 1990.',
 'Republic of South Africa  South Africa 6 June 1994.',
 'Republic of Zambia   Zambia 16 December 1964.']

In [1378]:
converted_list = [x.upper() for x in new_list]

In [1379]:
converted_list

['MEMBER STATE  ABBREVIATION DATE OF JOINING.',
 'OAU OR AU.',
 'REPUBLIC OF ANGOLA   ANGOLA 11 FEBRUARY 1975.',
 'REPUBLIC OF BOTSWANA   BOTSWANA 31 OCTOBER 1966.',
 'KINGDOM OF ESWATINI   ESWATINI 24 SEPTEMBER 1968.',
 'KINGDOM OF LESOTHO   LESOTHO 31 OCTOBER 1966.',
 'REPUBLIC OF MALAWI   MALAWI 13 JULY 1964.',
 'REPUBLIC OF MOZAMBIQUE   MOZAMBIQUE 18 JULY 1975.',
 'REPUBLIC OF NAMIBIA   NAMIBIA JUNE 1990.',
 'REPUBLIC OF SOUTH AFRICA  SOUTH AFRICA 6 JUNE 1994.',
 'REPUBLIC OF ZAMBIA   ZAMBIA 16 DECEMBER 1964.']

In [1380]:
co = str(converted_list)

In [1381]:
from itertools import chain

In [1382]:
coming = ' '.join(str(v) for v in converted_list)

In [1383]:
coming

'MEMBER STATE  ABBREVIATION DATE OF JOINING. OAU OR AU. REPUBLIC OF ANGOLA   ANGOLA 11 FEBRUARY 1975. REPUBLIC OF BOTSWANA   BOTSWANA 31 OCTOBER 1966. KINGDOM OF ESWATINI   ESWATINI 24 SEPTEMBER 1968. KINGDOM OF LESOTHO   LESOTHO 31 OCTOBER 1966. REPUBLIC OF MALAWI   MALAWI 13 JULY 1964. REPUBLIC OF MOZAMBIQUE   MOZAMBIQUE 18 JULY 1975. REPUBLIC OF NAMIBIA   NAMIBIA JUNE 1990. REPUBLIC OF SOUTH AFRICA  SOUTH AFRICA 6 JUNE 1994. REPUBLIC OF ZAMBIA   ZAMBIA 16 DECEMBER 1964.'

In [1384]:
come = coming.replace(".", "")
com = come.replace("REPUBLIC", "")
come= com.replace("OF", "")

In [1385]:
come

'MEMBER STATE  ABBREVIATION DATE  JOINING OAU OR AU   ANGOLA   ANGOLA 11 FEBRUARY 1975   BOTSWANA   BOTSWANA 31 OCTOBER 1966 KINGDOM  ESWATINI   ESWATINI 24 SEPTEMBER 1968 KINGDOM  LESOTHO   LESOTHO 31 OCTOBER 1966   MALAWI   MALAWI 13 JULY 1964   MOZAMBIQUE   MOZAMBIQUE 18 JULY 1975   NAMIBIA   NAMIBIA JUNE 1990   SOUTH AFRICA  SOUTH AFRICA 6 JUNE 1994   ZAMBIA   ZAMBIA 16 DECEMBER 1964'

In [1386]:
# i need to get the intersection of countries

In [1387]:
#movi
#come

read = set(result.split()) & set(come.split())

In [1388]:
readd = list(read)

In [1389]:
#SOUTH AFRICA

In [1390]:

readd.append("SOUTH AFRICA")
readd.append("ZIMBABWE")

In [1391]:
readd

['SOUTH',
 'AFRICA',
 'NAMIBIA',
 'ZAMBIA',
 'KINGDOM',
 'ANGOLA',
 'MALAWI',
 'LESOTHO',
 'MOZAMBIQUE',
 'SOUTH AFRICA',
 'ZIMBABWE']

In [1392]:
i = len(readd)

In [1393]:
matches = []

for match in list1:
    if readd[i-1] in match:
        matches.append(match)
        i-=1

In [1394]:
type(matches)

list

In [1395]:
i = len(readd)

In [1396]:
i

11

In [1397]:
readd[i-1]

'ZIMBABWE'

In [1398]:
type(df)

pandas.core.frame.DataFrame

In [1399]:
df.upcountry.replace(readd, 'Southern Africa', inplace=True)

In [1400]:
south = df[df['upcountry'] == 'Southern Africa' ]
#i=df[df[â€˜Nameâ€™]==â€™Willâ€™]
#print(i)

In [1401]:
south

,country,age_group,travel_with,total_female,total_male,purpose,main_activity,info_source,tour_arrangement,package_transport_int,...,package_sightseeing,package_guided_tour,package_insurance,night_mainland,night_zanzibar,payment_mode,first_trip_tz,most_impressing,total_cost,upcountry
ID,,,,,,,,,,,,,,,,,,,,,
tour_1007,SOUTH AFRICA,45-64,Alone,0.0,1.0,Business,Mountain climbing,"Friends, relatives",Independent,No,...,No,No,No,9,0,Cash,Yes,Friendly People,466140.0,Southern Africa
tour_1018,MOZAMBIQUE,25-44,Alone,0.0,1.0,Visiting Friends and Relatives,Beach tourism,"Friends, relatives",Independent,No,...,No,No,No,2,0,Cash,Yes,Wildlife,497250.0,Southern Africa
tour_1043,MOZAMBIQUE,2024-01-01 00:00:00,Alone,1.0,0.0,Visiting Friends and Relatives,Hunting tourism,"Friends, relatives",Independent,No,...,No,No,No,3,0,Cash,Yes,Excellent Experience,663000.0,Southern Africa
tour_1047,MALAWI,25-44,Alone,0.0,1.0,Meetings and Conference,Beach tourism,"Friends, relatives",Independent,No,...,No,No,No,21,0,Credit Card,No,Friendly People,3000000.0,Southern Africa
tour_1081,SOUTH AFRICA,25-44,Friends/Relatives,0.0,2.0,Meetings and Conference,Mountain climbing,"Travel, agent, tour operator",Independent,No,...,No,No,No,3,0,Cash,Yes,No comments,331500.0,Southern Africa
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
tour_916,SOUTH AFRICA,45-64,Alone,0.0,1.0,Meetings and Conference,Mountain climbing,"Friends, relatives",Independent,No,...,No,No,No,5,0,Cash,Yes,Friendly People,828750.0,Southern Africa
tour_920,SOUTH AFRICA,45-64,Friends/Relatives,2.0,2.0,Leisure and Holidays,Wildlife tourism,"Travel, agent, tour operator",Package Tour,Yes,...,Yes,No,No,5,9,Cash,No,Wildlife,34807500.0,Southern Africa
tour_944,SOUTH AFRICA,25-44,Alone,0.0,1.0,Business,Wildlife tourism,inflight magazines,Independent,No,...,No,No,No,4,0,Cash,No,Friendly People,828750.0,Southern Africa
tour_983,SOUTH AFRICA,25-44,Alone,0.0,1.0,Meetings and Conference,Mountain climbing,"Travel, agent, tour operator",Independent,No,...,No,No,No,3,0,Cash,Yes,Friendly People,1657500.0,Southern Africa
tour_997,SOUTH AFRICA,25-44,Friends/Relatives,1.0,1.0,Business,Beach tourism,"Travel, agent, tour operator",Independent,Yes,...,No,No,No,5,0,Credit Card,No,Friendly People,1160250.0,Southern Africa

## West Africa

In [1402]:
i = driver.find_element_by_xpath("(//tbody)[5]")

C:\Users\KOFI ADUKPO\AppData\Local\Temp\ipykernel_4848\3885326720.py:1: DeprecationWarning: find_element_by_xpath is deprecated. Please use find_element(by=By.XPATH, value=xpath) instead
  i = driver.find_element_by_xpath("(//tbody)[5]")

In [1403]:
text = i.text
#(//tbody)[1]

In [1404]:
type(text)

str

In [1405]:
rep = text.replace("\n", ". ")

In [1406]:
import re
expression = re.compile(r'([A-Z][^\.!?]*[\.!?])')
new_list = re.findall(expression, rep)

In [1407]:
new_list

['Member State  Abbreviation  Date of joining.',
 'OAU or AU.',
 'Republic of Benin   Benin 25 May 1963.',
 'Burkina Faso  Burkina Faso 25 May 1963.',
 'Republic of Cabo Verde   Cabo Verde 18 July 1975.',
 'Republic of CÃ´te dâ€™Ivoire   CÃ´te dâ€™Ivoire 25 May 1963.',
 'Republic of the Gambia   Gambia  9 March 1965.',
 'Republic of Ghana   Ghana  25 May 1963.',
 'Republic of Guinea  Guinea  25 May 1963.',
 'Republic of Guinea-Bissau  Guinea-Bissau  19 November 1973.',
 'Republic of Liberia  Liberia  25 May 1963.',
 'Republic of Mali  Mali  25 May 1963.',
 'Republic of Niger  Niger  25 May 1963.',
 'Federal Republic of Nigeria  Nigeria  25 May 1963.',
 'Republic of Senegal  Senegal  25 May 1963.',
 'Republic of Sierra Leone  Sierra Leone  25 May 1963.']

In [1408]:
converted_list = [x.upper() for x in new_list]

In [1409]:
converted_list

['MEMBER STATE  ABBREVIATION  DATE OF JOINING.',
 'OAU OR AU.',
 'REPUBLIC OF BENIN   BENIN 25 MAY 1963.',
 'BURKINA FASO  BURKINA FASO 25 MAY 1963.',
 'REPUBLIC OF CABO VERDE   CABO VERDE 18 JULY 1975.',
 'REPUBLIC OF CÃ”TE Dâ€™IVOIRE   CÃ”TE Dâ€™IVOIRE 25 MAY 1963.',
 'REPUBLIC OF THE GAMBIA   GAMBIA  9 MARCH 1965.',
 'REPUBLIC OF GHANA   GHANA  25 MAY 1963.',
 'REPUBLIC OF GUINEA  GUINEA  25 MAY 1963.',
 'REPUBLIC OF GUINEA-BISSAU  GUINEA-BISSAU  19 NOVEMBER 1973.',
 'REPUBLIC OF LIBERIA  LIBERIA  25 MAY 1963.',
 'REPUBLIC OF MALI  MALI  25 MAY 1963.',
 'REPUBLIC OF NIGER  NIGER  25 MAY 1963.',
 'FEDERAL REPUBLIC OF NIGERIA  NIGERIA  25 MAY 1963.',
 'REPUBLIC OF SENEGAL  SENEGAL  25 MAY 1963.',
 'REPUBLIC OF SIERRA LEONE  SIERRA LEONE  25 MAY 1963.']

In [1410]:
co = str(converted_list)

In [1411]:
from itertools import chain

In [1412]:
coming = ' '.join(str(v) for v in converted_list)

In [1413]:
coming

'MEMBER STATE  ABBREVIATION  DATE OF JOINING. OAU OR AU. REPUBLIC OF BENIN   BENIN 25 MAY 1963. BURKINA FASO  BURKINA FASO 25 MAY 1963. REPUBLIC OF CABO VERDE   CABO VERDE 18 JULY 1975. REPUBLIC OF CÃ”TE Dâ€™IVOIRE   CÃ”TE Dâ€™IVOIRE 25 MAY 1963. REPUBLIC OF THE GAMBIA   GAMBIA  9 MARCH 1965. REPUBLIC OF GHANA   GHANA  25 MAY 1963. REPUBLIC OF GUINEA  GUINEA  25 MAY 1963. REPUBLIC OF GUINEA-BISSAU  GUINEA-BISSAU  19 NOVEMBER 1973. REPUBLIC OF LIBERIA  LIBERIA  25 MAY 1963. REPUBLIC OF MALI  MALI  25 MAY 1963. REPUBLIC OF NIGER  NIGER  25 MAY 1963. FEDERAL REPUBLIC OF NIGERIA  NIGERIA  25 MAY 1963. REPUBLIC OF SENEGAL  SENEGAL  25 MAY 1963. REPUBLIC OF SIERRA LEONE  SIERRA LEONE  25 MAY 1963.'

In [1414]:
come = coming.replace(".", "")
com = come.replace("REPUBLIC", "")
come= com.replace("OF", "")

In [1415]:
come

'MEMBER STATE  ABBREVIATION  DATE  JOINING OAU OR AU   BENIN   BENIN 25 MAY 1963 BURKINA FASO  BURKINA FASO 25 MAY 1963   CABO VERDE   CABO VERDE 18 JULY 1975   CÃ”TE Dâ€™IVOIRE   CÃ”TE Dâ€™IVOIRE 25 MAY 1963   THE GAMBIA   GAMBIA  9 MARCH 1965   GHANA   GHANA  25 MAY 1963   GUINEA  GUINEA  25 MAY 1963   GUINEA-BISSAU  GUINEA-BISSAU  19 NOVEMBER 1973   LIBERIA  LIBERIA  25 MAY 1963   MALI  MALI  25 MAY 1963   NIGER  NIGER  25 MAY 1963 FEDERAL   NIGERIA  NIGERIA  25 MAY 1963   SENEGAL  SENEGAL  25 MAY 1963   SIERRA LEONE  SIERRA LEONE  25 MAY 1963'

In [1416]:
# i need to get the intersection of countries

In [1417]:
#movi
#come

read = set(result.split()) & set(come.split())

In [1418]:
readd = list(read)

In [1419]:
readd.append("CAPE VERDE")
readd.append("IVORY COAST")

In [1420]:
readd

['GHANA', 'VERDE', 'NIGERIA', 'NIGER', 'CAPE VERDE', 'IVORY COAST']

In [1421]:
i = len(readd)

In [1422]:
matches = []

for match in list1:
    if readd[i-1] in match:
        matches.append(match)
        i-=1

In [1423]:
type(matches)

list

In [1424]:
i = len(readd)

In [1425]:
i

6

In [1426]:
readd[i-1]

'IVORY COAST'

In [1427]:
type(df)

pandas.core.frame.DataFrame

In [1428]:
df.upcountry.replace(readd, 'West Africa', inplace=True)

In [1429]:
west = df[df['upcountry'] == 'West Africa' ]
#i=df[df[â€˜Nameâ€™]==â€™Willâ€™]
#print(i)

In [1430]:
west

,country,age_group,travel_with,total_female,total_male,purpose,main_activity,info_source,tour_arrangement,package_transport_int,...,package_sightseeing,package_guided_tour,package_insurance,night_mainland,night_zanzibar,payment_mode,first_trip_tz,most_impressing,total_cost,upcountry
ID,,,,,,,,,,,,,,,,,,,,,
tour_101,NIGERIA,25-44,Alone,0.0,1.0,Leisure and Holidays,Cultural tourism,"Travel, agent, tour operator",Independent,No,...,No,No,No,4,0,Cash,Yes,Friendly People,994500.0,West Africa
tour_174,GHANA,25-44,Alone,1.0,0.0,Meetings and Conference,Mountain climbing,"Travel, agent, tour operator",Independent,No,...,No,No,No,5,0,Cash,Yes,Friendly People,828750.0,West Africa
tour_1741,NIGER,25-44,Spouse and Children,2.0,1.0,Leisure and Holidays,Beach tourism,"Friends, relatives",Independent,No,...,No,No,No,4,16,Credit Card,No,Friendly People,4972500.0,West Africa
tour_217,GHANA,45-64,Friends/Relatives,0.0,2.0,Business,Wildlife tourism,Trade fair,Independent,No,...,No,No,No,30,0,Cash,Yes,No comments,10000000.0,West Africa
tour_2719,NIGERIA,25-44,Alone,0.0,1.0,Visiting Friends and Relatives,Wildlife tourism,"Friends, relatives",Independent,No,...,No,No,No,7,0,Cash,No,Friendly People,250282.5,West Africa
tour_3050,CAPE VERDE,45-64,Friends/Relatives,0.0,3.0,Meetings and Conference,Mountain climbing,"Newspaper, magazines,brochures",Independent,No,...,No,No,No,2,0,Cash,No,No comments,663000.0,West Africa
tour_4135,IVORY COAST,45-64,Alone,1.0,0.0,Leisure and Holidays,Hunting tourism,"Travel, agent, tour operator",Package Tour,Yes,...,No,Yes,Yes,10,4,Credit Card,Yes,Friendly People,7210125.0,West Africa
tour_5068,NIGERIA,2024-01-01 00:00:00,Alone,0.0,1.0,Business,Wildlife tourism,"Friends, relatives",Independent,No,...,No,No,No,14,0,Cash,Yes,Excellent Experience,497250.0,West Africa
tour_6412,NIGERIA,25-44,Alone,0.0,1.0,Business,Wildlife tourism,"Friends, relatives",Independent,No,...,No,No,No,35,0,Cash,No,Good service,50000.0,West Africa

## Europe

In [1431]:


#(//main[@id='main-content'])[1]

In [1432]:
driver.get("https://european-union.europa.eu/principles-countries-history/country-profiles_en?page=0")   
time.sleep(18)

In [1433]:
i = driver.find_element_by_xpath("(//div[@class='ecl-row'])[5]")

C:\Users\KOFI ADUKPO\AppData\Local\Temp\ipykernel_4848\3388245205.py:1: DeprecationWarning: find_element_by_xpath is deprecated. Please use find_element(by=By.XPATH, value=xpath) instead
  i = driver.find_element_by_xpath("(//div[@class='ecl-row'])[5]")

In [1434]:
text = i.text
#(//tbody)[1]

In [1435]:
type(text)

str

In [1436]:
rep = text.replace("\n", ". ")

In [1437]:
import re
expression = re.compile(r'([A-Z][^\.!?]*[\.!?])')
new_list = re.findall(expression, rep)

In [1438]:
new_list

['Austria.',
 'EU member country since 1995, Euro area member since 1999, Schengen area member since 1997 and more about Austriaâ€™s participation in the EU.',
 'Belgium.',
 'EU member country since 1958, Euro area member since 1999, Schengen area member since 1995 and more about Belgiumâ€™s participation in the EU.',
 'Bulgaria.',
 'EU member country since 2007 and more about Bulgariaâ€™s participation in the EU.',
 'Croatia.',
 "EU Member State since 2013 and more on Croatia's role in the EU.",
 'Cyprus.',
 'EU member country since 2004, Euro area member since 2008 and more about Cyprusâ€™s participation in the EU.',
 'Czechia.',
 'EU member country since 2004, Schengen area member since 2007 and more about Czechiaâ€™s participation in the EU.',
 'Denmark.',
 'EU member country since 1973, opt-out from euro, Schengen area member since 2001 and more about Denmarkâ€™s participation in the EU.',
 'Estonia.',
 'How Estonia is represented in the different EU institutions, how much money it gives and receives, its political system and trade figures.',
 'Finland.',
 'EU member country since 1995, Euro area member since 1999, Schengen area member since 2001 and more about Finlandâ€™s participation in the EU.',
 'France.',
 'EU member country since 1958, Euro area member since 1999, Schengen area member since 1995 and more about Franceâ€™s participation in the EU.',
 'Germany.',
 'EU member country since 1958, Euro area member since 1999, Schengen area member since 1995 and more about Germanyâ€™s participation in the EU.',
 'Greece.',
 'EU member country since 1981, Euro area member since 2001, Schengen area member since 2000 and more about Greeceâ€™s participation in the EU.',
 'Hungary.',
 'EU member country since 2004, Schengen area member since 2007 and more about Hungaryâ€™s participation in the EU.',
 'Ireland.',
 'EU member country since 1973, Euro area member since 1999, opt-out from Schengen area and more about Irelandâ€™s participation in the EU.',
 'Italy.',
 'EU member country since 1958, Euro area member since 1999, Schengen area member since 1997 and more about Italyâ€™s participation in the EU.',
 'Latvia.',
 'EU member country since 2004, Euro area member since 2014, Schengen area member since 2007 and more about Latviaâ€™s participation in the EU.',
 'Lithuania.',
 'EU member country since 2004, Euro area member since 2015, Schengen area member since 2007 and more about Lithuaniaâ€™s participation in the EU.',
 'Luxembourg.',
 'EU member country since 1958, Euro area member since 1999, Schengen area member since 1995 and more about Luxembourgâ€™s participation in the EU.',
 'Malta.',
 'EU member country since 2004, Euro area member since 2008, Schengen area member since 2007 and more about Maltaâ€™s participation in the EU.',
 'Netherlands.',
 'EU member country since 1958, Euro area member since 1999, Schengen area member since 1995 and more about the Netherlandsâ€™ participation in the EU.']

In [1439]:
driver.get("https://european-union.europa.eu/principles-countries-history/country-profiles_en?page=1")   
time.sleep(15)

In [1440]:
i = driver.find_element_by_xpath("(//div[@class='ecl-row'])[5]")

C:\Users\KOFI ADUKPO\AppData\Local\Temp\ipykernel_4848\3388245205.py:1: DeprecationWarning: find_element_by_xpath is deprecated. Please use find_element(by=By.XPATH, value=xpath) instead
  i = driver.find_element_by_xpath("(//div[@class='ecl-row'])[5]")

In [1441]:
text = i.text
#(//tbody)[1]

In [1442]:
type(text)

str

In [1443]:
rep = text.replace("\n", ". ")

In [1444]:
import re
expression = re.compile(r'([A-Z][^\.!?]*[\.!?])')
new_list1 = re.findall(expression, rep)

In [1445]:
type(new_list1)

list

In [1446]:
new_lists = new_list+new_list1

In [1447]:
converted_list = [x.upper() for x in new_lists]

In [1448]:
converted_list

['AUSTRIA.',
 'EU MEMBER COUNTRY SINCE 1995, EURO AREA MEMBER SINCE 1999, SCHENGEN AREA MEMBER SINCE 1997 AND MORE ABOUT AUSTRIAâ€™S PARTICIPATION IN THE EU.',
 'BELGIUM.',
 'EU MEMBER COUNTRY SINCE 1958, EURO AREA MEMBER SINCE 1999, SCHENGEN AREA MEMBER SINCE 1995 AND MORE ABOUT BELGIUMâ€™S PARTICIPATION IN THE EU.',
 'BULGARIA.',
 'EU MEMBER COUNTRY SINCE 2007 AND MORE ABOUT BULGARIAâ€™S PARTICIPATION IN THE EU.',
 'CROATIA.',
 "EU MEMBER STATE SINCE 2013 AND MORE ON CROATIA'S ROLE IN THE EU.",
 'CYPRUS.',
 'EU MEMBER COUNTRY SINCE 2004, EURO AREA MEMBER SINCE 2008 AND MORE ABOUT CYPRUSâ€™S PARTICIPATION IN THE EU.',
 'CZECHIA.',
 'EU MEMBER COUNTRY SINCE 2004, SCHENGEN AREA MEMBER SINCE 2007 AND MORE ABOUT CZECHIAâ€™S PARTICIPATION IN THE EU.',
 'DENMARK.',
 'EU MEMBER COUNTRY SINCE 1973, OPT-OUT FROM EURO, SCHENGEN AREA MEMBER SINCE 2001 AND MORE ABOUT DENMARKâ€™S PARTICIPATION IN THE EU.',
 'ESTONIA.',
 'HOW ESTONIA IS REPRESENTED IN THE DIFFERENT EU INSTITUTIONS, HOW MUCH MONEY IT GIVES AND RECEIVES, ITS POLITICAL SYSTEM AND TRADE FIGURES.',
 'FINLAND.',
 'EU MEMBER COUNTRY SINCE 1995, EURO AREA MEMBER SINCE 1999, SCHENGEN AREA MEMBER SINCE 2001 AND MORE ABOUT FINLANDâ€™S PARTICIPATION IN THE EU.',
 'FRANCE.',
 'EU MEMBER COUNTRY SINCE 1958, EURO AREA MEMBER SINCE 1999, SCHENGEN AREA MEMBER SINCE 1995 AND MORE ABOUT FRANCEâ€™S PARTICIPATION IN THE EU.',
 'GERMANY.',
 'EU MEMBER COUNTRY SINCE 1958, EURO AREA MEMBER SINCE 1999, SCHENGEN AREA MEMBER SINCE 1995 AND MORE ABOUT GERMANYâ€™S PARTICIPATION IN THE EU.',
 'GREECE.',
 'EU MEMBER COUNTRY SINCE 1981, EURO AREA MEMBER SINCE 2001, SCHENGEN AREA MEMBER SINCE 2000 AND MORE ABOUT GREECEâ€™S PARTICIPATION IN THE EU.',
 'HUNGARY.',
 'EU MEMBER COUNTRY SINCE 2004, SCHENGEN AREA MEMBER SINCE 2007 AND MORE ABOUT HUNGARYâ€™S PARTICIPATION IN THE EU.',
 'IRELAND.',
 'EU MEMBER COUNTRY SINCE 1973, EURO AREA MEMBER SINCE 1999, OPT-OUT FROM SCHENGEN AREA AND MORE ABOUT IRELANDâ€™S PARTICIPATION IN THE EU.',
 'ITALY.',
 'EU MEMBER COUNTRY SINCE 1958, EURO AREA MEMBER SINCE 1999, SCHENGEN AREA MEMBER SINCE 1997 AND MORE ABOUT ITALYâ€™S PARTICIPATION IN THE EU.',
 'LATVIA.',
 'EU MEMBER COUNTRY SINCE 2004, EURO AREA MEMBER SINCE 2014, SCHENGEN AREA MEMBER SINCE 2007 AND MORE ABOUT LATVIAâ€™S PARTICIPATION IN THE EU.',
 'LITHUANIA.',
 'EU MEMBER COUNTRY SINCE 2004, EURO AREA MEMBER SINCE 2015, SCHENGEN AREA MEMBER SINCE 2007 AND MORE ABOUT LITHUANIAâ€™S PARTICIPATION IN THE EU.',
 'LUXEMBOURG.',
 'EU MEMBER COUNTRY SINCE 1958, EURO AREA MEMBER SINCE 1999, SCHENGEN AREA MEMBER SINCE 1995 AND MORE ABOUT LUXEMBOURGâ€™S PARTICIPATION IN THE EU.',
 'MALTA.',
 'EU MEMBER COUNTRY SINCE 2004, EURO AREA MEMBER SINCE 2008, SCHENGEN AREA MEMBER SINCE 2007 AND MORE ABOUT MALTAâ€™S PARTICIPATION IN THE EU.',
 'NETHERLANDS.',
 'EU MEMBER COUNTRY SINCE 1958, EURO AREA MEMBER SINCE 1999, SCHENGEN AREA MEMBER SINCE 1995 AND MORE ABOUT THE NETHERLANDSâ€™ PARTICIPATION IN THE EU.',
 'POLAND.',
 'EU MEMBER COUNTRY SINCE 2004, SCHENGEN AREA MEMBER SINCE 2007 AND MORE ABOUT POLANDâ€™S PARTICIPATION IN THE EU.',
 'PORTUGAL.',
 'EU MEMBER COUNTRY SINCE 1986, EURO AREA MEMBER SINCE 1999, SCHENGEN AREA MEMBER SINCE 1995 AND MORE ABOUT PORTUGALâ€™S PARTICIPATION IN THE EU.',
 'ROMANIA.',
 'EU MEMBER COUNTRY SINCE 2007 AND MORE ABOUT ROMANIAâ€™S PARTICIPATION IN THE EU.',
 'SLOVAKIA.',
 'EU MEMBER COUNTRY SINCE 2004, EURO AREA MEMBER SINCE 2009, SCHENGEN AREA MEMBER SINCE 2007 AND MORE ABOUT SLOVAKIAâ€™S PARTICIPATION IN THE EU.',
 'SLOVENIA.',
 'EU MEMBER COUNTRY SINCE 2004, EURO AREA MEMBER SINCE 2007, SCHENGEN AREA MEMBER SINCE 2007 AND MORE ABOUT SLOVENIAâ€™S PARTICIPATION IN THE EU.',
 'SPAIN.',
 'EU MEMBER COUNTRY SINCE 1986, EURO AREA MEMBER SINCE 1999, SCHENGEN AREA MEMBER SINCE 1995 AND MORE ABOUT SPAINâ€™S PARTICIPATION IN THE EU.',
 'SWEDEN.',
 'EU MEMBER COUNTRY SINCE 1995, SCHENGEN AREA MEMBER SINCE 2001 AND MORE ABOUT SWEDENâ€™S PARTICIPATION IN THE EU.']

In [1449]:
co = str(converted_list)

In [1450]:
from itertools import chain

In [1451]:
coming = ' '.join(str(v) for v in converted_list)

In [1452]:
coming

"AUSTRIA. EU MEMBER COUNTRY SINCE 1995, EURO AREA MEMBER SINCE 1999, SCHENGEN AREA MEMBER SINCE 1997 AND MORE ABOUT AUSTRIAâ€™S PARTICIPATION IN THE EU. BELGIUM. EU MEMBER COUNTRY SINCE 1958, EURO AREA MEMBER SINCE 1999, SCHENGEN AREA MEMBER SINCE 1995 AND MORE ABOUT BELGIUMâ€™S PARTICIPATION IN THE EU. BULGARIA. EU MEMBER COUNTRY SINCE 2007 AND MORE ABOUT BULGARIAâ€™S PARTICIPATION IN THE EU. CROATIA. EU MEMBER STATE SINCE 2013 AND MORE ON CROATIA'S ROLE IN THE EU. CYPRUS. EU MEMBER COUNTRY SINCE 2004, EURO AREA MEMBER SINCE 2008 AND MORE ABOUT CYPRUSâ€™S PARTICIPATION IN THE EU. CZECHIA. EU MEMBER COUNTRY SINCE 2004, SCHENGEN AREA MEMBER SINCE 2007 AND MORE ABOUT CZECHIAâ€™S PARTICIPATION IN THE EU. DENMARK. EU MEMBER COUNTRY SINCE 1973, OPT-OUT FROM EURO, SCHENGEN AREA MEMBER SINCE 2001 AND MORE ABOUT DENMARKâ€™S PARTICIPATION IN THE EU. ESTONIA. HOW ESTONIA IS REPRESENTED IN THE DIFFERENT EU INSTITUTIONS, HOW MUCH MONEY IT GIVES AND RECEIVES, ITS POLITICAL SYSTEM AND TRADE FIGURES. FINLAND. EU MEMBER COUNTRY SINCE 1995, EURO AREA MEMBER SINCE 1999, SCHENGEN AREA MEMBER SINCE 2001 AND MORE ABOUT FINLANDâ€™S PARTICIPATION IN THE EU. FRANCE. EU MEMBER COUNTRY SINCE 1958, EURO AREA MEMBER SINCE 1999, SCHENGEN AREA MEMBER SINCE 1995 AND MORE ABOUT FRANCEâ€™S PARTICIPATION IN THE EU. GERMANY. EU MEMBER COUNTRY SINCE 1958, EURO AREA MEMBER SINCE 1999, SCHENGEN AREA MEMBER SINCE 1995 AND MORE ABOUT GERMANYâ€™S PARTICIPATION IN THE EU. GREECE. EU MEMBER COUNTRY SINCE 1981, EURO AREA MEMBER SINCE 2001, SCHENGEN AREA MEMBER SINCE 2000 AND MORE ABOUT GREECEâ€™S PARTICIPATION IN THE EU. HUNGARY. EU MEMBER COUNTRY SINCE 2004, SCHENGEN AREA MEMBER SINCE 2007 AND MORE ABOUT HUNGARYâ€™S PARTICIPATION IN THE EU. IRELAND. EU MEMBER COUNTRY SINCE 1973, EURO AREA MEMBER SINCE 1999, OPT-OUT FROM SCHENGEN AREA AND MORE ABOUT IRELANDâ€™S PARTICIPATION IN THE EU. ITALY. EU MEMBER COUNTRY SINCE 1958, EURO AREA MEMBER SINCE 1999, SCHENGEN AREA MEMBER SINCE 1997 AND MORE ABOUT ITALYâ€™S PARTICIPATION IN THE EU. LATVIA. EU MEMBER COUNTRY SINCE 2004, EURO AREA MEMBER SINCE 2014, SCHENGEN AREA MEMBER SINCE 2007 AND MORE ABOUT LATVIAâ€™S PARTICIPATION IN THE EU. LITHUANIA. EU MEMBER COUNTRY SINCE 2004, EURO AREA MEMBER SINCE 2015, SCHENGEN AREA MEMBER SINCE 2007 AND MORE ABOUT LITHUANIAâ€™S PARTICIPATION IN THE EU. LUXEMBOURG. EU MEMBER COUNTRY SINCE 1958, EURO AREA MEMBER SINCE 1999, SCHENGEN AREA MEMBER SINCE 1995 AND MORE ABOUT LUXEMBOURGâ€™S PARTICIPATION IN THE EU. MALTA. EU MEMBER COUNTRY SINCE 2004, EURO AREA MEMBER SINCE 2008, SCHENGEN AREA MEMBER SINCE 2007 AND MORE ABOUT MALTAâ€™S PARTICIPATION IN THE EU. NETHERLANDS. EU MEMBER COUNTRY SINCE 1958, EURO AREA MEMBER SINCE 1999, SCHENGEN AREA MEMBER SINCE 1995 AND MORE ABOUT THE NETHERLANDSâ€™ PARTICIPATION IN THE EU. POLAND. EU MEMBER COUNTRY SINCE 2004, SCHENGEN AREA MEMBER SINCE 2007 AND MORE ABOUT POLANDâ€™S PARTICIPATION IN THE EU. PORTUGAL. EU MEMBER COUNTRY SINCE 1986, EURO AREA MEMBER SINCE 1999, SCHENGEN AREA MEMBER SINCE 1995 AND MORE ABOUT PORTUGALâ€™S PARTICIPATION IN THE EU. ROMANIA. EU MEMBER COUNTRY SINCE 2007 AND MORE ABOUT ROMANIAâ€™S PARTICIPATION IN THE EU. SLOVAKIA. EU MEMBER COUNTRY SINCE 2004, EURO AREA MEMBER SINCE 2009, SCHENGEN AREA MEMBER SINCE 2007 AND MORE ABOUT SLOVAKIAâ€™S PARTICIPATION IN THE EU. SLOVENIA. EU MEMBER COUNTRY SINCE 2004, EURO AREA MEMBER SINCE 2007, SCHENGEN AREA MEMBER SINCE 2007 AND MORE ABOUT SLOVENIAâ€™S PARTICIPATION IN THE EU. SPAIN. EU MEMBER COUNTRY SINCE 1986, EURO AREA MEMBER SINCE 1999, SCHENGEN AREA MEMBER SINCE 1995 AND MORE ABOUT SPAINâ€™S PARTICIPATION IN THE EU. SWEDEN. EU MEMBER COUNTRY SINCE 1995, SCHENGEN AREA MEMBER SINCE 2001 AND MORE ABOUT SWEDENâ€™S PARTICIPATION IN THE EU."

In [1453]:
come = coming.replace(".", "")
com = come.replace("REPUBLIC", "")
come= com.replace("OF", "")

In [1454]:
come

"AUSTRIA EU MEMBER COUNTRY SINCE 1995, EURO AREA MEMBER SINCE 1999, SCHENGEN AREA MEMBER SINCE 1997 AND MORE ABOUT AUSTRIAâ€™S PARTICIPATION IN THE EU BELGIUM EU MEMBER COUNTRY SINCE 1958, EURO AREA MEMBER SINCE 1999, SCHENGEN AREA MEMBER SINCE 1995 AND MORE ABOUT BELGIUMâ€™S PARTICIPATION IN THE EU BULGARIA EU MEMBER COUNTRY SINCE 2007 AND MORE ABOUT BULGARIAâ€™S PARTICIPATION IN THE EU CROATIA EU MEMBER STATE SINCE 2013 AND MORE ON CROATIA'S ROLE IN THE EU CYPRUS EU MEMBER COUNTRY SINCE 2004, EURO AREA MEMBER SINCE 2008 AND MORE ABOUT CYPRUSâ€™S PARTICIPATION IN THE EU CZECHIA EU MEMBER COUNTRY SINCE 2004, SCHENGEN AREA MEMBER SINCE 2007 AND MORE ABOUT CZECHIAâ€™S PARTICIPATION IN THE EU DENMARK EU MEMBER COUNTRY SINCE 1973, OPT-OUT FROM EURO, SCHENGEN AREA MEMBER SINCE 2001 AND MORE ABOUT DENMARKâ€™S PARTICIPATION IN THE EU ESTONIA HOW ESTONIA IS REPRESENTED IN THE DIFFERENT EU INSTITUTIONS, HOW MUCH MONEY IT GIVES AND RECEIVES, ITS POLITICAL SYSTEM AND TRADE FIGURES FINLAND EU MEMBER COUNTRY SINCE 1995, EURO AREA MEMBER SINCE 1999, SCHENGEN AREA MEMBER SINCE 2001 AND MORE ABOUT FINLANDâ€™S PARTICIPATION IN THE EU FRANCE EU MEMBER COUNTRY SINCE 1958, EURO AREA MEMBER SINCE 1999, SCHENGEN AREA MEMBER SINCE 1995 AND MORE ABOUT FRANCEâ€™S PARTICIPATION IN THE EU GERMANY EU MEMBER COUNTRY SINCE 1958, EURO AREA MEMBER SINCE 1999, SCHENGEN AREA MEMBER SINCE 1995 AND MORE ABOUT GERMANYâ€™S PARTICIPATION IN THE EU GREECE EU MEMBER COUNTRY SINCE 1981, EURO AREA MEMBER SINCE 2001, SCHENGEN AREA MEMBER SINCE 2000 AND MORE ABOUT GREECEâ€™S PARTICIPATION IN THE EU HUNGARY EU MEMBER COUNTRY SINCE 2004, SCHENGEN AREA MEMBER SINCE 2007 AND MORE ABOUT HUNGARYâ€™S PARTICIPATION IN THE EU IRELAND EU MEMBER COUNTRY SINCE 1973, EURO AREA MEMBER SINCE 1999, OPT-OUT FROM SCHENGEN AREA AND MORE ABOUT IRELANDâ€™S PARTICIPATION IN THE EU ITALY EU MEMBER COUNTRY SINCE 1958, EURO AREA MEMBER SINCE 1999, SCHENGEN AREA MEMBER SINCE 1997 AND MORE ABOUT ITALYâ€™S PARTICIPATION IN THE EU LATVIA EU MEMBER COUNTRY SINCE 2004, EURO AREA MEMBER SINCE 2014, SCHENGEN AREA MEMBER SINCE 2007 AND MORE ABOUT LATVIAâ€™S PARTICIPATION IN THE EU LITHUANIA EU MEMBER COUNTRY SINCE 2004, EURO AREA MEMBER SINCE 2015, SCHENGEN AREA MEMBER SINCE 2007 AND MORE ABOUT LITHUANIAâ€™S PARTICIPATION IN THE EU LUXEMBOURG EU MEMBER COUNTRY SINCE 1958, EURO AREA MEMBER SINCE 1999, SCHENGEN AREA MEMBER SINCE 1995 AND MORE ABOUT LUXEMBOURGâ€™S PARTICIPATION IN THE EU MALTA EU MEMBER COUNTRY SINCE 2004, EURO AREA MEMBER SINCE 2008, SCHENGEN AREA MEMBER SINCE 2007 AND MORE ABOUT MALTAâ€™S PARTICIPATION IN THE EU NETHERLANDS EU MEMBER COUNTRY SINCE 1958, EURO AREA MEMBER SINCE 1999, SCHENGEN AREA MEMBER SINCE 1995 AND MORE ABOUT THE NETHERLANDSâ€™ PARTICIPATION IN THE EU POLAND EU MEMBER COUNTRY SINCE 2004, SCHENGEN AREA MEMBER SINCE 2007 AND MORE ABOUT POLANDâ€™S PARTICIPATION IN THE EU PORTUGAL EU MEMBER COUNTRY SINCE 1986, EURO AREA MEMBER SINCE 1999, SCHENGEN AREA MEMBER SINCE 1995 AND MORE ABOUT PORTUGALâ€™S PARTICIPATION IN THE EU ROMANIA EU MEMBER COUNTRY SINCE 2007 AND MORE ABOUT ROMANIAâ€™S PARTICIPATION IN THE EU SLOVAKIA EU MEMBER COUNTRY SINCE 2004, EURO AREA MEMBER SINCE 2009, SCHENGEN AREA MEMBER SINCE 2007 AND MORE ABOUT SLOVAKIAâ€™S PARTICIPATION IN THE EU SLOVENIA EU MEMBER COUNTRY SINCE 2004, EURO AREA MEMBER SINCE 2007, SCHENGEN AREA MEMBER SINCE 2007 AND MORE ABOUT SLOVENIAâ€™S PARTICIPATION IN THE EU SPAIN EU MEMBER COUNTRY SINCE 1986, EURO AREA MEMBER SINCE 1999, SCHENGEN AREA MEMBER SINCE 1995 AND MORE ABOUT SPAINâ€™S PARTICIPATION IN THE EU SWEDEN EU MEMBER COUNTRY SINCE 1995, SCHENGEN AREA MEMBER SINCE 2001 AND MORE ABOUT SWEDENâ€™S PARTICIPATION IN THE EU"

In [1455]:
# i need to get the intersection of countries

In [1456]:
#movi
#come

read = set(result.split()) & set(come.split())

In [1457]:
readd = list(read)

In [1458]:
readd.append("SWIZERLAND")
readd.append("UNITED KINGDOM")
readd.append("SCOTLAND")
readd.append("NORWAY")
readd.append("SWITZERLAND")
readd.append("UGANDA")
readd.append("CZECH REPUBLIC")
readd.append("SERBIA")
readd.append("MALT")
readd.append("UKRAIN")
readd.append("BURGARIA")
readd.append("MONTENEGRO")

#SWIZERLAND

In [1459]:
readd

['GREECE',
 'GERMANY',
 'CROATIA',
 'LATVIA',
 'POLAND',
 'SPAIN',
 'AUSTRIA',
 'NETHERLANDS',
 'PORTUGAL',
 'LITHUANIA',
 'CYPRUS',
 'SLOVAKIA',
 'ITALY',
 'HUNGARY',
 'FINLAND',
 'BELGIUM',
 'ROMANIA',
 'SWEDEN',
 'IRELAND',
 'DENMARK',
 'SLOVENIA',
 'ESTONIA',
 'FRANCE',
 'LUXEMBOURG',
 'SWIZERLAND',
 'UNITED KINGDOM',
 'SCOTLAND',
 'NORWAY',
 'SWITZERLAND',
 'UGANDA',
 'CZECH REPUBLIC',
 'SERBIA',
 'MALT',
 'UKRAIN',
 'BURGARIA',
 'MONTENEGRO']

In [1460]:
i = len(readd)

In [1461]:
matches = []

for match in list1:
    if readd[i-1] in match:
        matches.append(match)
        i-=1

In [1462]:
type(matches)

list

In [1463]:
i = len(readd)

In [1464]:
i

36

In [1465]:
readd[i-1]

'MONTENEGRO'

In [1466]:
df.upcountry.replace(readd, 'Europe', inplace=True)

In [1467]:
df.head(50)

,country,age_group,travel_with,total_female,total_male,purpose,main_activity,info_source,tour_arrangement,package_transport_int,...,package_sightseeing,package_guided_tour,package_insurance,night_mainland,night_zanzibar,payment_mode,first_trip_tz,most_impressing,total_cost,upcountry
ID,,,,,,,,,,,,,,,,,,,,,
tour_0,SWIZERLAND,45-64,Friends/Relatives,1.0,1.0,Leisure and Holidays,Wildlife tourism,"Friends, relatives",Independent,No,...,No,No,No,13,0,Cash,No,Friendly People,674602.5,Europe
tour_10,UNITED KINGDOM,25-44,Alone,1.0,0.0,Leisure and Holidays,Cultural tourism,others,Independent,No,...,No,No,No,14,7,Cash,Yes,"Wonderful Country, Landscape, Nature",3214906.5,Europe
tour_1000,UNITED KINGDOM,25-44,Alone,0.0,1.0,Visiting Friends and Relatives,Cultural tourism,"Friends, relatives",Independent,No,...,No,No,No,1,31,Cash,No,Excellent Experience,3315000.0,Europe
tour_1002,UNITED KINGDOM,25-44,Spouse,1.0,1.0,Leisure and Holidays,Wildlife tourism,"Travel, agent, tour operator",Package Tour,No,...,Yes,Yes,No,11,0,Cash,Yes,Friendly People,7790250.0,Europe
tour_1004,CHINA,2024-01-01 00:00:00,Alone,1.0,0.0,Leisure and Holidays,Wildlife tourism,"Travel, agent, tour operator",Independent,No,...,No,No,No,7,4,Cash,Yes,No comments,1657500.0,CHINA
tour_1005,UNITED KINGDOM,25-44,Alone,0.0,1.0,Leisure and Holidays,Wildlife tourism,"Travel, agent, tour operator",Package Tour,No,...,Yes,Yes,No,9,3,Cash,Yes,Wildlife,120950.0,Europe
tour_1007,SOUTH AFRICA,45-64,Alone,0.0,1.0,Business,Mountain climbing,"Friends, relatives",Independent,No,...,No,No,No,9,0,Cash,Yes,Friendly People,466140.0,Southern Africa
tour_1008,UNITED STATES OF AMERICA,45-64,Friends/Relatives,1.0,1.0,Leisure and Holidays,Wildlife tourism,"Travel, agent, tour operator",Package Tour,Yes,...,Yes,Yes,Yes,10,3,Cash,Yes,Friendly People,3480750.0,UNITED STATES OF AMERICA
tour_101,NIGERIA,25-44,Alone,0.0,1.0,Leisure and Holidays,Cultural tourism,"Travel, agent, tour operator",Independent,No,...,No,No,No,4,0,Cash,Yes,Friendly People,994500.0,West Africa
tour_1011,INDIA,25-44,Alone,1.0,0.0,Business,Wildlife tourism,"Travel, agent, tour operator",Independent,No,...,No,No,No,5,0,Credit Card,Yes,Friendly People,2486250.0,INDIA
tour_1012,BRAZIL,25-44,Spouse,1.0,1.0,Leisure and Holidays,Wildlife tourism,"Radio, TV, Web",Independent,No,...,No,No,No,17,3,Cash,Yes,"Wonderful Country, Landscape, Nature",1117155.0,BRAZIL
tour_1013,CANADA,45-64,Children,2.0,0.0,Leisure and Holidays,Beach tourism,"Friends, relatives",Independent,No,...,No,No,No,30,0,Cash,No,Excellent Experience,8121750.0,CANADA
tour_1016,CANADA,45-64,Children,0.0,2.0,Leisure and Holidays,Wildlife tourism,"Travel, agent, tour operator",Independent,No,...,No,No,No,11,3,Cash,Yes,No comments,331500.0,CANADA
tour_1017,MALT,25-44,Friends/Relatives,2.0,0.0,Leisure and Holidays,Wildlife tourism,"Friends, relatives",Package Tour,Yes,...,No,No,No,10,0,Cash,Yes,No comments,11346650.0,Europe
tour_1018,MOZAMBIQUE,25-44,Alone,0.0,1.0,Visiting Friends and Relatives,Beach tourism,"Friends, relatives",Independent,No,...,No,No,No,2,0,Cash,Yes,Wildlife,497250.0,Southern Africa
tour_102,RWANDA,65+,Alone,1.0,0.0,Leisure and Holidays,Beach tourism,"Friends, relatives",Independent,No,...,No,No,No,0,2,Cash,Yes,"Wonderful Country, Landscape, Nature",331500.0,East Africa
tour_1021,AUSTRIA,45-64,Friends/Relatives,4.0,1.0,Visiting Friends and Relatives,Mountain climbing,"Friends, relatives",Independent,No,...,No,No,No,24,0,Cash,No,Friendly People,2000000.0,Europe
tour_1022,MYANMAR,25-44,Alone,1.0,0.0,Meetings and Conference,Wildlife tourism,"Radio, TV, Web",Independent,No,...,No,No,No,5,0,Cash,Yes,Friendly People,331500.0,MYANMAR
tour_1024,GERMANY,25-44,Children,1.0,1.0,Visiting Friends and Relatives,Cultural tourism,"Friends, relatives",Independent,No,...,No,No,No,3,0,Cash,Yes,Friendly People,2269330.0,Europe
tour_1026,KENYA,25-44,Alone,1.0,0.0,Business,Mountain climbing,"Friends, relatives",Independent,No,...,No,No,No,4,0,Cash,No,Friendly People,377520.0,East Africa
tour_1027,UNITED KINGDOM,2024-01-01 00:00:00,Alone,1.0,0.0,Volunteering,Cultural tourism,Tanzania Mission Abroad,Independent,No,...,No,No,No,70,0,Cash,Yes,"Wonderful Country, Landscape, Nature",711262.5,Europe
tour_1028,KENYA,45-64,Alone,0.0,1.0,Business,Wildlife tourism,"Friends, relatives",Independent,No,...,No,No,No,4,0,Cash,Yes,No comments,497250.0,East Africa
tour_1029,SWIZERLAND,45-64,Children,1.0,1.0,Leisure and Holidays,Wildlife tourism,"Friends, relatives",Package Tour,Yes,...,No,No,No,10,0,Credit Card,No,Friendly People,7458750.0,Europe
tour_103,ALGERIA,25-44,Spouse,1.0,1.0,Leisure and Holidays,Beach tourism,"Radio, TV, Web",Independent,No,...,No,No,No,0,11,Cash,Yes,Wildlife,3734347.5,North Africa
tour_1030,IRELAND,2024-01-01 00:00:00,Friends/Relatives,1.0,1.0,Leisure and Holidays,Wildlife tourism,others,Independent,No,...,No,No,No,20,6,Cash,Yes,Friendly People,5673325.0,Europe
tour_1032,DENMARK,2024-01-01 00:00:00,Friends/Relatives,2.0,2.0,Scientific and Academic,Beach tourism,"Friends, relatives",Independent,No,...,No,No,No,15,7,Cash,Yes,No comments,400000.0,Europe
tour_1033,UNITED KINGDOM,25-44,Alone,0.0,1.0,Business,Wildlife tourism,"Travel, agent, tour operator",Independent,No,...,No,No,No,1,0,Credit Card,Yes,No comments,663000.0,Europe
tour_1034,GERMANY,2024-01-01 00:00:00,Alone,1.0,0.0,Leisure and Holidays,Wildlife tourism,"Friends, relatives",Independent,No,...,No,No,No,24,4,Cash,Yes,Good service,453866.0,Europe
tour_1035,SPAIN,45-64,Spouse and Children,3.0,1.0,Leisure and Holidays,Wildlife tourism,"Travel, agent, tour operator",Package Tour,Yes,...,Yes,Yes,Yes,4,4,Cash,Yes,Wildlife,25442625.0,Europe
tour_1036,FRANCE,2024-01-01 00:00:00,Alone,0.0,1.0,Leisure and Holidays,Conference tourism,others,Package Tour,No,...,Yes,Yes,Yes,11,3,Cash,Yes,"Wonderful Country, Landscape, Nature",6961500.0,Europe
tour_1038,UNITED KINGDOM,2024-01-01 00:00:00,Alone,0.0,1.0,Volunteering,Hunting tourism,"Friends, relatives",Independent,No,...,No,No,No,56,0,Credit Card,No,Friendly People,1707030.0,Europe
tour_1039,UNITED KINGDOM,45-64,Alone,1.0,0.0,Visiting Friends and Relatives,Hunting tourism,"Friends, relatives",Independent,No,...,No,No,No,12,0,Cash,No,Friendly People,5690100.0,Europe
tour_104,ITALY,45-64,Friends/Relatives,2.0,0.0,Leisure and Holidays,Wildlife tourism,"Radio, TV, Web",Package Tour,Yes,...,Yes,No,No,6,5,Cash,Yes,Excellent Experience,2652000.0,Europe
tour_1040,EGYPT,2024-01-01 00:00:00,Alone,0.0,1.0,Visiting Friends and Relatives,Bird watching,"Travel, agent, tour operator",Package Tour,Yes,...,No,No,No,2,0,Cash,Yes,No comments,2320500.0,North Africa
tour_1041,UNITED KINGDOM,45-64,Alone,1.0,0.0,Visiting Friends and Relatives,Hunting tourism,"Friends, relatives",Independent,No,...,No,No,No,11,0,Cash,No,No comments,4267575.0,Europe
tour_1042,QATAR,25-44,Friends/Relatives,2.0,2.0,Leisure and Holidays,Wildlife tourism,"Friends, relatives",Package Tour,Yes,...,Yes,Yes,No,13,10,Cash,No,Wildlife,17316000.0,QATAR
tour_1043,MOZAMBIQUE,2024-01-01 00:00:00,Alone,1.0,0.0,Visiting Friends and Relatives,Hunting tourism,"Friends, relatives",Independent,No,...,No,No,No,3,0,Cash,Yes,Excellent Experience,663000.0,Southern Africa
tour_1045,KENYA,45-64,Alone,1.0,0.0,Scientific and Academic,Mountain climbing,inflight magazines,Package Tour,Yes,...,No,No,No,5,0,Credit Card,No,Wildlife,3812250.0,East Africa
tour_1046,CHINA,25-44,Alone,1.0,0.0,Leisure and Holidays,Beach tourism,"Newspaper, magazines,brochures",Independent,No,...,No,No,No,2,0,Other,No,Friendly People,828750.0,CHINA
tour_1047,MALAWI,25-44,Alone,0.0,1.0,Meetings and Conference,Beach tourism,"Friends, relatives",Independent,No,...,No,No,No,21,0,Credit Card,No,Friendly People,3000000.0,Southern Africa
tour_1048,UNITED KINGDOM,45-64,Spouse,1.0,1.0,Visiting Friends and Relatives,Beach tourism,"Friends, relatives",Independent,No,...,No,No,No,10,0,Cash,No,Excellent Experience,828750.0,Europe
tour_1049,UNITED KINGDOM,25-44,Children,0.0,3.0,Visiting Friends and Relatives,Beach tourism,"Friends, relatives",Independent,No,...,No,No,No,29,0,Cash,No,No comments,28450500.0,Europe
tour_105,JAPAN,25-44,Alone,1.0,0.0,Volunteering,Cultural tourism,"Travel, agent, tour operator",Independent,No,...,No,No,No,27,2,Cash,Yes,No comments,745875.0,JAPAN
tour_1050,CHINA,2024-01-01 00:00:00,Alone,0.0,1.0,Leisure and Holidays,Wildlife tourism,"Friends, relatives",Independent,No,...,No,No,No,34,4,Cash,Yes,Friendly People,3273562.5,CHINA
tour_1051,UNITED STATES OF AMERICA,45-64,Spouse,1.0,1.0,Leisure and Holidays,Beach tourism,others,Independent,No,...,No,No,No,0,5,Cash,Yes,No comments,3397875.0,UNITED STATES OF AMERICA
tour_1052,UNITED KINGDOM,45-64,Alone,0.0,1.0,Business,business,others,Independent,No,...,No,No,No,20,0,Cash,Yes,Friendly People,6132750.0,Europe
tour_1054,SWEDEN,45-64,Alone,0.0,1.0,Visiting Friends and Relatives,Beach tourism,"Friends, relatives",Package Tour,Yes,...,No,No,No,10,7,Credit Card,No,Friendly People,4992526.0,Europe
tour_1055,NETHERLANDS,25-44,Spouse,1.0,1.0,Leisure and Holidays,Wildlife tourism,"Travel, agent, tour operator",Independent,No,...,No,No,No,10,4,Cash,Yes,No comments,1588531.0,Europe
tour_1057,FRANCE,25-44,Spouse and Children,1.0,2.0,Leisure and Holidays,Wildlife tourism,"Travel, agent, tour operator",Package Tour,Yes,...,Yes,Yes,Yes,4,3,Cash,Yes,No comments,34039950.0,Europe
tour_1058,UAE,25-44,Alone,0.0,1.0,Visiting Friends and Relatives,Beach tourism,"Friends, relatives",Independent,No,...,No,No,No,7,1,Cash,No,Friendly People,1657500.0,UAE

In [1468]:
euro = df[df['upcountry'] == 'Europe' ]
#i=df[df[â€˜Nameâ€™]==â€™Willâ€™]
#print(i)

In [1469]:
euro

,country,age_group,travel_with,total_female,total_male,purpose,main_activity,info_source,tour_arrangement,package_transport_int,...,package_sightseeing,package_guided_tour,package_insurance,night_mainland,night_zanzibar,payment_mode,first_trip_tz,most_impressing,total_cost,upcountry
ID,,,,,,,,,,,,,,,,,,,,,
tour_0,SWIZERLAND,45-64,Friends/Relatives,1.0,1.0,Leisure and Holidays,Wildlife tourism,"Friends, relatives",Independent,No,...,No,No,No,13,0,Cash,No,Friendly People,674602.5,Europe
tour_10,UNITED KINGDOM,25-44,Alone,1.0,0.0,Leisure and Holidays,Cultural tourism,others,Independent,No,...,No,No,No,14,7,Cash,Yes,"Wonderful Country, Landscape, Nature",3214906.5,Europe
tour_1000,UNITED KINGDOM,25-44,Alone,0.0,1.0,Visiting Friends and Relatives,Cultural tourism,"Friends, relatives",Independent,No,...,No,No,No,1,31,Cash,No,Excellent Experience,3315000.0,Europe
tour_1002,UNITED KINGDOM,25-44,Spouse,1.0,1.0,Leisure and Holidays,Wildlife tourism,"Travel, agent, tour operator",Package Tour,No,...,Yes,Yes,No,11,0,Cash,Yes,Friendly People,7790250.0,Europe
tour_1005,UNITED KINGDOM,25-44,Alone,0.0,1.0,Leisure and Holidays,Wildlife tourism,"Travel, agent, tour operator",Package Tour,No,...,Yes,Yes,No,9,3,Cash,Yes,Wildlife,120950.0,Europe
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
tour_985,SWEDEN,45-64,Alone,1.0,0.0,Business,Wildlife tourism,others,Independent,No,...,No,No,No,3,0,Cash,No,No comments,1657500.0,Europe
tour_989,ITALY,45-64,Friends/Relatives,1.0,1.0,Meetings and Conference,Mountain climbing,"Newspaper, magazines,brochures",Independent,No,...,No,No,No,5,0,Cash,Yes,"Wonderful Country, Landscape, Nature",2269330.0,Europe
tour_991,GERMANY,2024-01-01 00:00:00,Friends/Relatives,2.0,0.0,Leisure and Holidays,Beach tourism,"Newspaper, magazines,brochures",Independent,No,...,No,No,No,12,7,Cash,Yes,No comments,331500.0,Europe
tour_995,NETHERLANDS,2024-01-01 00:00:00,Alone,1.0,0.0,Leisure and Holidays,Wildlife tourism,others,Independent,No,...,No,No,No,3,7,Cash,Yes,Good service,2246636.7,Europe
tour_999,UNITED KINGDOM,25-44,Spouse,1.0,1.0,Leisure and Holidays,Wildlife tourism,"Travel, agent, tour operator",Package Tour,Yes,...,Yes,Yes,No,4,7,Cash,Yes,Friendly People,13260000.0,Europe

In [1470]:
df['upcountry'].value_counts()

Europe                      2054
Southern Africa              732
UNITED STATES OF AMERICA     695
East Africa                  451
AUSTRALIA                    186
CANADA                       114
Central Africa               105
INDIA                         87
CHINA                         65
JAPAN                         53
OMAN                          35
UAE                           33
MALAYSIA                      23
NEW ZEALAND                   18
North Africa                  18
ISRAEL                        16
UNITED ARAB EMIRATES          13
KOREA                         12
BRAZIL                        10
TAIWAN                         9
West Africa                    9
QATAR                          8
RUSSIA                         8
SINGAPORE                      7
PAKISTAN                       6
TURKEY                         5
COLOMBIA                       3
INDONESIA                      3
SRI LANKA                      3
LEBANON                        3
YEMEN                          2
PHILIPINES                     2
NEPAL                          2
CHILE                          2
THAILAND                       2
KUWAIT                         2
IRAN                           2
MEXICO                         2
URUGUAY                        1
GEORGIA                        1
ARGENTINA                      1
TRINIDAD TOBACCO               1
COSTARICA                      1
IRAQ                           1
DOMINICA                       1
MYANMAR                        1
BERMUDA                        1
Name: upcountry, dtype: int64

## Asia

In [1471]:
#(//div[@class='elementor-widget-container'])[55]

In [1472]:
#(//div[@class='content-inner'])[1]

In [1473]:
driver.get("https://www.worldometers.info/geography/how-many-countries-in-asia/")   
time.sleep(15)

In [1474]:
i = driver.find_element_by_xpath("(//div[@class='content-inner'])[1]")

C:\Users\KOFI ADUKPO\AppData\Local\Temp\ipykernel_4848\3150918693.py:1: DeprecationWarning: find_element_by_xpath is deprecated. Please use find_element(by=By.XPATH, value=xpath) instead
  i = driver.find_element_by_xpath("(//div[@class='content-inner'])[1]")

In [1475]:
text = i.text
#(//tbody)[1]

In [1476]:
type(text)

str

In [1477]:
rep = text.replace("\n", ". ")

In [1478]:
import re
expression = re.compile(r'([A-Z][^\.!?]*[\.!?])')
new_list = re.findall(expression, rep)

In [1479]:
new_list

['W How many Countries in Asia?',
 'Countries in Asia:.',
 'There are 48 countries in Asia today, according to the United Nations.',
 'The full list is shown in the table below, with current population and subregion (based on the United Nations official statistics).',
 'Not included in this total of "countries" and listed separately are:.',
 'Dependencies (or dependent territories, dependent areas) or Areas of Special Sovereignty (autonomous territories).',
 'Search:.',
 'Country Population.',
 'Subregion.',
 'China 1,439,323,776 Eastern Asia.',
 'India 1,380,004,385 Southern Asia.',
 'Indonesia 273,523,615 South-Eastern Asia.',
 'Pakistan 220,892,340 Southern Asia.',
 'Bangladesh 164,689,383 Southern Asia.',
 'Japan 126,476,461 Eastern Asia.',
 'Philippines 109,581,078 South-Eastern Asia.',
 'Vietnam 97,338,579 South-Eastern Asia.',
 'Turkey 84,339,067 Western Asia.',
 'Iran 83,992,949 Southern Asia.',
 'Thailand 69,799,978 South-Eastern Asia.',
 'Myanmar 54,409,800 South-Eastern Asia.',
 'South Korea 51,269,185 Eastern Asia.',
 'Iraq 40,222,493 Western Asia.',
 'Afghanistan 38,928,346 Southern Asia.',
 'Saudi Arabia 34,813,871 Western Asia.',
 'Uzbekistan 33,469,203 Central Asia.',
 'Malaysia 32,365,999 South-Eastern Asia.',
 'Yemen 29,825,964 Western Asia.',
 'Nepal 29,136,808 Southern Asia.',
 'North Korea 25,778,816 Eastern Asia.',
 'Sri Lanka 21,413,249 Southern Asia.',
 'Kazakhstan 18,776,707 Central Asia.',
 'Syria 17,500,658 Western Asia.',
 'Cambodia 16,718,965 South-Eastern Asia.',
 'Jordan 10,203,134 Western Asia.',
 'Azerbaijan 10,139,177 Western Asia.',
 'United Arab Emirates 9,890,402 Western Asia.',
 'Tajikistan 9,537,645 Central Asia.',
 'Israel 8,655,535 Western Asia.',
 'Laos 7,275,560 South-Eastern Asia.',
 'Lebanon 6,825,445 Western Asia.',
 'Kyrgyzstan 6,524,195 Central Asia.',
 'Turkmenistan 6,031,200 Central Asia.',
 'Singapore 5,850,342 South-Eastern Asia.',
 'Oman 5,106,626 Western Asia.',
 'State of Palestine 5,101,414 Western Asia.',
 'Kuwait 4,270,571 Western Asia.',
 'Georgia 3,989,167 Western Asia.',
 'Mongolia 3,278,290 Eastern Asia.',
 'Armenia 2,963,243 Western Asia.',
 'Qatar 2,881,053 Western Asia.',
 'Bahrain 1,701,575 Western Asia.',
 'Timor-Leste 1,318,445 South-Eastern Asia.',
 'Cyprus 1,207,359 Western Asia.',
 'Bhutan 771,608 Southern Asia.',
 'Maldives 540,544 Southern Asia.',
 'Brunei 437,479 South-Eastern Asia.',
 'Dependencies or other territories.',
 'Territory Population.',
 'Dependency of.',
 'Taiwan 23,816,775 (China).',
 'Hong Kong 7,496,981 China.']

In [1480]:
converted_list = [x.upper() for x in new_list]

In [1481]:
converted_list

['W HOW MANY COUNTRIES IN ASIA?',
 'COUNTRIES IN ASIA:.',
 'THERE ARE 48 COUNTRIES IN ASIA TODAY, ACCORDING TO THE UNITED NATIONS.',
 'THE FULL LIST IS SHOWN IN THE TABLE BELOW, WITH CURRENT POPULATION AND SUBREGION (BASED ON THE UNITED NATIONS OFFICIAL STATISTICS).',
 'NOT INCLUDED IN THIS TOTAL OF "COUNTRIES" AND LISTED SEPARATELY ARE:.',
 'DEPENDENCIES (OR DEPENDENT TERRITORIES, DEPENDENT AREAS) OR AREAS OF SPECIAL SOVEREIGNTY (AUTONOMOUS TERRITORIES).',
 'SEARCH:.',
 'COUNTRY POPULATION.',
 'SUBREGION.',
 'CHINA 1,439,323,776 EASTERN ASIA.',
 'INDIA 1,380,004,385 SOUTHERN ASIA.',
 'INDONESIA 273,523,615 SOUTH-EASTERN ASIA.',
 'PAKISTAN 220,892,340 SOUTHERN ASIA.',
 'BANGLADESH 164,689,383 SOUTHERN ASIA.',
 'JAPAN 126,476,461 EASTERN ASIA.',
 'PHILIPPINES 109,581,078 SOUTH-EASTERN ASIA.',
 'VIETNAM 97,338,579 SOUTH-EASTERN ASIA.',
 'TURKEY 84,339,067 WESTERN ASIA.',
 'IRAN 83,992,949 SOUTHERN ASIA.',
 'THAILAND 69,799,978 SOUTH-EASTERN ASIA.',
 'MYANMAR 54,409,800 SOUTH-EASTERN ASIA.',
 'SOUTH KOREA 51,269,185 EASTERN ASIA.',
 'IRAQ 40,222,493 WESTERN ASIA.',
 'AFGHANISTAN 38,928,346 SOUTHERN ASIA.',
 'SAUDI ARABIA 34,813,871 WESTERN ASIA.',
 'UZBEKISTAN 33,469,203 CENTRAL ASIA.',
 'MALAYSIA 32,365,999 SOUTH-EASTERN ASIA.',
 'YEMEN 29,825,964 WESTERN ASIA.',
 'NEPAL 29,136,808 SOUTHERN ASIA.',
 'NORTH KOREA 25,778,816 EASTERN ASIA.',
 'SRI LANKA 21,413,249 SOUTHERN ASIA.',
 'KAZAKHSTAN 18,776,707 CENTRAL ASIA.',
 'SYRIA 17,500,658 WESTERN ASIA.',
 'CAMBODIA 16,718,965 SOUTH-EASTERN ASIA.',
 'JORDAN 10,203,134 WESTERN ASIA.',
 'AZERBAIJAN 10,139,177 WESTERN ASIA.',
 'UNITED ARAB EMIRATES 9,890,402 WESTERN ASIA.',
 'TAJIKISTAN 9,537,645 CENTRAL ASIA.',
 'ISRAEL 8,655,535 WESTERN ASIA.',
 'LAOS 7,275,560 SOUTH-EASTERN ASIA.',
 'LEBANON 6,825,445 WESTERN ASIA.',
 'KYRGYZSTAN 6,524,195 CENTRAL ASIA.',
 'TURKMENISTAN 6,031,200 CENTRAL ASIA.',
 'SINGAPORE 5,850,342 SOUTH-EASTERN ASIA.',
 'OMAN 5,106,626 WESTERN ASIA.',
 'STATE OF PALESTINE 5,101,414 WESTERN ASIA.',
 'KUWAIT 4,270,571 WESTERN ASIA.',
 'GEORGIA 3,989,167 WESTERN ASIA.',
 'MONGOLIA 3,278,290 EASTERN ASIA.',
 'ARMENIA 2,963,243 WESTERN ASIA.',
 'QATAR 2,881,053 WESTERN ASIA.',
 'BAHRAIN 1,701,575 WESTERN ASIA.',
 'TIMOR-LESTE 1,318,445 SOUTH-EASTERN ASIA.',
 'CYPRUS 1,207,359 WESTERN ASIA.',
 'BHUTAN 771,608 SOUTHERN ASIA.',
 'MALDIVES 540,544 SOUTHERN ASIA.',
 'BRUNEI 437,479 SOUTH-EASTERN ASIA.',
 'DEPENDENCIES OR OTHER TERRITORIES.',
 'TERRITORY POPULATION.',
 'DEPENDENCY OF.',
 'TAIWAN 23,816,775 (CHINA).',
 'HONG KONG 7,496,981 CHINA.']

In [1482]:
co = str(converted_list)

In [1483]:
from itertools import chain

In [1484]:
coming = ' '.join(str(v) for v in converted_list)

In [1485]:
coming

'W HOW MANY COUNTRIES IN ASIA? COUNTRIES IN ASIA:. THERE ARE 48 COUNTRIES IN ASIA TODAY, ACCORDING TO THE UNITED NATIONS. THE FULL LIST IS SHOWN IN THE TABLE BELOW, WITH CURRENT POPULATION AND SUBREGION (BASED ON THE UNITED NATIONS OFFICIAL STATISTICS). NOT INCLUDED IN THIS TOTAL OF "COUNTRIES" AND LISTED SEPARATELY ARE:. DEPENDENCIES (OR DEPENDENT TERRITORIES, DEPENDENT AREAS) OR AREAS OF SPECIAL SOVEREIGNTY (AUTONOMOUS TERRITORIES). SEARCH:. COUNTRY POPULATION. SUBREGION. CHINA 1,439,323,776 EASTERN ASIA. INDIA 1,380,004,385 SOUTHERN ASIA. INDONESIA 273,523,615 SOUTH-EASTERN ASIA. PAKISTAN 220,892,340 SOUTHERN ASIA. BANGLADESH 164,689,383 SOUTHERN ASIA. JAPAN 126,476,461 EASTERN ASIA. PHILIPPINES 109,581,078 SOUTH-EASTERN ASIA. VIETNAM 97,338,579 SOUTH-EASTERN ASIA. TURKEY 84,339,067 WESTERN ASIA. IRAN 83,992,949 SOUTHERN ASIA. THAILAND 69,799,978 SOUTH-EASTERN ASIA. MYANMAR 54,409,800 SOUTH-EASTERN ASIA. SOUTH KOREA 51,269,185 EASTERN ASIA. IRAQ 40,222,493 WESTERN ASIA. AFGHANISTAN 38,928,346 SOUTHERN ASIA. SAUDI ARABIA 34,813,871 WESTERN ASIA. UZBEKISTAN 33,469,203 CENTRAL ASIA. MALAYSIA 32,365,999 SOUTH-EASTERN ASIA. YEMEN 29,825,964 WESTERN ASIA. NEPAL 29,136,808 SOUTHERN ASIA. NORTH KOREA 25,778,816 EASTERN ASIA. SRI LANKA 21,413,249 SOUTHERN ASIA. KAZAKHSTAN 18,776,707 CENTRAL ASIA. SYRIA 17,500,658 WESTERN ASIA. CAMBODIA 16,718,965 SOUTH-EASTERN ASIA. JORDAN 10,203,134 WESTERN ASIA. AZERBAIJAN 10,139,177 WESTERN ASIA. UNITED ARAB EMIRATES 9,890,402 WESTERN ASIA. TAJIKISTAN 9,537,645 CENTRAL ASIA. ISRAEL 8,655,535 WESTERN ASIA. LAOS 7,275,560 SOUTH-EASTERN ASIA. LEBANON 6,825,445 WESTERN ASIA. KYRGYZSTAN 6,524,195 CENTRAL ASIA. TURKMENISTAN 6,031,200 CENTRAL ASIA. SINGAPORE 5,850,342 SOUTH-EASTERN ASIA. OMAN 5,106,626 WESTERN ASIA. STATE OF PALESTINE 5,101,414 WESTERN ASIA. KUWAIT 4,270,571 WESTERN ASIA. GEORGIA 3,989,167 WESTERN ASIA. MONGOLIA 3,278,290 EASTERN ASIA. ARMENIA 2,963,243 WESTERN ASIA. QATAR 2,881,053 WESTERN ASIA. BAHRAIN 1,701,575 WESTERN ASIA. TIMOR-LESTE 1,318,445 SOUTH-EASTERN ASIA. CYPRUS 1,207,359 WESTERN ASIA. BHUTAN 771,608 SOUTHERN ASIA. MALDIVES 540,544 SOUTHERN ASIA. BRUNEI 437,479 SOUTH-EASTERN ASIA. DEPENDENCIES OR OTHER TERRITORIES. TERRITORY POPULATION. DEPENDENCY OF. TAIWAN 23,816,775 (CHINA). HONG KONG 7,496,981 CHINA.'

In [1486]:
come = coming.replace(".", "")
com = come.replace("REPUBLIC", "")
come= com.replace("OF", "")

In [1487]:
come

'W HOW MANY COUNTRIES IN ASIA? COUNTRIES IN ASIA: THERE ARE 48 COUNTRIES IN ASIA TODAY, ACCORDING TO THE UNITED NATIONS THE FULL LIST IS SHOWN IN THE TABLE BELOW, WITH CURRENT POPULATION AND SUBREGION (BASED ON THE UNITED NATIONS FICIAL STATISTICS) NOT INCLUDED IN THIS TOTAL  "COUNTRIES" AND LISTED SEPARATELY ARE: DEPENDENCIES (OR DEPENDENT TERRITORIES, DEPENDENT AREAS) OR AREAS  SPECIAL SOVEREIGNTY (AUTONOMOUS TERRITORIES) SEARCH: COUNTRY POPULATION SUBREGION CHINA 1,439,323,776 EASTERN ASIA INDIA 1,380,004,385 SOUTHERN ASIA INDONESIA 273,523,615 SOUTH-EASTERN ASIA PAKISTAN 220,892,340 SOUTHERN ASIA BANGLADESH 164,689,383 SOUTHERN ASIA JAPAN 126,476,461 EASTERN ASIA PHILIPPINES 109,581,078 SOUTH-EASTERN ASIA VIETNAM 97,338,579 SOUTH-EASTERN ASIA TURKEY 84,339,067 WESTERN ASIA IRAN 83,992,949 SOUTHERN ASIA THAILAND 69,799,978 SOUTH-EASTERN ASIA MYANMAR 54,409,800 SOUTH-EASTERN ASIA SOUTH KOREA 51,269,185 EASTERN ASIA IRAQ 40,222,493 WESTERN ASIA AFGHANISTAN 38,928,346 SOUTHERN ASIA SAUDI ARABIA 34,813,871 WESTERN ASIA UZBEKISTAN 33,469,203 CENTRAL ASIA MALAYSIA 32,365,999 SOUTH-EASTERN ASIA YEMEN 29,825,964 WESTERN ASIA NEPAL 29,136,808 SOUTHERN ASIA NORTH KOREA 25,778,816 EASTERN ASIA SRI LANKA 21,413,249 SOUTHERN ASIA KAZAKHSTAN 18,776,707 CENTRAL ASIA SYRIA 17,500,658 WESTERN ASIA CAMBODIA 16,718,965 SOUTH-EASTERN ASIA JORDAN 10,203,134 WESTERN ASIA AZERBAIJAN 10,139,177 WESTERN ASIA UNITED ARAB EMIRATES 9,890,402 WESTERN ASIA TAJIKISTAN 9,537,645 CENTRAL ASIA ISRAEL 8,655,535 WESTERN ASIA LAOS 7,275,560 SOUTH-EASTERN ASIA LEBANON 6,825,445 WESTERN ASIA KYRGYZSTAN 6,524,195 CENTRAL ASIA TURKMENISTAN 6,031,200 CENTRAL ASIA SINGAPORE 5,850,342 SOUTH-EASTERN ASIA OMAN 5,106,626 WESTERN ASIA STATE  PALESTINE 5,101,414 WESTERN ASIA KUWAIT 4,270,571 WESTERN ASIA GEORGIA 3,989,167 WESTERN ASIA MONGOLIA 3,278,290 EASTERN ASIA ARMENIA 2,963,243 WESTERN ASIA QATAR 2,881,053 WESTERN ASIA BAHRAIN 1,701,575 WESTERN ASIA TIMOR-LESTE 1,318,445 SOUTH-EASTERN ASIA CYPRUS 1,207,359 WESTERN ASIA BHUTAN 771,608 SOUTHERN ASIA MALDIVES 540,544 SOUTHERN ASIA BRUNEI 437,479 SOUTH-EASTERN ASIA DEPENDENCIES OR OTHER TERRITORIES TERRITORY POPULATION DEPENDENCY  TAIWAN 23,816,775 (CHINA) HONG KONG 7,496,981 CHINA'

In [1488]:
# i need to get the intersection of countries

In [1489]:
#movi
#come

read = set(result.split()) & set(come.split())

In [1490]:
readd = list(read)

In [1491]:
readd.append("RUSSIA")
readd.append("SRI LANKA")
readd.append("PHILIPINES")

In [1492]:
readd

['PAKISTAN',
 'THAILAND',
 'KUWAIT',
 'TURKEY',
 'OMAN',
 'CYPRUS',
 'KOREA',
 'ARAB',
 'QATAR',
 'MYANMAR',
 'GEORGIA',
 'EMIRATES',
 'ISRAEL',
 'YEMEN',
 'INDIA',
 'IRAQ',
 'MALAYSIA',
 'LEBANON',
 'JAPAN',
 'SOUTH',
 'NEPAL',
 'SRI',
 'INDONESIA',
 'UNITED',
 'SINGAPORE',
 'LANKA',
 'CHINA',
 'IRAN',
 'TAIWAN',
 'RUSSIA',
 'SRI LANKA',
 'PHILIPINES']

In [1493]:
i = len(readd)

In [1494]:
matches = []

for match in list1:
    if readd[i-1] in match:
        matches.append(match)
        i-=1

In [1495]:
type(matches)

list

In [1496]:
i = len(readd)

In [1497]:
i

32

In [1498]:
readd[i-1]

'PHILIPINES'

In [1499]:
type(df)

pandas.core.frame.DataFrame

In [1500]:
df.upcountry.replace(readd, 'Asia', inplace=True)

In [1501]:
asia = df[df['upcountry'] == 'Asia' ]
#i=df[df[â€˜Nameâ€™]==â€™Willâ€™]
#print(i)

In [1502]:
asia

,country,age_group,travel_with,total_female,total_male,purpose,main_activity,info_source,tour_arrangement,package_transport_int,...,package_sightseeing,package_guided_tour,package_insurance,night_mainland,night_zanzibar,payment_mode,first_trip_tz,most_impressing,total_cost,upcountry
ID,,,,,,,,,,,,,,,,,,,,,
tour_1004,CHINA,2024-01-01 00:00:00,Alone,1.0,0.0,Leisure and Holidays,Wildlife tourism,"Travel, agent, tour operator",Independent,No,...,No,No,No,7,4,Cash,Yes,No comments,1657500.0,Asia
tour_1011,INDIA,25-44,Alone,1.0,0.0,Business,Wildlife tourism,"Travel, agent, tour operator",Independent,No,...,No,No,No,5,0,Credit Card,Yes,Friendly People,2486250.0,Asia
tour_1022,MYANMAR,25-44,Alone,1.0,0.0,Meetings and Conference,Wildlife tourism,"Radio, TV, Web",Independent,No,...,No,No,No,5,0,Cash,Yes,Friendly People,331500.0,Asia
tour_1042,QATAR,25-44,Friends/Relatives,2.0,2.0,Leisure and Holidays,Wildlife tourism,"Friends, relatives",Package Tour,Yes,...,Yes,Yes,No,13,10,Cash,No,Wildlife,17316000.0,Asia
tour_1046,CHINA,25-44,Alone,1.0,0.0,Leisure and Holidays,Beach tourism,"Newspaper, magazines,brochures",Independent,No,...,No,No,No,2,0,Other,No,Friendly People,828750.0,Asia
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
tour_962,INDIA,45-64,Alone,0.0,1.0,Meetings and Conference,Wildlife tourism,"Friends, relatives",Independent,No,...,No,No,No,12,0,Credit Card,No,Friendly People,1657500.0,Asia
tour_967,KOREA,2024-01-01 00:00:00,Alone,0.0,1.0,Visiting Friends and Relatives,Beach tourism,"Friends, relatives",Independent,No,...,No,No,No,30,0,Cash,Yes,Wildlife,2154750.0,Asia
tour_970,LEBANON,45-64,Alone,0.0,1.0,Meetings and Conference,Mountain climbing,others,Independent,No,...,No,No,No,4,1,Cash,No,No comments,3315000.0,Asia
tour_982,THAILAND,25-44,Alone,1.0,0.0,Meetings and Conference,Mountain climbing,others,Independent,No,...,No,No,No,5,0,Cash,Yes,Friendly People,414375.0,Asia
tour_987,SINGAPORE,2024-01-01 00:00:00,Friends/Relatives,1.0,1.0,Leisure and Holidays,Conference tourism,"Friends, relatives",Package Tour,Yes,...,No,Yes,No,14,2,Cash,Yes,Good service,9945000.0,Asia

## North America

In [1503]:
driver.get("https://worldpopulationreview.com/country-rankings/countries-in-north-america")   
time.sleep(15)

In [1504]:
i = driver.find_element_by_xpath("(//section[@id='dataTable'])[1]")

C:\Users\KOFI ADUKPO\AppData\Local\Temp\ipykernel_4848\180691724.py:1: DeprecationWarning: find_element_by_xpath is deprecated. Please use find_element(by=By.XPATH, value=xpath) instead
  i = driver.find_element_by_xpath("(//section[@id='dataTable'])[1]")

In [1505]:
text = i.text
#(//tbody)[1]

In [1506]:
type(text)

str

In [1507]:
rep = text.replace("\n", ". ")

In [1508]:
import re
expression = re.compile(r'([A-Z][^\.!?]*[\.!?])')
new_list = re.findall(expression, rep)

In [1509]:
new_list

['CSV.',
 'JSON.',
 'Rank.',
 'Country.',
 'Population.',
 'Growth Rate.',
 'Saint Kitts And Nevis 53,871 0.',
 'Dominica 72,344 0.',
 'Antigua And Barbuda 99,509 0.',
 'Saint Vincent And the Grenadines 111,551 0.',
 'Grenada 113,475 0.',
 'Saint Lucia 185,113 0.',
 'Barbados 288,023 0.',
 'Bahamas 400,516 0.',
 'Belize 412,190 1.',
 'Trinidad And Tobago 1,406,585 0.',
 'Jamaica 2,985,094 0.',
 'Panama 4,446,964 1.',
 'Costa Rica 5,182,354 0.',
 'El Salvador 6,550,389 0.',
 'Nicaragua 6,779,100 1.',
 'Honduras 10,221,247 1.',
 'Dominican Republic 11,056,370 0.',
 'Cuba 11,305,652 -0.',
 'Haiti 11,680,283 1.',
 'Guatemala 18,584,039 1.',
 'Canada 38,388,419 0.',
 'Mexico 131,562,772 1.',
 'United States 334,805,269 0.',
 'Countries in North America 2022.']

In [1510]:
converted_list = [x.upper() for x in new_list]

In [1511]:
converted_list

['CSV.',
 'JSON.',
 'RANK.',
 'COUNTRY.',
 'POPULATION.',
 'GROWTH RATE.',
 'SAINT KITTS AND NEVIS 53,871 0.',
 'DOMINICA 72,344 0.',
 'ANTIGUA AND BARBUDA 99,509 0.',
 'SAINT VINCENT AND THE GRENADINES 111,551 0.',
 'GRENADA 113,475 0.',
 'SAINT LUCIA 185,113 0.',
 'BARBADOS 288,023 0.',
 'BAHAMAS 400,516 0.',
 'BELIZE 412,190 1.',
 'TRINIDAD AND TOBAGO 1,406,585 0.',
 'JAMAICA 2,985,094 0.',
 'PANAMA 4,446,964 1.',
 'COSTA RICA 5,182,354 0.',
 'EL SALVADOR 6,550,389 0.',
 'NICARAGUA 6,779,100 1.',
 'HONDURAS 10,221,247 1.',
 'DOMINICAN REPUBLIC 11,056,370 0.',
 'CUBA 11,305,652 -0.',
 'HAITI 11,680,283 1.',
 'GUATEMALA 18,584,039 1.',
 'CANADA 38,388,419 0.',
 'MEXICO 131,562,772 1.',
 'UNITED STATES 334,805,269 0.',
 'COUNTRIES IN NORTH AMERICA 2022.']

In [1512]:
co = str(converted_list)

In [1513]:
from itertools import chain

In [1514]:
coming = ' '.join(str(v) for v in converted_list)

In [1515]:
coming

'CSV. JSON. RANK. COUNTRY. POPULATION. GROWTH RATE. SAINT KITTS AND NEVIS 53,871 0. DOMINICA 72,344 0. ANTIGUA AND BARBUDA 99,509 0. SAINT VINCENT AND THE GRENADINES 111,551 0. GRENADA 113,475 0. SAINT LUCIA 185,113 0. BARBADOS 288,023 0. BAHAMAS 400,516 0. BELIZE 412,190 1. TRINIDAD AND TOBAGO 1,406,585 0. JAMAICA 2,985,094 0. PANAMA 4,446,964 1. COSTA RICA 5,182,354 0. EL SALVADOR 6,550,389 0. NICARAGUA 6,779,100 1. HONDURAS 10,221,247 1. DOMINICAN REPUBLIC 11,056,370 0. CUBA 11,305,652 -0. HAITI 11,680,283 1. GUATEMALA 18,584,039 1. CANADA 38,388,419 0. MEXICO 131,562,772 1. UNITED STATES 334,805,269 0. COUNTRIES IN NORTH AMERICA 2022.'

In [1516]:
come = coming.replace(".", "")
com = come.replace("REPUBLIC", "")
come= com.replace("OF", "")

In [1517]:
come

'CSV JSON RANK COUNTRY POPULATION GROWTH RATE SAINT KITTS AND NEVIS 53,871 0 DOMINICA 72,344 0 ANTIGUA AND BARBUDA 99,509 0 SAINT VINCENT AND THE GRENADINES 111,551 0 GRENADA 113,475 0 SAINT LUCIA 185,113 0 BARBADOS 288,023 0 BAHAMAS 400,516 0 BELIZE 412,190 1 TRINIDAD AND TOBAGO 1,406,585 0 JAMAICA 2,985,094 0 PANAMA 4,446,964 1 COSTA RICA 5,182,354 0 EL SALVADOR 6,550,389 0 NICARAGUA 6,779,100 1 HONDURAS 10,221,247 1 DOMINICAN  11,056,370 0 CUBA 11,305,652 -0 HAITI 11,680,283 1 GUATEMALA 18,584,039 1 CANADA 38,388,419 0 MEXICO 131,562,772 1 UNITED STATES 334,805,269 0 COUNTRIES IN NORTH AMERICA 2022'

In [1518]:
# i need to get the intersection of countries

In [1519]:
#movi
#come

read = set(result.split()) & set(come.split())

In [1520]:
readd = list(read)

In [1521]:

readd.append("UNITED STATES OF AMERICA")

In [1522]:
readd

['AMERICA',
 'UNITED',
 'TRINIDAD',
 'MEXICO',
 'STATES',
 'CANADA',
 'DOMINICA',
 'UNITED STATES OF AMERICA']

In [1523]:
i = len(readd)

In [1524]:
matches = []

for match in list1:
    if readd[i-1] in match:
        matches.append(match)
        i-=1

In [1525]:
type(matches)

list

In [1526]:
i = len(readd)

In [1527]:
i

8

In [1528]:
readd[i-1]

'UNITED STATES OF AMERICA'

In [1529]:
type(df)

pandas.core.frame.DataFrame

In [1530]:
df.upcountry.replace(readd, 'North America', inplace=True)

In [1531]:
n_america = df[df['upcountry'] == 'North America' ]
#i=df[df[â€˜Nameâ€™]==â€™Willâ€™]
#print(i)

In [1532]:
n_america

,country,age_group,travel_with,total_female,total_male,purpose,main_activity,info_source,tour_arrangement,package_transport_int,...,package_sightseeing,package_guided_tour,package_insurance,night_mainland,night_zanzibar,payment_mode,first_trip_tz,most_impressing,total_cost,upcountry
ID,,,,,,,,,,,,,,,,,,,,,
tour_1008,UNITED STATES OF AMERICA,45-64,Friends/Relatives,1.0,1.0,Leisure and Holidays,Wildlife tourism,"Travel, agent, tour operator",Package Tour,Yes,...,Yes,Yes,Yes,10,3,Cash,Yes,Friendly People,3480750.0,North America
tour_1013,CANADA,45-64,Children,2.0,0.0,Leisure and Holidays,Beach tourism,"Friends, relatives",Independent,No,...,No,No,No,30,0,Cash,No,Excellent Experience,8121750.0,North America
tour_1016,CANADA,45-64,Children,0.0,2.0,Leisure and Holidays,Wildlife tourism,"Travel, agent, tour operator",Independent,No,...,No,No,No,11,3,Cash,Yes,No comments,331500.0,North America
tour_1051,UNITED STATES OF AMERICA,45-64,Spouse,1.0,1.0,Leisure and Holidays,Beach tourism,others,Independent,No,...,No,No,No,0,5,Cash,Yes,No comments,3397875.0,North America
tour_1065,UNITED STATES OF AMERICA,25-44,Alone,1.0,0.0,Meetings and Conference,Mountain climbing,"Friends, relatives",Independent,No,...,No,No,No,5,0,Credit Card,Yes,Excellent Experience,1491750.0,North America
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
tour_945,CANADA,65+,Spouse,1.0,1.0,Leisure and Holidays,Wildlife tourism,"Travel, agent, tour operator",Package Tour,No,...,Yes,Yes,No,9,3,Cash,Yes,"Wonderful Country, Landscape, Nature",20387250.0,North America
tour_948,UNITED STATES OF AMERICA,45-64,Alone,0.0,1.0,Business,Wildlife tourism,"Travel, agent, tour operator",Package Tour,Yes,...,No,No,No,2,0,Cash,No,Friendly People,3563625.0,North America
tour_969,UNITED STATES OF AMERICA,25-44,Alone,1.0,0.0,Meetings and Conference,Mountain climbing,"Radio, TV, Web",Independent,No,...,No,No,No,3,0,Credit Card,No,Friendly People,497250.0,North America
tour_986,UNITED STATES OF AMERICA,65+,Alone,1.0,0.0,Leisure and Holidays,Wildlife tourism,"Travel, agent, tour operator",Package Tour,Yes,...,Yes,Yes,Yes,19,0,Cash,Yes,Wildlife,18232500.0,North America
tour_994,UNITED STATES OF AMERICA,25-44,Spouse,1.0,1.0,Leisure and Holidays,Wildlife tourism,"Travel, agent, tour operator",Package Tour,Yes,...,Yes,Yes,Yes,11,0,Cash,Yes,Friendly People,10690875.0,North America

## South America

In [1533]:
driver.get("https://worldpopulationreview.com/country-rankings/countries-in-north-america")   
time.sleep(15)

In [1534]:
i = driver.find_element_by_xpath("(//tbody)[1]")

C:\Users\KOFI ADUKPO\AppData\Local\Temp\ipykernel_4848\1135680224.py:1: DeprecationWarning: find_element_by_xpath is deprecated. Please use find_element(by=By.XPATH, value=xpath) instead
  i = driver.find_element_by_xpath("(//tbody)[1]")

In [1535]:
text = i.text
#(//tbody)[1]

In [1536]:
type(text)

str

In [1537]:
rep = text.replace("\n", ". ")

In [1538]:
import re
expression = re.compile(r'([A-Z][^\.!?]*[\.!?])')
new_list = re.findall(expression, rep)

In [1539]:
new_list

['Saint Kitts And Nevis 53,871 0.',
 'Dominica 72,344 0.',
 'Antigua And Barbuda 99,509 0.',
 'Saint Vincent And the Grenadines 111,551 0.',
 'Grenada 113,475 0.',
 'Saint Lucia 185,113 0.',
 'Barbados 288,023 0.',
 'Bahamas 400,516 0.',
 'Belize 412,190 1.',
 'Trinidad And Tobago 1,406,585 0.',
 'Jamaica 2,985,094 0.',
 'Panama 4,446,964 1.',
 'Costa Rica 5,182,354 0.',
 'El Salvador 6,550,389 0.',
 'Nicaragua 6,779,100 1.',
 'Honduras 10,221,247 1.',
 'Dominican Republic 11,056,370 0.',
 'Cuba 11,305,652 -0.',
 'Haiti 11,680,283 1.',
 'Guatemala 18,584,039 1.',
 'Canada 38,388,419 0.',
 'Mexico 131,562,772 1.',
 'United States 334,805,269 0.']

In [1540]:
converted_list = [x.upper() for x in new_list]

In [1541]:
converted_list

['SAINT KITTS AND NEVIS 53,871 0.',
 'DOMINICA 72,344 0.',
 'ANTIGUA AND BARBUDA 99,509 0.',
 'SAINT VINCENT AND THE GRENADINES 111,551 0.',
 'GRENADA 113,475 0.',
 'SAINT LUCIA 185,113 0.',
 'BARBADOS 288,023 0.',
 'BAHAMAS 400,516 0.',
 'BELIZE 412,190 1.',
 'TRINIDAD AND TOBAGO 1,406,585 0.',
 'JAMAICA 2,985,094 0.',
 'PANAMA 4,446,964 1.',
 'COSTA RICA 5,182,354 0.',
 'EL SALVADOR 6,550,389 0.',
 'NICARAGUA 6,779,100 1.',
 'HONDURAS 10,221,247 1.',
 'DOMINICAN REPUBLIC 11,056,370 0.',
 'CUBA 11,305,652 -0.',
 'HAITI 11,680,283 1.',
 'GUATEMALA 18,584,039 1.',
 'CANADA 38,388,419 0.',
 'MEXICO 131,562,772 1.',
 'UNITED STATES 334,805,269 0.']

In [1542]:
co = str(converted_list)

In [1543]:
from itertools import chain

In [1544]:
coming = ' '.join(str(v) for v in converted_list)

In [1545]:
coming

'SAINT KITTS AND NEVIS 53,871 0. DOMINICA 72,344 0. ANTIGUA AND BARBUDA 99,509 0. SAINT VINCENT AND THE GRENADINES 111,551 0. GRENADA 113,475 0. SAINT LUCIA 185,113 0. BARBADOS 288,023 0. BAHAMAS 400,516 0. BELIZE 412,190 1. TRINIDAD AND TOBAGO 1,406,585 0. JAMAICA 2,985,094 0. PANAMA 4,446,964 1. COSTA RICA 5,182,354 0. EL SALVADOR 6,550,389 0. NICARAGUA 6,779,100 1. HONDURAS 10,221,247 1. DOMINICAN REPUBLIC 11,056,370 0. CUBA 11,305,652 -0. HAITI 11,680,283 1. GUATEMALA 18,584,039 1. CANADA 38,388,419 0. MEXICO 131,562,772 1. UNITED STATES 334,805,269 0.'

In [1546]:
come = coming.replace(".", "")
com = come.replace("REPUBLIC", "")
come= com.replace("OF", "")

In [1547]:
come

'SAINT KITTS AND NEVIS 53,871 0 DOMINICA 72,344 0 ANTIGUA AND BARBUDA 99,509 0 SAINT VINCENT AND THE GRENADINES 111,551 0 GRENADA 113,475 0 SAINT LUCIA 185,113 0 BARBADOS 288,023 0 BAHAMAS 400,516 0 BELIZE 412,190 1 TRINIDAD AND TOBAGO 1,406,585 0 JAMAICA 2,985,094 0 PANAMA 4,446,964 1 COSTA RICA 5,182,354 0 EL SALVADOR 6,550,389 0 NICARAGUA 6,779,100 1 HONDURAS 10,221,247 1 DOMINICAN  11,056,370 0 CUBA 11,305,652 -0 HAITI 11,680,283 1 GUATEMALA 18,584,039 1 CANADA 38,388,419 0 MEXICO 131,562,772 1 UNITED STATES 334,805,269 0'

In [1548]:
# i need to get the intersection of countries

In [1549]:
#movi
#come

read = set(result.split()) & set(come.split())

In [1550]:
readd = list(read)

In [1551]:
readd.append("BRAZIL")
readd.append("COLOMBIA")
readd.append("CHILE")
readd.append("UGANDA")
readd.append("TRINIDAD TOBACCO")
readd.append("ARGENTINA")
readd.append("URUGUAY")

In [1552]:
readd

['UNITED',
 'TRINIDAD',
 'MEXICO',
 'STATES',
 'CANADA',
 'DOMINICA',
 'BRAZIL',
 'COLOMBIA',
 'CHILE',
 'UGANDA',
 'TRINIDAD TOBACCO',
 'ARGENTINA',
 'URUGUAY']

In [1553]:
i = len(readd)

In [1554]:
matches = []

for match in list1:
    if readd[i-1] in match:
        matches.append(match)
        i-=1

In [1555]:
type(matches)

list

In [1556]:
i = len(readd)

In [1557]:
i

13

In [1558]:
readd[i-1]

'URUGUAY'

In [1559]:
type(df)

pandas.core.frame.DataFrame

In [1560]:
readd

['UNITED',
 'TRINIDAD',
 'MEXICO',
 'STATES',
 'CANADA',
 'DOMINICA',
 'BRAZIL',
 'COLOMBIA',
 'CHILE',
 'UGANDA',
 'TRINIDAD TOBACCO',
 'ARGENTINA',
 'URUGUAY']

In [1561]:
df.upcountry.replace(readd, 'South America', inplace=True)

In [1562]:
s_america = df[df['upcountry'] == 'South America' ]
#i=df[df[â€˜Nameâ€™]==â€™Willâ€™]
#print(i)

In [1563]:
s_america

,country,age_group,travel_with,total_female,total_male,purpose,main_activity,info_source,tour_arrangement,package_transport_int,...,package_sightseeing,package_guided_tour,package_insurance,night_mainland,night_zanzibar,payment_mode,first_trip_tz,most_impressing,total_cost,upcountry
ID,,,,,,,,,,,,,,,,,,,,,
tour_1012,BRAZIL,25-44,Spouse,1.0,1.0,Leisure and Holidays,Wildlife tourism,"Radio, TV, Web",Independent,No,...,No,No,No,17,3,Cash,Yes,"Wonderful Country, Landscape, Nature",1117155.0,South America
tour_1287,BRAZIL,45-64,Children,2.0,0.0,Leisure and Holidays,Wildlife tourism,"Travel, agent, tour operator",Package Tour,Yes,...,Yes,Yes,No,4,5,Credit Card,Yes,Excellent Experience,27231960.0,South America
tour_1788,COLOMBIA,25-44,Alone,1.0,0.0,Leisure and Holidays,Wildlife tourism,"Travel, agent, tour operator",Package Tour,Yes,...,No,No,No,4,0,Cash,No,No comments,5304000.0,South America
tour_1996,COLOMBIA,2024-01-01 00:00:00,Alone,1.0,0.0,Leisure and Holidays,Wildlife tourism,inflight magazines,Package Tour,No,...,Yes,Yes,Yes,4,0,Cash,Yes,Friendly People,15580500.0,South America
tour_2042,TRINIDAD TOBACCO,25-44,Spouse,1.0,1.0,Business,Wildlife tourism,others,Independent,No,...,No,No,No,20,0,Credit Card,No,No comments,1657500.0,South America
tour_2239,BRAZIL,25-44,Friends/Relatives,1.0,1.0,Business,Wildlife tourism,others,Independent,No,...,No,No,No,10,0,Cash,Yes,Friendly People,4143750.0,South America
tour_2816,BRAZIL,25-44,Friends/Relatives,2.0,0.0,Meetings and Conference,Mountain climbing,"Friends, relatives",Package Tour,No,...,Yes,Yes,No,1,0,Cash,Yes,No comments,4309500.0,South America
tour_3323,CHILE,25-44,Friends/Relatives,1.0,1.0,Leisure and Holidays,Wildlife tourism,"Friends, relatives",Independent,No,...,No,No,No,0,0,Cash,Yes,"Wonderful Country, Landscape, Nature",3315000.0,South America
tour_4170,BRAZIL,25-44,Alone,0.0,1.0,Leisure and Holidays,Wildlife tourism,others,Package Tour,No,...,No,No,No,7,4,Cash,Yes,Wildlife,4395690.0,South America
tour_4615,BRAZIL,45-64,Alone,1.0,0.0,Leisure and Holidays,Wildlife tourism,"Travel, agent, tour operator",Package Tour,Yes,...,Yes,Yes,Yes,5,0,Cash,Yes,Excellent Experience,6845475.0,South America
tour_4733,COLOMBIA,25-44,Friends/Relatives,3.0,2.0,Leisure and Holidays,Beach tourism,"Travel, agent, tour operator",Package Tour,Yes,...,Yes,Yes,Yes,7,4,Cash,Yes,Wildlife,19061250.0,South America
tour_4882,BRAZIL,45-64,Spouse,1.0,1.0,Leisure and Holidays,Wildlife tourism,"Travel, agent, tour operator",Package Tour,Yes,...,Yes,Yes,Yes,5,0,Credit Card,Yes,Excellent Experience,13260000.0,South America
tour_5128,ARGENTINA,45-64,Spouse,1.0,1.0,Leisure and Holidays,Wildlife tourism,"Travel, agent, tour operator",Package Tour,Yes,...,Yes,Yes,No,6,3,Credit Card,Yes,"Wonderful Country, Landscape, Nature",10442250.0,South America
tour_5468,URUGUAY,25-44,Friends/Relatives,1.0,1.0,Leisure and Holidays,Beach tourism,"Radio, TV, Web",Independent,No,...,No,No,No,0,10,Cash,Yes,"Wonderful Country, Landscape, Nature",165750.0,South America
tour_5681,BRAZIL,25-44,Alone,1.0,0.0,Leisure and Holidays,Cultural tourism,"Friends, relatives",Independent,No,...,No,No,No,45,6,Credit Card,Yes,"Wonderful Country, Landscape, Nature",5071950.0,South America
tour_5875,BRAZIL,2024-01-01 00:00:00,Alone,1.0,0.0,Leisure and Holidays,Conference tourism,"Travel, agent, tour operator",Package Tour,Yes,...,Yes,Yes,No,10,4,Cash,Yes,"Wonderful Country, Landscape, Nature",6298500.0,South America
tour_5898,BRAZIL,25-44,Alone,1.0,0.0,Leisure and Holidays,Beach tourism,"Travel, agent, tour operator",Package Tour,No,...,Yes,Yes,No,7,3,Cash,Yes,Wildlife,5469750.0,South America
tour_6108,CHILE,25-44,Alone,0.0,1.0,Leisure and Holidays,Wildlife tourism,"Travel, agent, tour operator",Package Tour,No,...,Yes,Yes,No,13,0,Cash,Yes,Friendly People,574750.0,South America

In [1564]:
df['country'].value_counts()

UNITED STATES OF AMERICA    695
UNITED KINGDOM              533
ITALY                       393
FRANCE                      280
ZIMBABWE                    274
                           ...
NIGER                         1
MYANMAR                       1
DOMINICA                      1
TUNISIA                       1
ESTONIA                       1
Name: country, Length: 105, dtype: int64

## Central America

In [1565]:
driver.get("https://www.worldometers.info/population/latin-america-and-the-caribbean/central-america/")   
time.sleep(15)

In [1566]:
i = driver.find_element_by_xpath("(//div)[17]")

C:\Users\KOFI ADUKPO\AppData\Local\Temp\ipykernel_4848\347343155.py:1: DeprecationWarning: find_element_by_xpath is deprecated. Please use find_element(by=By.XPATH, value=xpath) instead
  i = driver.find_element_by_xpath("(//div)[17]")

In [1567]:
text = i.text
#(//tbody)[1]

In [1568]:
type(text)

str

In [1569]:
rep = text.replace("\n", ". ")

In [1570]:
import re
expression = re.compile(r'([A-Z][^\.!?]*[\.!?])')
new_list = re.findall(expression, rep)

In [1571]:
new_list

['Countries in Central America:.',
 'Mexico.',
 'Guatemala.',
 'Honduras.',
 'Nicaragua.',
 'El Salvador.',
 'Costa Rica.',
 'Panama.']

In [1572]:
converted_list = [x.upper() for x in new_list]

In [1573]:
converted_list

['COUNTRIES IN CENTRAL AMERICA:.',
 'MEXICO.',
 'GUATEMALA.',
 'HONDURAS.',
 'NICARAGUA.',
 'EL SALVADOR.',
 'COSTA RICA.',
 'PANAMA.']

In [1574]:
co = str(converted_list)

In [1575]:
from itertools import chain

In [1576]:
coming = ' '.join(str(v) for v in converted_list)

In [1577]:
coming

'COUNTRIES IN CENTRAL AMERICA:. MEXICO. GUATEMALA. HONDURAS. NICARAGUA. EL SALVADOR. COSTA RICA. PANAMA.'

In [1578]:
come = coming.replace(".", "")
com = come.replace("REPUBLIC", "")
come= com.replace("OF", "")

In [1579]:
come

'COUNTRIES IN CENTRAL AMERICA: MEXICO GUATEMALA HONDURAS NICARAGUA EL SALVADOR COSTA RICA PANAMA'

In [1580]:
# i need to get the intersection of countries

In [1581]:
#movi
#come

read = set(result.split()) & set(come.split())

In [1582]:
readd = list(read)

In [1583]:
readd.append("COSTARICA")

In [1584]:
readd

['MEXICO', 'COSTARICA']

In [1585]:
i = len(readd)

In [1586]:
matches = []

for match in list1:
    if readd[i-1] in match:
        matches.append(match)
        i-=1

In [1587]:
type(matches)

list

In [1588]:
i = len(readd)

In [1589]:
i

2

In [1590]:
readd[i-1]

'COSTARICA'

In [1591]:
type(df)

pandas.core.frame.DataFrame

In [1592]:
df.upcountry.replace(readd, 'Central America', inplace=True)

In [1593]:
c_america = df[df['upcountry'] == 'Central America' ]
#i=df[df[â€˜Nameâ€™]==â€™Willâ€™]
#print(i)

In [1594]:
c_america

,country,age_group,travel_with,total_female,total_male,purpose,main_activity,info_source,tour_arrangement,package_transport_int,...,package_sightseeing,package_guided_tour,package_insurance,night_mainland,night_zanzibar,payment_mode,first_trip_tz,most_impressing,total_cost,upcountry
ID,,,,,,,,,,,,,,,,,,,,,
tour_3170,COSTARICA,25-44,Alone,1.0,0.0,Leisure and Holidays,Wildlife tourism,"Travel, agent, tour operator",Package Tour,Yes,...,Yes,Yes,Yes,4,0,Credit Card,Yes,Friendly People,27183000.0,Central America

In [1595]:
#df['country'] = df['country'].replace('UNITED ARAB EMIRATES','UAE')
df.upcountry.replace('UNITED ARAB EMIRATES', 'UAE', inplace=True)

In [1596]:
uae = df[df['upcountry'] == 'UAE' ]
#i=df[df[â€˜Nameâ€™]==â€™Willâ€™]
#print(i)

In [1597]:
#df['country'] = df['country'].replace('UNITED ARAB EMIRATES','UAE')
df.upcountry.replace(['NEW ZEALAND', 'BERMUDA'], 'OTHERS', inplace=True)

In [1598]:
df.shape

(4809, 23)

In [1599]:
df2 = df.copy()

In [1600]:
df2.shape

(4809, 23)

In [1783]:
#df = df2.copy()

In [1784]:
df['age'] = df['age_group']
#.astype(str)

In [1785]:
df.shape

(4809, 24)

In [1786]:
df['age'] = df['age_group'].astype(str)

In [1787]:
df.age.replace((df['age'])[4], '01-24', inplace=True)

In [1788]:
df['total_people'] = df['total_female']+df['total_female']

In [1789]:
df.shape

(4809, 25)

In [1790]:
df2.shape

(4809, 23)

In [1791]:
Numeric_Data = df._get_numeric_data()
Numeric_Data.head()

,total_female,total_male,night_mainland,night_zanzibar,total_cost,total_people
ID,,,,,,
tour_0,1.0,1.0,13,0,674602.5,2.0
tour_10,1.0,0.0,14,7,3214906.5,2.0
tour_1000,0.0,1.0,1,31,3315000.0,0.0
tour_1002,1.0,1.0,11,0,7790250.0,2.0
tour_1004,1.0,0.0,7,4,1657500.0,2.0

In [1792]:
Numeric_Data.shape

(4809, 6)

In [1793]:
#Categorical_Feature = df.reset_index(drop=False, inplace=True)
Categorical_Feature = df.select_dtypes(include=['object'])
Categorical_Feature.head(2)

,country,age_group,travel_with,purpose,main_activity,info_source,tour_arrangement,package_transport_int,package_accomodation,package_food,package_transport_tz,package_sightseeing,package_guided_tour,package_insurance,payment_mode,first_trip_tz,most_impressing,upcountry,age
ID,,,,,,,,,,,,,,,,,,,
tour_0,SWIZERLAND,45-64,Friends/Relatives,Leisure and Holidays,Wildlife tourism,"Friends, relatives",Independent,No,No,No,No,No,No,No,Cash,No,Friendly People,Europe,45-64
tour_10,UNITED KINGDOM,25-44,Alone,Leisure and Holidays,Cultural tourism,others,Independent,No,No,No,No,No,No,No,Cash,Yes,"Wonderful Country, Landscape, Nature",Europe,25-44

In [1794]:
Categorical_Feature['most_impressing'].value_counts()

Friendly People                         1854
 Wildlife                               1038
No comments                              743
Wonderful Country, Landscape, Nature     507
Good service                             365
Excellent Experience                     271
Satisfies and Hope Come Back              31
Name: most_impressing, dtype: int64

In [1795]:
Categorical_Feature.purpose.replace('Meetings and Conference', 'Business', inplace=True)

In [1796]:
Categorical_Feature['purpose'].value_counts()

Leisure and Holidays              2840
Business                           983
Visiting Friends and Relatives     633
Volunteering                       138
Other                              128
Scientific and Academic             87
Name: purpose, dtype: int64

In [1797]:
Categorical_Feature.purpose.replace('Visiting Friends and Relatives', 'Leisure and Holidays', inplace=True)

In [1798]:
Categorical_Feature['purpose'].value_counts()

Leisure and Holidays       3473
Business                    983
Volunteering                138
Other                       128
Scientific and Academic      87
Name: purpose, dtype: int64

In [1799]:
Categorical_Feature.head(1)

,country,age_group,travel_with,purpose,main_activity,info_source,tour_arrangement,package_transport_int,package_accomodation,package_food,package_transport_tz,package_sightseeing,package_guided_tour,package_insurance,payment_mode,first_trip_tz,most_impressing,upcountry,age
ID,,,,,,,,,,,,,,,,,,,
tour_0,SWIZERLAND,45-64,Friends/Relatives,Leisure and Holidays,Wildlife tourism,"Friends, relatives",Independent,No,No,No,No,No,No,No,Cash,No,Friendly People,Europe,45-64

In [1800]:
Categorical_Feature['purpose'].value_counts()

Leisure and Holidays       3473
Business                    983
Volunteering                138
Other                       128
Scientific and Academic      87
Name: purpose, dtype: int64

In [1801]:
Categorical_Feature = Categorical_Feature.drop(['country', 'age_group', 'most_impressing'], axis = 1)

In [1802]:
Categorical_Feature.columns

Index(['country', 'travel_with', 'purpose', 'main_activity', 'info_source',
       'tour_arrangement', 'package_transport_int', 'package_accomodation',
       'package_food', 'package_transport_tz', 'package_sightseeing',
       'package_guided_tour', 'package_insurance', 'payment_mode',
       'first_trip_tz', 'upcountry', 'age'],
      dtype='object')

In [1803]:
Categorical_Feature.head(1)

,country,travel_with,purpose,main_activity,info_source,tour_arrangement,package_transport_int,package_accomodation,package_food,package_transport_tz,package_sightseeing,package_guided_tour,package_insurance,payment_mode,first_trip_tz,upcountry,age
ID,,,,,,,,,,,,,,,,,
tour_0,SWIZERLAND,Friends/Relatives,Leisure and Holidays,Wildlife tourism,"Friends, relatives",Independent,No,No,No,No,No,No,No,Cash,No,Europe,45-64

In [1804]:
Categorical_Variables = pd.get_dummies(Categorical_Feature)
Categorical_Variables.head(2)

,country_ALGERIA,country_ANGOLA,country_ARGENTINA,country_AUSTRALIA,country_AUSTRIA,country_BELGIUM,country_BERMUDA,country_BRAZIL,country_BURGARIA,country_BURUNDI,...,upcountry_North America,upcountry_OTHERS,upcountry_South America,upcountry_Southern Africa,upcountry_UAE,upcountry_West Africa,age_01-24,age_25-44,age_45-64,age_65+
ID,,,,,,,,,,,,,,,,,,,,,
tour_0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
tour_10,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0

In [1805]:
Categorical_Variables.shape

(4809, 171)

In [1806]:
Categorical_Variables.columns

Index(['country_ALGERIA', 'country_ANGOLA', 'country_ARGENTINA',
       'country_AUSTRALIA', 'country_AUSTRIA', 'country_BELGIUM',
       'country_BERMUDA', 'country_BRAZIL', 'country_BURGARIA',
       'country_BURUNDI',
       ...
       'upcountry_North America', 'upcountry_OTHERS',
       'upcountry_South America', 'upcountry_Southern Africa', 'upcountry_UAE',
       'upcountry_West Africa', 'age_01-24', 'age_25-44', 'age_45-64',
       'age_65+'],
      dtype='object', length=171)

In [1807]:
Com = [Categorical_Variables, Numeric_Data]
Complete_Variables = pd.concat(Com, axis=1, join='inner')
Complete_Variables.head(2)

,country_ALGERIA,country_ANGOLA,country_ARGENTINA,country_AUSTRALIA,country_AUSTRIA,country_BELGIUM,country_BERMUDA,country_BRAZIL,country_BURGARIA,country_BURUNDI,...,age_01-24,age_25-44,age_45-64,age_65+,total_female,total_male,night_mainland,night_zanzibar,total_cost,total_people
ID,,,,,,,,,,,,,,,,,,,,,
tour_0,0,0,0,0,0,0,0,0,0,0,...,0,0,1,0,1.0,1.0,13,0,674602.5,2.0
tour_10,0,0,0,0,0,0,0,0,0,0,...,0,1,0,0,1.0,0.0,14,7,3214906.5,2.0

In [1808]:
Complete_Variables.shape

(4809, 177)

## Predicting

In [1809]:
Y = Complete_Variables['total_cost']
X = Complete_Variables.drop('total_cost', axis=1)

In [1810]:
testdf = pd.read_excel ("C:\\Users\\KOFI ADUKPO\\Desktop\\ML\\zindi_test.xlsx", index_col=0, parse_dates=True)

In [1811]:
testdf.shape

(1601, 163)

In [1812]:
from sklearn import tree
from sklearn.tree import DecisionTreeClassifier
import pydotplus
from sklearn import linear_model
from sklearn.model_selection import train_test_split

In [1813]:
print(X.shape);
print(Y.shape);
testdf.shape

(4809, 176)
(4809,)

(1601, 163)

In [1814]:
X.shape

(4809, 176)

In [1815]:
testdf.shape

(1601, 163)

In [1816]:
nn= list(X.columns)

In [1817]:
bb = list(testdf.columns)

In [1818]:
s = set(nn)
diff = [x for x in bb if x not in s]

In [1819]:
diff

['country_BANGLADESH',
 'country_BOSNIA',
 'country_BOTSWANA',
 'country_BULGARIA',
 'country_GUINEA',
 'country_HAITI',
 'country_JAMAICA',
 'country_LIBERIA',
 'country_MACEDONIA',
 'country_PERU',
 'country_SAUD ARABIA',
 'country_SOMALI',
 'country_VIETNAM',
 'upcountry_BOSNIA',
 'upcountry_MACEDONIA',
 'upcountry_PERU',
 'upcountry_SAUD ARABIA',
 'upcountry_SOMALI']

In [1820]:
testdf = testdf.drop(diff, axis = 1)

In [1821]:
testdf.shape

(1601, 145)

In [1822]:
X.shape

(4809, 176)

In [1823]:
nn= list(testdf.columns)

In [1824]:
bb = list(X.columns)

In [1825]:
s = set(nn)
diff = [x for x in bb if x not in s]

In [1826]:
diff

['country_ALGERIA',
 'country_ANGOLA',
 'country_BERMUDA',
 'country_BURGARIA',
 'country_COLOMBIA',
 'country_CROATIA',
 'country_DJIBOUT',
 'country_ESTONIA',
 'country_GEORGIA',
 'country_IRAQ',
 'country_IVORY COAST',
 'country_KUWAIT',
 'country_LATVIA',
 'country_LESOTHO',
 'country_LITHUANIA',
 'country_LUXEMBOURG',
 'country_MADAGASCAR',
 'country_MAURITIUS',
 'country_MEXICO',
 'country_MONTENEGRO',
 'country_MYANMAR',
 'country_NEPAL',
 'country_NIGER',
 'country_NIGERIA',
 'country_SLOVENIA',
 'country_SRI LANKA',
 'country_THAILAND',
 'country_TRINIDAD TOBACCO',
 'country_TUNISIA',
 'country_TURKEY',
 'country_URUGUAY']

In [1828]:
X = X.drop(diff, axis = 1)

In [1829]:
testdf.shape

(1601, 145)

In [1830]:
X.shape

(4809, 145)

In [1831]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()

In [1832]:
# Fit on training set only.
scaler.fit(X)

StandardScaler()

In [1833]:
testdf = testdf[list(X.columns)]

In [1834]:
# Apply transform to both the training set and the test set.
train_x = scaler.transform(X)
test_x = scaler.transform(testdf)

In [1835]:
from sklearn.decomposition import PCA
# Make an instance of the Model
pca = PCA(.95)

In [1836]:
pca.fit(train_x)

PCA(n_components=0.95)

In [1837]:
train_x = pca.transform(train_x)
test_x = pca.transform(test_x)

In [1838]:
regr = linear_model.LinearRegression()
#regr.fit(X, y)

In [1839]:
regr.fit(train_x, Y)

LinearRegression()

In [1840]:
predicted = regr.predict(test_x)
#predicted = regr.predict(test_x)

In [1841]:
predicted

array([21553182.44569814, 14386362.35950285,  5268073.77657402, ...,
       -2236284.20943897,  2734988.49383963,  6831715.01326288])

In [1842]:
rt = testdf.drop(list(testdf.columns), axis = 1)

In [1843]:
rt['total_cost'] = list(predicted)

In [1844]:
rt.head(10)

             total_cost
ID
tour_1     2.155318e+07
tour_100   1.438636e+07
tour_1001  5.268074e+06
tour_1006  5.653663e+06
tour_1009  1.618480e+07
tour_1010  1.101320e+07
tour_1014  5.463247e+06
tour_1015  3.435278e+06
tour_1019 -1.906129e+06
tour_1020  4.319470e+06

In [1845]:
rt.shape

(1601, 1)

In [1846]:
# determining the name of the file
file_name = "C:\\Users\\KOFI ADUKPO\\Desktop\\ML\\output.xlsx"
#"C:\Users\KOFI ADUKPO\Desktop\ML\output.xlsx"  
# saving the excel
rt.to_excel(file_name)